<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink" lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script>document.documentElement.classList.add('has-js');</script><title>ECONOME présente : l'achat local</title>
<meta charset="UTF-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#ff0000">
<link rel="icon" href="data:;base64,iVBORwOKGO=">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="stylesheet" href="assets/css/utilities/u-superdiv.css">
<link rel="stylesheet" href="assets/css/theme.min.css">
<link rel="stylesheet" href="assets/css/theme/t-dark_scheme.css" media="screen and (prefers-color-scheme: dark)">
<link rel="stylesheet" href="assets/css/components/c-arrows.css">
<link rel="stylesheet" href="assets/css/patterns/p-provenance.css">
<link rel="stylesheet" href="assets/css/patterns/p-auto_line-height.css">
<link rel="stylesheet" href="assets/css/layout/l-master_composition.css">
<link rel="stylesheet" href="assets/css/x-quarantine.css">
</head>
<body>
<input type="checkbox" class="toggle-internal-nav"><link rel="stylesheet" href="assets/css/components/c-internal_nav.css">
<nav><header><span><strong>Econome</strong> présente</span><p>Comment aborder l'achat local</p>
<details><summary><span>En savoir plus sur Econome</span></summary><p>Econome c'est une initiative de commnuication économique populaire. Comme d'autres <i data-wiki="Otto_Neurath">avant nous</i>, nous espérons informer le public dans ses prises de décision politiques grâce à l'exposition de faits économiques.</p>
<p>Econome veut éclairer les enjeux économiques contemporains s'en pour autant prendre position. C'est au public que revient la décision.</p></details></header><ul>
<li>
<a href="#id-1">Introduction</a><ul>
<li><a href="#id-2">C'est qui  ? Et vous ?</a></li>
<li><a href="#id-3">Commençons par le début : c'est quoi acheter localement ?</a></li>
<li><a href="#id-4">Aimez-vous la bière, <span class="username">Joey Joe Joe</span> ?</a></li>
<li data-type="question"><a href="#id-5">Une p'tite question pour commencer...</a></li>
<li><a href="#id-6">Le scénario de départ</a></li>
</ul>
</li>
<li>
<a href="#id-7">La chaîne économique</a><ul>
<li data-type="chaine"><a href="#id-8">Vous, <span class="username">Joey Joe Joe</span></a></li>
<li data-type="chaine"><a href="#id-9">Le dépanneur </a></li>
<li data-type="chaine"><a href="#id-10">Les  inc.</a></li>
<li data-type="chaine"><a href="#id-11">La brasserie </a></li>
<li data-type="chaine"><a href="#id-12"> en Ontario</a></li>
</ul>
</li>
<li>
<a href="#id-14">La valeur ajoutée</a><ul>
<li><a href="#id-15">Le périple du 10 $ à <span class="username">Joey Joe Joe</span></a></li>
<li><a href="#id-19">La répartition complète de la valeur ajoutée</a></li>
<li><a href="#id-21"></a></li>
<li><a href="#id-22">Augmenter le degré de localité de votre consommation</a></li>
<li><a href="#id-23">La locale : 100% québécoise</a></li>
<li><a href="#id-24">La locale :  90% québécoise</a></li>
<li><a href="#id-25">En économie, tout est question de ressources.</a></li>
<li><a href="#id-26">  90% québécoise, 25 % plus chère</a></li>
<li><a href="#id-27">La Locale : 75% québécoise, 25% étrangère</a></li>
<li><a href="#id-29">Les limites de l'achat local</a></li>
<li><a href="#id-30">Pourquoi acheter local ?</a></li>
<li><a href="#id-31">Et puis donc, comment faut-il aborder l'achat local ?</a></li>
</ul>
</li>
<li>
<a href="#id-32">Post-mortem</a><ul><li><a href="#id-33">Votre expérience <span class="sitename">Econome</span></a></li></ul>
</li>
</ul></nav><main>
	<link rel="stylesheet" href="assets/css/layout/l-section_composition.css">
<section data-wordcount="120" data-needed-time="7200">
		<header>

			<h1>Comment aborder l'achat <span class="local">local<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="" viewBox="0 0 6913 6478"><use xlink:href="symbols.svg#svg-basket"></use></svg></i></span>
</h1>
			<p>Un exposé <span class="sitename">Econome</span></p>
		</header>
		<section>
			<p>
				<b>
					Acheter localement est devenu dans les dernières années un sujet économique de choix.
				</b>
			</p>
			<div class="prose">
				<p>Malheureusement, ça ne veut pas dire que nous abordions l'achat local de manière économique. Le rapport du public, nous tou(te)s, à l'achat local doit dépasser les slogans et campagnes de visibilité. C'est ce que cet exposé tentera de faire : développer un raisonnement économique pernettant d'aborder la question de l'achat local de manière informée et réfléchie. De manière <i data-wiki="Rationalité" data-sections="4">rationnelle</i>, quoi !</p>
				<p>Dans les 5 prochaines minutes vous rencontrerez plusieurs concepts simples, appliqués dans un scénario imagé. L'objectif ? Poser les bonnes questions ! Parce qu'au final c'est à vous que revient la décision...</p>
			</div>
			<p><b>Mais bon, où sont nos manières ! Présentons-nous, avant tout.</b></p>
		</section>
		<div>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="basket local" viewBox="0 0 6913 6478" preserveAspectRatio="xMinYMid slice" style="--Top: -50%;"><use xlink:href="symbols.svg#svg-basket"></use></svg>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="basket foreign" viewBox="0 0 6913 6478" preserveAspectRatio="xMinYMax slice" style="--Top: -70%;"><use xlink:href="symbols.svg#svg-basket"></use></svg>
		</div>
	</section>
	<h2 id="id-1">Introduction</h2>
	<section data-wordcount="191" data-needed-time="11460" id="id-2">
		<header>
			<h3>C'est qui <em>nous</em> ? Et vous ?</h3>
		</header>
		<section>
			<div class="grille">
				<header>
					<h4>Qui sommes-nous ?</h4>
				</header>
				<div class="prose">
					<p><b>Nous sommes deux amis et partenaires unis dans une quête de démystification économique.</b></p>
					<p>Nous espérons communiquer l'analyse économique de manière à éclairer nos décisions communes. Exposer les implications (inéluctables !) de nos actions économiques et laisser le public « se faire une tête », comme on dit.</p>
				</div>
				<aside>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_emma animated" viewBox="0 0 377 480"><use xlink:href="symbols.svg#svg-emma"></use></svg>

					<div>
						<header>
							<h5>Marc-André</h5>
							<small>concepteur éclectique</small>
						</header>
						<p><b>Hello !</b></p>
						<p>Je suis le concepteur de <span class="sitename">Econome</span>. J'interviendrai ici et là pour illustrer certains aspects et vous, oui vous, questionner sur.. surprise ! Vous verrez bien. <b>Mystère !</b> </p>
					</div>
				</aside>
				<aside>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
					<div>
						<header>
							<h5>Henri</h5>
							<small>économiste aguerri</small>
						</header>
						<p><b>Bonjour !</b></p>
						<p>Alors moi, c'est Henri. Je suis l'économiste de l'équipe. Je serai là pour résumer ou expliquer les concepts importants. L'analyse, les modèles et les chiffres, c'est de moi !</p>
					</div>
				</aside>
			</div>
		</section>
		<section>
			<div class="grille">
				<header><h4>Et vous ?</h4></header>
				<div class="prose">
					<p>
						<b>Pouvons-nous nous permettre de vous demander quelques informations personnelles..?</b>
					</p>
					<p>Question de dresser un portrait de votre expérience. Par ailleurs, ce portrait est publiquement accessible de lecture en accédant à <a href="">ce document Google Sheet</a>.</p>
				</div>
				<form>
					<link rel="stylesheet" href="assets/css/components/c-fieldset.css">
<fieldset>
						<p>Par quel nom/pseudonyme voudriez-vous qu'on vous interpelle ?</p>
						<label for="nom">
							<span>Votre nom</span>
							<input id="nom" type="text" placeholder="Joey Joe Joe" required="">
						</label>
					</fieldset>
					<fieldset>
						<p>Iriez-vous jusqu'à nous donner votre âge ?</p>
						<label for="age">
							<span>Votre âge</span>
							<input id="age" type="text" placeholder="102" required="">
							<span>belles années.</span>
						</label>
						<!-- Insérer un choix de qualité de vie ? (Belles, bonnes, moyennes, difficile, etc.) -->
					</fieldset>
				</form>
				<aside>
					<p>Vous n'êtes pas tenu de répondre la vérité... ni même de répondre du tout. Mais ça peut être plus efficace (wiki) pour tout le monde.</p>
				</aside>
			</div>
		</section>

	</section>
	
	<section data-wordcount="167" data-needed-time="10020" id="id-3">
		<header>
			<h3>Commençons par le début : c'est quoi acheter localement ?</h3>
		</header>
		<section>
			<div class="grille">
				<div class="prose">
					<p><b>On parlera d'achat local lorsqu'on magasine à la <span class="local">boutique du coin</span> plutôt que sur <span class="foreign">Amazon</span>. Ou lorsqu'on choisit une <span class="local">bière du Québec</span> plutôt qu'un <span class="foreign">vin de l'Ontario</span>.</b></p>
					<p>Ça nous importe peu ici, <span class="username">Joey Joe Joe</span>. Ce qui nous importe plutôt, c'est analyser les répercussions du <strong>changement de comportement économique</strong> nécessaire à l'augmentation des achats locaux.</p>
					<p>Changer ainsi la composition de nos achats change à son tour la composition de l'entièreté de l'activité économique. C'est cette <strong>relation entre notre comportement d'achat et la composition de l'économie</strong> qu'il nous faut bien comprendre pour acheter de manière efficace.</p>
					<p><b>Parce que l'achat local, c'est un moyen. Un moyen d'arriver à un objectif.</b></p>
				</div>
				<aside>
					<div>
						<h4>L'achat local vu par d'autres</h4>
						<ul>
							<li><a href="https://www.protegez-vous.ca/argent/achat-local-definition">Protégez-vous</a></li>
							<li><a href="https://www.fondsftq.com/fr-ca/particuliers/epargne-positive/pourquoi-acheter-local#:~:text=Mais%20qu'est%2Dce%20que,entreprises%20qu%C3%A9b%C3%A9coises%20aux%20grandes%20multinationales.">Fonds FTQ</a></li>
							<li><a href="https://coalitionavenirquebec.org/fr/blog/editionspeciale/lachat-local-est-ce-que-ca-vaut-la-peine/">La CAQ</a></li>
						</ul>
					</div>
				</aside>
			</div>
		</section>
		<aside>
			<div>
				<q>Il faut acheter québécois, il faut acheter local, c’est important pour nos entreprises québécoises, et puis c’est important pour nos travailleurs/travailleuses québécois de ces entreprises-là.</q>
				<cite>François Legault, Premier Ministre du Québec</cite>
			</div>
		</aside>
		<figure>
			<img src="assets/img/hochelaga-local.jpg" alt="Affiche promouvant l'achat local dans un lieu public de Hochelaga">
			<figcaption>Promotion de l'achat local dans un lieu public de Hochelaga</figcaption>
		</figure>
	</section>
	<section data-wordcount="62" data-needed-time="3720" id="id-4">
		<header>
			<h3>Aimez-vous la bière, <span class="username">Joey Joe Joe</span> ?</h3>
			<!-- <form> -->
			<!-- 	<fieldset> -->
			<!-- 		<p>Aimez-vous la bière ?</p> -->
			<!-- 		<div> -->
			<!-- 			<label> -->
			<!-- 				<input type="radio" name="aimer-biere" required="" /> -->
			<!-- 				<span>Oui !</span> -->
			<!-- 			</label> -->
			<!-- 			<label> -->
			<!-- 				<input type="radio" name="aimer-biere" /> -->
			<!-- 				<span>Non !</span> -->
			<!-- 			</label> -->
			<!-- 			<label> -->
			<!-- 				<input type="radio" name="aimer-biere" /> -->
			<!-- 				<span>Je ne bois pas</span> -->
			<!-- 			</label> -->
			<!-- 		</div> -->
			<!-- 	</fieldset> -->
			<!-- </form> -->
		</header>
		<section>
			<p>Parce que notre exposé repose bel et bien sur notre consommation de bière. Québécoise, bien entendu. C'est bon, la bière. Mais surtout, ça se porte bien à l'analyse de la consommation locale.</p>
			<p>En tout cas, si vous aimez la bière, tant mieux. Sinon, pourriez-vous faire semblant durant les prochaines minutes ? Nous vous en serions reconnaissants. Humhum.</p>
		</section>
	</section>
	<section data-wordcount="82" data-needed-time="4920" data-type="question" id="id-5">
		<header>
			<h3>Une p'tite question pour commencer...</h3>
			<p>Selon vous, les achats suivants constitueraient-ils des achats locaux ?</p>
		</header>
		<section>
			<form>
				<fieldset>
					<div class="grille">
						<p>Acheter une caisse de Heineken au dépanneur du coin.</p>
						<div>
							<label><input type="radio" name="heineken"><span class="local">Oui !</span></label>
							<label><input type="radio" name="heineken"><span class="foreign">Non !</span></label>
							<label><input type="radio" name="heineken"><span>Pas sûr...</span></label>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="grille">
						<p>Acheter pinte de Guinness à votre bar préféré.</p>
						<div>
							<label><input type="radio" name="guinness"><span class="local">Oui !</span></label>
							<label><input type="radio" name="guinness"><span class="foreign">Non !</span></label>
							<label><input type="radio" name="guinness"><span>Pas sûr...</span></label>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="grille">
						<p>Acheter une caisse de Boréale chez Wal-Mart.</p>
						<div>
							<label><input type="radio" name="heineken"><span class="local">Oui !</span></label>
							<label><input type="radio" name="heineken"><span class="foreign">Non !</span></label>
							<label><input type="radio" name="heineken"><span>Pas sûr...</span></label>
						</div>
					</div>
				</fieldset>
			</form>
		</section>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_emma animated" viewBox="0 0 377 480"><use xlink:href="symbols.svg#svg-emma"></use></svg>
			<div>
				<p><b>Il n'y a pas de bonnes ou mauvaises réponses !</b></p>
				<p>C'est tout simplement pour évaluer si votre perspective aura évolué au long de l'exposé. Il est toujours possible de consulter les données <a href="#">ici</a>.</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="129" data-needed-time="7740" id="id-6">
		<header>
			<h3>Le scénario de départ</h3>
		</header>
		<link rel="stylesheet" href="assets/css/components/c-chain.css">
<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-0" hx-trigger="revealed"></article>
		<section>
			<div class="prose">
				<p><b>Vous, <span class="username">Joey Joe Joe</span>, en tant que grand amateur de bière, avez soif.</b></p>
				<p>En ces moments de chaleur, rien n'étanche cette viscérale soif comme votre bière québécoise préférée : La Moyenne. En vous levant de votre divan, vous mettez en branle toute une suite d'<i data-wiki="Agent_économique">agents</i> qui se partagent les rôles économiques nécessaires à votre achat de bière, depuis sa production jusqu'à sa consommation</p>
				<p>Reconstituons cette chaîne ensemble.</p>
			</div>
			<aside>
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
				<div>
					<p>La chaîne économique est le premier concept que nous abordons. Analyser la chaîne économique d'un achat, son parcours en quelque sorte, est nécessaire pour en comprendre les retombées !</p>
				</div>
			</aside>
		</section>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_robinson animated" viewBox="0 0 382 394"><use xlink:href="symbols.svg#svg-robinson"></use></svg>
			<div>
				<q> Étudier l’économie ne sert pas à acquérir des réponses toutes faites aux questions économiques mais plutôt à apprendre comment ne pas être trompé par les économistes.</q>
				<cite>— <i data-wiki="Joan_Robinson">Joan Robinson</i></cite>
			</div>
		</aside>
	</section>
	<h2 id="id-7">La chaîne économique</h2>
	<section data-wordcount="121" data-needed-time="7260" data-type="chaine" id="id-8">
		<header>
			<h3>Vous, <span class="username">Joey Joe Joe</span>
</h3>
			<p>êtes assoiffé. Vous rêvez d'une bonne Moyenne, bien froide.</p>
		</header>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-1" hx-trigger="revealed"></article>
		<section>
			<div class="grille">
				<div class="prose">
					<p><b>Votre rôle économique est celui du <i data-wiki="Consommateur" data-sections="2">consommateur</i>.</b></p>
					<p>Vous êtes le maîllon ultime de la chaîne, celui sans lequel la chaîne n'a de raison d'exister. Vous êtes à la fois le point de départ et le point d'arrivée de celle-ci (vous verrez !).</p>
					<p>La façon dont vous allez acheter &amp; consommer votre bière détermine la constitution complète de la chaîne. Par exemple, dans ce cas-ci <span class="username">Joey Joe Joe</span>, vous allez acheter votre Moyenne au dépanneur du coin. À partir de ce comportement économique, se déroule notre chaîne d'agents.</p>
				</div>
				<aside>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
					<div>
						<p>Tous les chiffres utilisés dans le reste de notre exposé proviennent de Statistiques Canada et représentent <strong>en moyenne</strong> 😉  l'industrie brassicole québécoise.</p>
					</div>
				</aside>
			</div>
		</section>
	</section>
	<section data-wordcount="105" data-needed-time="6300" data-type="chaine" id="id-9">
		<header>

			<h3>Le dépanneur <span class="local">Commun+</span>
</h3>
			<p>au coin de votre rue, détient toujours une quantité suffisante de <span class="local">🍺 Moyenne.</span></p>
		</header>	

		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-2" hx-trigger="revealed"></article>

		<section>
			<div class="grille">
				<div class="prose">
					<p><b>Le dépanneur joue le rôle du <i data-wiki="Commerce_de_détail">détaillant</i>. Il stocke une certaine quantité de Moyenne pour la vendre à de fins <em>connoisseurs</em> comme vous, <span class="username">Joey Joe Joe</span>.</b></p>
					<p>Le détaillant amène <i data-wiki="Bien_(économie)">le bien de consommation</i> — votre Moyenne — d'un point A à un point B. Sans le détaillant, votre bière vous serait difficilement accessible !</p>
					<p>Tout de même, la Moyenne n'apparaît pas d'elle-même dans les réfrigérateurs de votre dépanneur Commun+. Lui aussi, en tant que détaillant, achète à son tour la Moyenne qu'il vous offre. Il doit effectivement s'approvisionner quelque part...</p>
				</div>
			</div>
		</section>
	</section>
	<section data-wordcount="138" data-needed-time="8280" data-type="chaine" id="id-10">
		<header>

			<h3>Les <span class="local">Entrepôts Correct</span> inc.</h3>
			<p>reçoit, entrepose puis transporte plusieurs palettes de Moyenne.</p>
		</header>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-3" hx-trigger="revealed"></article>
		<section>
			<div class="grille">
				<div class="prose">
					<p><b>Les Entrepôts Correct inc. combine les rôles à la fois de <i data-wiki="Commerce_de_gros">grossiste</i> mais aussi du <i data-wiki="Le_Transporteur">transporteur</i> !</b></p>
					<p>Le grossiste entrepose de vastes quantités de biens. Il permet ainsi une production élargie du bien sans forcer le détaillant à stocker d'aussi grandes quantités pour lesquelles il n'aurait pas l'espace disponible.</p>
					<p>En tant que maillon intermédiaire de la chaîne économique, le grossiste, comme le détaillant avant lui, s'assure que votre Moyenne se rende du point A au point B. </p>

					<p>Mais donc, si le détaillant et le grossiste ne font que rendre disponible notre Moyenne, <strong>qui la produit</strong> ?</p>
				</div>
			</div>
		</section>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_emma animated" viewBox="0 0 377 480"><use xlink:href="symbols.svg#svg-emma"></use></svg>
			<div>
				<p>Sans les Entrepôts Correct, votre Commun+ serait inondé de Moyenne... et il ne pourrait plus vous offrir les bonnes pinottes accompagnant si bien votre bonne Moyenne. <em>Huuummmm... De la bière pis des pinoooottes</em>.</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="147" data-needed-time="8820" data-type="chaine" id="id-11">
		<header>

			<h3>La brasserie <span class="local">Pâpire</span>
</h3>
			<p>comme vous le savez déjà, brasse <span class="local">La Moyenne</span> depuis plus de vingt ans et ce, à votre grand plaisir, <span class="username">Joey Joe Joe</span>.</p>
		</header>

		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-4" hx-trigger="revealed"></article>
		<section>
			<div class="grille">
				<!-- <header><h4>Le transformateur</h4></header> -->
				<div class="prose">
					<p><b>La brasserie Pâpire est le transformateur de notre chaîne. La où la magie (lire : fermentation) s'opère !</b> </p>
					<p>Le transformateur est un agent fondamental, celui qui se procure les <i data-wiki="Consommation_intermédiaire" data-sections="0">biens intermédiaires</i>  et les transforme en biens de consommation. <strong>Bref, sans brasserie, pas de bonne bière !</strong> </p>
					<p>Tout dépendant de ses moyens et, surtout, de <strong>vos habitudes à vous, <span class="username">Joey Joe Joe</span> le consommateur</strong>, la brasserie peut endosser plusieurs rôles de la chaîne. Prendre une bière à la brasserie Pâpire lui fait aussi endosser le rôle de détaillant. Pauvre dépanneur Commun+ !</p>
					<p> Ceci dit, bien que la brasserie soit essentielle à notre chaîne (et à votre dégustation de bière), elle aussi repose sur un autre maillon fondamental qui donne le goût ordinaire, si caractéristique de La Moyenne.</p>
				</div>
			</div>
		</section>
	</section>
	<section data-wordcount="156" data-needed-time="9360" data-type="chaine" id="id-12">
		<header>

			<h3>
<span class="foreign">Ok Hops</span> en Ontario</h3>
			<p>vend les mêmes houblons ordinaires depuis les 20 ans d'existence de la brasserie Pâpire.</p>
		</header>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-5" hx-trigger="revealed"></article>
		<section>
			<div class="grille">
				<!-- <header><h4>Le(s) fournisseur(s)</h4></header> -->
				<div class="prose">
					<p><b>Que l'on parle du verre de la bouteille, de l'eau ou du houblon (comme ici), il aura fallu que ces biens intermédiaires soient eux aussi produits.</b></p>
					<p>La brasserie n'est pas (généralement du moins) aussi productrice de céréales ou de verre, elle se retourne donc vers le dernier maillon de notre chaîne, les fournisseurs. Ce sont eux qui produisent les matières premières nécessaires à la confection d'une bonne Moyenne.</p>
					<p>La brasserie, grâce à son savoir-faire (et ses recettes secrètes) transforme les « intrants » fournis en <span class="local">La Moyenne</span>. À ce titre, les fournisseurs deviennent en pratique tout aussi vitaux que la brasserie dans notre dégustation de bière.    </p>
				</div>
				<aside>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
					<div><p>Le maillon des fournisseurs peut se dérouler très looooongtemps. Car les fournisseurs ont eux aussi des fournisseurs... qui eux aussi ont des fournisseurs. L'arbre est dans ses feuilles, quoi. « Toute est dans toute » !</p></div>
				</aside>
			</div>
		</section>
	</section>
	<section data-wordcount="141" data-needed-time="8460">
		<header>
			<p>Et c'est ainsi que nous avons maintenant un modèle simple mais complet de la chaîne économique de votre achat de Moyenne, <span class="username">Joey Joe Joe</span>.</p>
		</header>
		<section>
			<div class="prose">
				<p><b>Cette chaîne s'avère être la colonne vertébrale de votre consommation. C'est à travers elle que la valeur est ajoutée.</b></p>
				<p>La <i data-wiki="Valeur_ajoutée" data-sections="1">valeur ajoutée</i> est le deuxième concept primordial à une compréhension rationnelle de notre acte de consommation locale. Elle représente la trace économique, de chacun des agents de la chaîne. Grâce à elle, nous pouvons évaluer quelle part de votre satisfaction, <span class="username">Joey Joe Joe</span>, repose sur quelles épaules et beaucoup plus encore.</p>
				<p>Voyons donc dès maintenant comment se répartie la création de valeur ajoutée au sein de la chaîne de votre achat de Moyenne, <span class="username">Joey Joe Joe</span>.</p>
			</div>
		</section>
		<aside>
			
			<div>
				<q>En économie, lorsqu'on emploie les termes « bon » et « mauvais », nous ne pouvons le faire qu'en y ajoutant « pour quelqu'un »...</q>
				<cite><i data-wiki="Otto_Neurath">Otto Neurath</i></cite>
			</div>
		</aside>
	</section>
	<h2 id="id-14">La valeur ajoutée</h2>
	<section data-wordcount="74" data-needed-time="4440" id="id-15">
		<header>
			<h3>Le périple du 10 $ à <span class="username">Joey Joe Joe</span>
</h3>
		</header>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-6" hx-trigger="revealed"></article>
		<section>
			<div class="prose">Retournons à vous, <span class="username">Joey Joe Joe</span> et au 10 piastres que vous utilisez pour acheter votre Moyenne chez Commun+. Ce 10$, c'est la valeur qui est accordée à la Moyenne, valeur que vous-même considérez minimalement égale à 10 $... puisque vous l'échangez pour la Moyenne. </div>
			<aside>
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
				<div>
					<q><b>Humhum.</b> C'est un peu plus compliqué que ça quand même, mais c'est suffisant pour l'usage que nous en faisons ici.</q>
					<cite>— Henri</cite>
				</div>
			</aside>
		</section>
	</section>
	<section data-wordcount="64" data-needed-time="3840">
		<header>

			<p>Commun+ ajoute 1$ de valeur en biens et services, c'est le montant qu'il se garde avant de passer la suite à Entrepôts Correct...</p>
		</header>


		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-7" hx-trigger="revealed"></article>

		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_emma animated" viewBox="0 0 377 480"><use xlink:href="symbols.svg#svg-emma"></use></svg>
			<div>
				<p>Vous pouvez accéder à un aperçu de ce qui constitue la valeur ajoutée par chacun des agents en cliquant sur l'un de ces curieux boutons jaunes...</p>
				<p>Si <em>jamais</em> vous ne vous étiez pas rendu compte de leur intérêt, <span class="username">Joey Joe Joe</span>.</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="22" data-needed-time="1320">
		<header>
			<p>... qui à son tour garde la partie qui lui revient de votre 10$ de butin puis passe le sac au suivant...</p>
		</header>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-8" hx-trigger="revealed"></article>

	</section>
	<section data-wordcount="82" data-needed-time="4920">
		<header>

			<p>... La brasserie Pâpire se garde la part substantielle du 10$ de valeur, parce qu'après tout, c'est elle qui produit votre Moyenne, Joe Joe Joe !</p>
			<p>Malgré tout, une autre part substantielle ira aux fournisseurs en tout genre, dont font partie Ok Hops en Ontario.</p>
		</header>

		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-9" hx-trigger="revealed"></article>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_emma animated" viewBox="0 0 377 480"><use xlink:href="symbols.svg#svg-emma"></use></svg>
			<div>
				<p>Je vous le dis, <span class="username">Joey Joe Joe</span>, c'est super intéressant de regarder la production de valeur de chacun des agents parce que ce sont de vrais estimés de notre production moyenne de bière québécoise !</p>
				<p>Bonbon, j'insiste pas plus.</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="171" data-needed-time="10260" id="id-19">
		<header>
			<h3>La répartition complète de la valeur ajoutée</h3>
		</header>
		<section>
			<div class="prose">
				<p><b>Arrêtons-nous un instant pour regarder notre chaîne de valeur complétée.</b></p>
				<p>Plusieurs faits économiques importants y apparaissent. Notamment, il devient clair que <strong>tous les agents économiques n'ajoutent pas la même valeur</strong>. Il devient tout aussi clair que finalement, votre achat, <span class="username">Joey Joe Joe</span>, <strong>devient l'achat de la chaîne de valeur au complet</strong>. Et c'est là où ça devient intéressant : ultimement votre achat, <span class="username">Joey Joe Joe</span>, présentera toujours un certain <strong>degré de localité</strong></p>
				<p><b>Le degré de localité de votre achat dépend de la chaîne de valeur que vous mettez en action par votre consommation.</b></p>
				<p> Et comme vous pouvez le constater dans la chaîne ici présente, les agents peuvent être soit locaux, soit étrangers. Il s'agit là d'un premier élément d'information quant au degré de localité de notre achat. <strong>Plus il y aura de valeur ajoutée qui soit locale, le plus haut sera le degré de localité de votre achat.</strong> Mais encore, au-delà de la localité des agents dans la chaîne, il y a bien plus important...</p>
			</div>
		</section>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-10" hx-trigger="revealed"></article>
	</section>
	<section data-wordcount="91" data-needed-time="5460">
		<header>
			<p>Il y a la provenance de la valeur ajoutée de chacun !</p>
		</header>
		<section>
			<div class="prose">
				<p><b>Pour aborder l'achat local de manière rationnelle, il nous faut l'aborder en termes de valeur ajoutée.</b></p>
				<p>Effectivement, <span class="username">Joey Joe Joe</span>, le meilleur indicateur du degré de localité c'est <strong>la provenance de la valeur ajoutée de votre achat</strong>. Des agents locaux peuvent <em>acheter</em> de la valeur à l'étranger alors que des agents étrangers peuvent produire de la valeur, ici, localement.</p>
			</div>
		</section>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-11" hx-trigger="revealed"></article>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
			<div>
				<p>Si l'on parle d'achat ou de consommation locale, il faut absolument parler de production locale. L'un ne va pas sans l'autre !</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="57" data-needed-time="3420" id="id-21">
		<header>
			<h3><mark>Où est produite la valeur ajoutée ?</mark></h3>
		</header>
		<section>
			<div>
				<p><b>Voilà la question qu'il faut vous poser, <span class="username">Joey Joe Joe</span> ! Ainsi donc la chaîne économique de votre bière Moyenne produit localement 7.50$ et puis 2.50$ à l'étranger. Ce rapport lui donne un indice de localité de 75%.</b></p>
				<p><b>Avec en main ces données, nous pouvons passer à la prochaine étape notre exposé...</b></p>
			</div>
		</section>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-12" hx-trigger="revealed"></article>

	</section>

	<section data-wordcount="57" data-needed-time="3420" id="id-22">
		<header>
			<h3>Augmenter le degré de localité de votre consommation</h3>
			<p>« Acheter local », nous l'avons dit, implique une augmentation du degré de localité de votre consommation. Présentement, la bière québécoise Moyenne présente un degré de localité de 75%.</p>
		</header>
		<section>
			<div class="prose">
				<p><b>Selon vous, pourrions-nous augmenter le degré de localité de la bière Moyenne à 100%, pour qu'elle soit ainsi <em>entièrement locale</em> ?</b></p>
				<form>
					<fieldset>
						<div class="grille">
							<label>
								<input type="radio" value="oui">
								<span>Oui !</span>
							</label>
							<label>
								<input type="radio" value="non">
								<span>Non !</span>
							</label>
						</div>
					</fieldset>
				</form>
			</div>
		</section>
	</section>
	<section data-wordcount="75" data-needed-time="4500" id="id-23">
		<header>
			<h3>La locale : 100% québécoise</h3>
		</header>
		<section>
			<div class="prose">
				<p><b>Pourrions-nous produire localement l'entièreté de la valeur ajoutée à notre Moyenne ?</b></p>
				<p>D'emblée, nous sommes obligés de dire non. Certains biens intermédiaires, nécessaires à votre consommation de bière, <span class="username">Joey Joe Joe</span>, ne peuvent être produits au Québec, tout simplement parce que la matière première est indisponible ici.</p>
				<p>Cette contrainte matérielle porte le degré maximum de localité possible à 90%. Nous pouvons donc espérer un gain de 15% de localité pour notre Locale.</p>
			</div>
		</section>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-13" hx-trigger="revealed"></article>
	</section>
	<section data-wordcount="114" data-needed-time="6840" id="id-24">
		<header>
			<h3>La locale : <s>100%</s> 90% québécoise</h3>
		</header>
		<section>
			<div class="prose">
				<p><b>Bon. On oublie le 100%. Mais pouvons-nous au minimum nous assurer que nous atteignons le 90% de localité possible ?</b></p>
				<p>Le 15% de localité que nous pouvons aller chercher se situe du côté de la valeur ajoutée par la main-d'œuvre, par les travailleurs et travailleuses donc. La valeur ajoutée produite par la main d'œuvre se traduit en salaire.</p>
				<p>Pour ajouter localement 15% de valeur à votre Locale, <span class="username">Joey Joe Joe</span>, il nous faut donc ajouter de la main d'œuvre locale aux maillons de notre chaîne de valeur économique.</p>
				<p>Combien de travailleurs et travailleuses nous faudrait-il ajouter à notre production locale de bière pour atteindre notre 90% de localité ?</p>
				<p><b>Probablement trop...</b></p>
			</div>
		</section>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-14" hx-trigger="revealed"></article>

	</section>
	<section data-wordcount="105" data-needed-time="6300" id="id-25">
		<header>
			<h3>En économie, tout est question de ressources.</h3>
		</header>
		<section>
			<div class="prose">
				<p>Le fait est que les travailleu(r/se)s du Québec sont une ressource économique, comme le houblon ou l'eau nécessaire pour produire votre Moyenne. </p>
				<p>De surcroît, il s'agit d'une ressource (pré-pandémie et espérons, post-pandémie), rare. Très rare même. La rareté de la main-d'œuvre locale implique qu'on doive la débaucher, c'est-à-dire, la soutirer d'autres industries, qui elles se retrouveront à leur tour en pénurie de main-d'œuvre... Et ainsi se perpétue le cycle de pénurie.</p>
				<p>Ce qui a un effet notable sur...</p>
			</div>
		</section>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-15" hx-trigger="revealed"></article>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
			<div>
				<p><a href="https://www.journaldequebec.com/2021/04/10/un-peu-moins-de-150000-postes-vacants" target="_blank">Plusieurs</a> <a href="https://www.lesaffaires.com/dossier/signaux-forts/penurie-de-main-det8217oeuvre--la-deuxieme-vague/623445" target="_blank">parlent</a> de <a href="https://www.ledevoir.com/opinion/idees/598739/idees-a-propos-de-la-penurie-de-main-d-oeuvre" target="_blank">pénurie</a> de <a href="https://ici.radio-canada.ca/nouvelle/1790287/penurie-main-oeuvre-richesse-appauvrissement-economie-emploi-salaires" target="_blank">main-d'œuvre</a> même.</p>
				<p>Raison de plus alors pour nous assurer d'<i data-wiki="Allocation_des_ressources">allouer cette ressource</i> de manière efficace !</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="198" data-needed-time="11880" id="id-26">
		<header>
			<h3>
<span class="local">La Locale</span> <br> 90% québécoise, 25 % plus chère</h3>
		</header>
		<section>
			<div class="prose">
				<p><b>La pénurie de main-d'œuvre, déjà problématique actuellement, ne peut que s'aggraver à mesure que l'on décide d'augmenter la production locale.</b></p>
				<p>Plus nous augmentons la demande de main-d'œuvre locale, plus celle-ci devra être chère payée pour se déplacer et produire. Une surenchère salariale s'enclenche. Et bien que nous soyons tous heureux d'être mieux rémunéré pour notre production de valeur en tant que travailleurs, il faut considérer l'envers de la médaille : une hausse substantielle des prix.</p>
				<p>Effectivement, le prix que vous devez payer pour votre Locale, <span class="username">Joey Joe Joe</span> est 25% plus élevé que ce que vous déboursiez pour votre Moyenne. Plus important encore, la hausse des prix ainsi déclenchée se transmettra tranquillement d'une industrie à l'autre. On parlera alors de <strong>hausse du niveau général de prix</strong>. Certains appellent cela <i data-wiki="Inflation">inflation</i>.</p>
				<p>Mais, est-ce que cette hausse du niveau général des prix est inévitable ? N'y aurait-il pas de moyen pour l'éviter ?</p>
			</div>
		</section>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-16" hx-trigger="revealed"></article>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
			<div>
				<p>La hausse des prix, conséquence de la pression accrue sur la main d'œuvre locale viendra annuler l'augmentation des salaires... L'augmentation de la rémunération se répercute proportionnellement dans l'augmentation des prix.</p>
				<p>Et donc, aucun bénéfice économique n'est gagné. L'économie tourne... dans le vide.</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="127" data-needed-time="7620" id="id-27">
		<header>
			<h3>La Locale : 75% québécoise, 25% étrangère</h3>
		</header>
		<section>
			<div class="prose">
				<p><b>Pour éviter la surenchère salariale, il faut <i data-wiki="Offre_et_demande">équilibrer l'offre et la demande</i> de travailleurs locaux.</b></p>
				<p>En produisant La Locale, la demande de travailleurs locaux augmente mais l'offre de travailleurs locaux reste pour sa part inchangée (ça prend tout un moment produire de nouveaux travailleurs !). C'est pourquoi, pour produire La Locale sans faire pression sur le niveau général des prix, il nous faut ultimement... <strong>Importer des travailleurs.</strong></p>
				<p>Vous avez bien lu, oui. Pour produire localement une plus grande quantité de biens, il nous faut importer de la main-d'œuvre afin d'éviter une spirale inflationniste.</p>
			</div>
		</section>
		<article class="buying chain diagram" hx-get="diagrams.html" hx-select="#diagram-17" hx-trigger="revealed"></article>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_emma animated" viewBox="0 0 377 480"><use xlink:href="symbols.svg#svg-emma"></use></svg>
			<div>
				<p>Vous savez, <span class="username">Joey Joe Joe</span>, l'importation de main-d'œuvre que nous projetons ici est déjà utilisée par les maraîchers locaux. Les restaurateurs aimeraient par ailleurs y avoir tout autant accès.</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="89" data-needed-time="5340">
		<header>
			<p>À la lumière du scénario précédent, croyez-vous <span class="username">Joey Joe Joe</span> qu'il soit toujours avantageux de transformer votre Moyenne en Locale ?</p>
		</header>
		<form>
			<fieldset>
				<div class="grille">
					<label>
						<input type="radio" name="avantageux" value="oui">
						<span>Oui !</span>
					</label>
					<label>
						<input type="radio" name="avantageux" value="non">
						<span>Non !</span>
					</label>
				</div>
			</fieldset>
		</form>
		<section>
			<p><b>Mais encore, les arbitrages exposés ci-haut, ne s'appliquent pas que du côté de la production bière, loin de là ! Bien au contraire, les dynamiques économiques abordées se déclencheront (à intensité variable) dans toute l'économie locale.</b></p>
			<p>Effectivement, les limites de la production locale (et donc de la consommation locale) de bière s'étendent à tout type d'achat de bien ou service. Les limites économiques de l'achat local sont universelles.</p>
		</section>
	</section>
	<section data-wordcount="280" data-needed-time="16800" id="id-29">
		<header>
			<h3>Les limites de l'achat local</h3>
			<p>Peut-être était-ce déjà clair pour vous <span class="username">Joey Joe Joe</span>, mais affirmons le quand même : il est impossible de produire localement, sans perturbations, l'entièreté des biens et services que nous pouvons acheter.</p>
		</header>
		<section>
			<div class="grille">
				<p>Dès qu'on accepte ce fait économique, <span class="username">Joey Joe Joe</span>, il nous faut alors faire des choix, rationaliser notre rapport à l'achat local. Pour ce faire, nous pouvons utiliser d'autres outils de l'analyse économique :</p>
				<section>
					<h4><i data-wiki="Coût_d%27opportunité">Le coût d'opportunité</i></h4>
					<ul>
						<li>Quelle valeur est produite par notre achat ? </li>
						<li>Pourrait-on générer une plus grande valeur ajoutée en produisant autre chose ? </li>
						<li>Quelle est la plus grande valeur ajoutée à laquelle nous renonçons en produisant une plus grande quantité d'un certain produit ?</li>
					</ul>
				</section>
				<section>
					<h4><i data-wiki="Microéconomie" data-sections="9">L'optimisation</i></h4>
					<p>Quand est-ce que la croissance de la brasserie Pâpire va causer plus de problèmes que de valeur ? Qu'elle coûtera plus cher à agrandir qu'elle n'apportera agrandie ? Quand deviendra-t-il préférable de produire autre chose que de La Locale ?</p>
				</section>
				<section>
					<h4><i data-wiki="Productivité">La productivité</i></h4>
					<p>Quelle quantité de ressources (main-d'œuvre et machines) est nécessaire pour ajouter une valeur de 10 $ en bière ? En quoi ce ratio se compare-t-il avec les autres industries ? Y a-t-il possibilité d'améliorer la productivité en investissant directement dans la brasserie Pâpire grâce une demande de Locale accrue ?</p>
				</section>
			</div>
		</section>
		<section>
			<p><b>Les outils analytiques ci-haut permettent d'économiser notre recours à la production locale.</b> Ils peuvent nous aider à décider comment, où et quoi acheter. Mais l'économie étant une science des moyens, encore faut-il savoir <strong>pourquoi</strong> il nous est important d'acheter localement.</p>
		</section>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
			<div>
				<p>Augmenter notre consommation de biens dont la valeur ajoutée est produite localement implique l'usage exclusif de ressources rares qui pourraient être allouées ailleurs. Cette réalité économique inéluctable <em>appelle à l'optimisation et non la maximisation</em> de notre consommation de biens dits locaux.</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="389" data-needed-time="23340" id="id-30">
		<header>
			<h3>Pourquoi acheter local ?</h3>
		</header>
		<section>
			<div class="prose">
				<p><b>Économiser en fonction de nos objectifs est nécessaire pour les atteindre efficacement.</b></p>
				<p>L'achat local est un moyen d'arriver à nos fins et objectifs. En aucun cas devriez-vous en faire une objectif en soi, <span class="username">Joey Joe Joe</span>. Mais encore, vos objectifs, Joey Joe Joe, s'ils sont multiples, pourraient aller à l'encontre les uns des autres. Il faut à ce moment prioriser.</p>
				<h4>Quelques objectifs pouvant faire de l'achat local un moyen.</h4>
			</div>
			<div class="grille">
				<article>
					<h5>Enrichir les agents locaux</h5>
					<p>Cet objectif repose sur la <strong>distribution</strong> locale de la valeur ajoutée. Si tel est votre objectif, <span class="username">Joey Joe Joe</span>, vous feriez bien de laisser des entreprises à <em>propriété locale</em> produire là où le coût est le plus bas, sachant que la valeur ajoutée à l'étranger sera rapatriée ici, localement. Les entreprises locales et leurs investisseurs en bénéficieront particulièrement.</p>
				</article>
				<article>
					<h5>Diminuer l'empreinte écologique</h5>
					<p>Cet objectif repose sur la <strong>production</strong> de la valeur ajoutée et de son transport dans la chaîne. Il implique une analyse complexe de la pollution engendrée par la consommation finale. Il faut inspecter la chaîne économique complète et minimiser les externalités environnementales (les GES en sont un bon exemple). Il n'est pas dit que cet objectif sera toujours bien servi par un mouvement de consommation locale. Certains biens pourraient laisser une moindre empreinte tout en étant produit à l'étranger. D'autres devraient être simplement rejetés.</p>
				</article>
				<article>
					<h5>Créer des emplois</h5>
					<p>Cet objectif repose aussi sur la <strong>production</strong> de la valeur ajoutée. Il demande qu'on choisisse les biens locaux étant les plus intensifs en termes de main-d'œuvre. Une usine de voitures Tesla entièrement robotisée s'installant à Pointe-aux-Trembles ne contribuera pas à l'atteinte de votre objectif, <span class="username">Joey Joe Joe</span>. Ceci dit, considérant le marché du travail actuel, il serait mal-avisé de maintenir cet objectif en priorité.</p>
				</article>
				<article>
					<h5>Augmenter la productivité</h5>
					<p>Toujours en termes de <strong>production</strong> de la valeur ajoutée, mais cette fois-ci, il serait très certainement bénéfique d'implanter une usine Tesla, entièrement automatisée. La quantité de valeur ajoutée par un seul travailleur Tesla n'est sans commune mesure à la valeur ajoutée par un travailleur des champs. Créer des emplois et augmenter la productivité ne font généralement bon ménage.</p>
				</article>
			</div>
		</section>
		<aside>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" class="cartoon_henri animated" viewBox="0 0 277 447"><use xlink:href="symbols.svg#svg-henri"></use></svg>
			<div>
				<p>Il faut bien assortir les moyens utilisés à nos objectifs. Surtout que certains moyens pourraient à la fois contribuer d'un côté et nuire de l'autre. Accueillir une cimenterie enrichira probablement les agents locaux à la hauteur de son empreinte écologique.</p>
			</div>
		</aside>
	</section>
	<section data-wordcount="190" data-needed-time="11400" id="id-31">
		<header>
			<h3>Et puis donc, comment faut-il aborder l'achat local ?</h3>
		</header>
		<section>
			<div class="prose">
				<p><b>Changer vos comportements de consommation, <span class="username">Joey Joe Joe</span>, ne sera toujours au final qu'un moyen d'atteindre un objectif.</b></p>
				<p>Il faut que cet objectif soit clair et explicite. À la lumière de celui-ci, il vous faut chercher certaines informations importantes, <span class="username">Joey Joe Joe</span>.</p>
				<ul>
					<li>À quoi ressemble la chaîne économique de mon achat ?</li>
					<li>Quelle est la répartition de la valeur ajoutée parmi les agents de la chaîne ?</li>
					<li>Où la valeur ajoutée est-elle distribuée ? En salaire aux travailleurs locaux ? En dividendes aux investisseurs étrangers ?</li>
					<li>Qui gagne dans mon changement de comportement ? Qui perd ?</li>
					<li>Comment aurions-nous pu allouer les mêmes ressources ? À quoi renonçons-nous de plus valable en produisant localement plus de bière ?</li>
				</ul>
			</div>
		</section>
		<section>
			<div class="prose">
				<p><b>Il va de soi que ce n'est pas à vous, <span class="username">Joey Joe Joe</span>, de répondre à ces questions... C'est ce à quoi servent les économistes !</b></p>
				<p>Non, <span class="username">Joey Joe Joe</span>. Votre rôle à vous, c'est de poser les questions. Demandez plus de vos représentants, de vos élus, de vos journalistes. C'est à eux (et Henri) de procurer réponses à ces questions. C'est à nous tous de les y inciter.</p>
				<p><b>Soyons économes.</b></p>
			</div>
			<cite>Marc-André &amp; Henri</cite>
		</section>
	</section>
	<h2 id="id-32">Post-mortem</h2>
	<section data-wordcount="152" data-needed-time="9120" id="id-33">
		<header>
			<h3>Votre expérience <span class="sitename">Econome</span>
</h3>
		</header>
		<section>
			<p><b>Merci de vous être rendu jusqu'ici, <span class="username">Joey Joe Joe</span> ! C'est très apprécié.</b></p>
			<p>Serait-il possible de <em>pousser notre luck</em> comme on dit et vous demander de répondre à quelques questions simples ? Vous pourrez même nous fournir une appréciation libre, aussi terrible soit-elle.</p>
			<p><em>Merci, c'est ben swell.</em></p>
		</section>

		<form>

			<fieldset>
				<p>Pensez-vous avoir appris quelque chose, <span class="username">Joey Joe Joe</span> ?</p>
				<label>
					<input type="radio" name="appris" required="">
					<span>Oui !</span>
				</label>
				<label>
					<input type="radio" name="appris">
					<span>Non !</span>
				</label>
				<label>
					<input type="radio" name="appris">
					<span>Pas sûr.</span>
				</label>
			</fieldset>
			<fieldset>
				<p>Pensez-vous maintenant pouvoir acheter et consommer de manière plus éclairée ?</p>
				<div>

					<label>
						<input type="radio" name="eclairer" required="">
						<span>Oui !</span>
					</label>
					<label>
						<input type="radio" name="eclairer">
						<span>Non !</span>
					</label>
					<label>
						<input type="radio" name="eclairer">
						<span>Pas sûr.</span>
					</label>
				</div>
			</fieldset>
			<fieldset>
				<p>Aimeriez-vous en apprendre plus ?</p>
				<label>
					<input type="radio" name="appris" required="">
					<span>Oui !</span>
				</label>
				<label>
					<input type="radio" name="appris">
					<span>Non !</span>
				</label>
				<label>
					<input type="radio" name="appris">
					<span>Pas sûr.</span>
				</label>
			</fieldset>
			<fieldset>
				<p>Vous intéressez vous à l'économie ?</p>
				<div>
					<label for=""><input type=""><span>Un peu</span></label>
					<label for=""><input type=""><span>Beaucoup</span></label>
					<label for=""><input type=""><span>Pas vraiment...</span></label>
				</div>
			</fieldset>
			<fieldset>
				<p>Quel énoncé ci-bas se rapproche le plus de *votre* perception de ce qu'est « l'économie » ?</p>
				<label for=""><input type="radio" name="perception"><span>Les marchés boursiers et les taux d'intérêt</span></label>
				<label for=""><input type="radio" name="perception"><span>Le chômage, les emplois et le PIB.</span></label>
				<label for=""><input type="radio" name="perception"><span>Rationalisation, productivité et efficacité</span></label>
				<label for=""><input type="radio" name="perception"><span>Des objectifs alternatifs et des ressources limitées</span></label>
			</fieldset>
			<fieldset>
				<p>Avons-nous, Henri et Marc-André, stimulé votre intérêt pour l'économique ?</p>
				<div>

					<label>
						<input type="radio" name="interet" required="">
						<span>Oui !</span>
					</label>
					<label>
						<input type="radio" name="interet">
						<span>Non !</span>
					</label>
					<label>
						<input type="radio" name="interet">
						<span>Pas sûr.</span>
					</label>
				</div>
			</fieldset>
			<fieldset>
				<p>Laissez-nous une appréciation libre de votre expérience</p>
				<textarea id="" name="" cols="30" rows="10"></textarea>
			</fieldset>
		</form>
	</section>
	
</main><footer><small><span class="sitename">Econome</span> c'est Marc-André &amp; Henri • 2021 🄯 <i data-wiki="Copyleft">Gauche d'auteur</i></small></footer><link rel="stylesheet" href="assets/css/components/c-wiki_viewer.css">
<aside id="wikiViewer"><div>
<header><h2>Conaissances complémentaires</h2>
<button id="wikiViewerClose">Fermer</button></header><div id="wikiDump"></div>
<footer><span>Contenu provenant de Wikipedia.</span><a id="wikiCanonical" rel="canonical" target="_blank" href="#">Visiter la page officielle</a></footer>
</div></aside><script src="assets/js/htmx.min.js"></script><script src="assets/js/main.js" defer></script><link rel="stylesheet" href="assets/css/x-quarantine.css">
</body>
</html>
