/* IMPORTANT !
	Patron de composition « papier quadrillé » nécessitant
	l'apport de Javascript  pour arrondir les valeurs au pixel près.
	En l'absence de JS, le patron est désactivé à l'aide de calculs nuls. */

	/* --GridUnit : valeur (px) générée à partir du « line-height » html arrondie */
	/* --Row : valeur (px) initiale recalculée en JS à partir de --GridUnit */
	/* --GridValue : valeur servant à annuler le patron de papier quadrillé */

:root {
	--GridValue: 0; /* Valeur modifiée en JS pour activer le patron */
	--JS-activated-line: calc(-1px * (var(--GridValue) / var(--GridValue)));
	--grid-paper-lines: var(--JS-activated-line) 0px var(--ltst-primary), 0px var(--JS-activated-line) var(--ltst-primary), var(--JS-activated-line) 0px var(--ltst-primary) inset, 0px var(--JS-activated-line) var(--ltst-primary) inset;
}

/* Patron cadrillé */
main {
	background-image:
		linear-gradient(to right, transparent calc(100% - 1px), rgba(0,0,0,.1) 0),
		linear-gradient(to bottom, transparent calc(100% - 1px), rgba(0,0,0,.1) 0);
	background-size:
		var(--GridUnit) 100%, 100% var(--GridUnit);
}

/* Patron pointillé */
/* main { */
/* 	background-image: radial-gradient(var(--tr-purple) 2px, transparent 2px), radial-gradient(var(--tr-purple) 2px, transparent 2px); */
/* 	background-size: var(--Row) var(--Row); */
/* 	background-position: 0 0, var(--Row) 0; */
/* } */

main>section>section {
	position: relative;
}

main>section>header,
main>section>div>header,
main>section>section {
	padding: var(--Row);
	box-shadow: var(--grid-paper-lines);
	background-color: var(--ColorBg);
}


main>section>*+* {
	margin-top: calc(var(--Row));
}

@media (orientation: portrait) and (min-width: 40em) {
	main {
		border-right: calc(var(--H_GridUnitRest) / 2) solid grey;
		border-left: calc(var(--H_GridUnitRest) / 2) solid grey;
	}
}

@media (orientation: landscape) {
	main {
		border-right: var(--H_GridUnitRest) solid grey;
	}
}
