/* Animations et transitions générales */

*, ::before, ::after {
	transition-property: color, background, border-color, box-shadow, transform;
	transition-delay: 0ms;
	transition-duration: 120ms;
}
@media (min-height: 70ch) and (min-width: 80ch) { /* lié à l-section_composition.css */
	.intervention>div {
		transition: 120ms var(--ease-bounce-light);
		transition-property: opacity, transform;
		transform-origin: left bottom;
	}

	.intervention:not(:hover)>div {
		transform: scale(0);
		transition-delay: 120ms;
	}
}

/* Application générale des transitions et animations.  ----------------------- */
/* (Opt-in. Valeurs complexes par défaut pour
* limiter la prolifération des propriétés héritées) */

	:where(main>section)>*,
	.chain .__icon,
	.chain .__icon+* {
		transition-property: var(--TransitionProperties, opacity, transform);
		transition-duration: var(--TotalDuration, calc(var(--SelfDuration, 120ms) * var(--DurationFactor, 1)));
		transition-timing-function: var(--TimingFunction, ease-out);
		transition-delay: var(--TotalDelay, calc(var(--LoadingDelay, 200ms) + var(--StructuralDelay, 0ms) + var(--ChainLinkDelay, 0ms) + var(--AfterChainDelay, 0ms) + var(--ScrollDelay, 0ms) + var(--SelfDelay, 0ms)));
		animation-name: var(--Keyframes);
		animation-fill-mode: backwards;
		animation-timing-function: var(--TimingFunction, opacity);
		animation-duration: var(--TotalDuration, calc(var(--SelfDuration, 120ms) * var(--DurationFactor, 1)));
		animation-delay: var(--TotalDelay, calc(var(--LoadingDelay, 200ms) + var(--StructuralDelay, 0ms) + var(--ChainLinkDelay, 0ms) + var(--AfterChainDelay, 0ms) + var(--ScrollDelay, 0ms) + var(--SelfDelay, 0ms)));  }


/* Application « opt-in »
	des propriétés transitionnées  ----------------------- */

	.intervention svg,
	.chain .__icon {
		transform: var(--TransformVisible, scale(1)); }
	:where(main>section)>*,
	.chain .__icon+* {
		opacity: var(--OpacityVisible, 1); }

	:where(main>section).is-active~*>.intervention svg,
	:where(main>section).is-active~* .__icon,
	:where(main>section).is-invisible>.intervention svg,
	:where(main>section).is-invisible .__icon {
		transform: var(--TransformInvisible, scale(1)); }
	:where(main>section).is-active~*>*,
	:where(main>section).is-active~*>.intervention svg,
	:where(main>section).is-active~* .__icon,
	:where(main>section).is-active~* .__icon+*,
	:where(main>section).is-invisible>*,
	:where(main>section).is-invisible>.intervention svg,
	:where(main>section).is-invisible .__icon,
	:where(main>section).is-invisible .__icon+* {
		opacity: var(--OpacityInvisible, 0); }

/* Propriétés supplémentaires
	nécessaires au bon fonctionnement  ----------------------- */

	/* Empêche le contenu de passer
		par-dessus dans la transition */
	.intervention svg {
		position: relative;
		z-index: 1; }

/* Valeurs de transition spécifiques ----------------------- */

	/* Sections — Valeurs d'apparition & disparition */
	:where(main>section).is-invisible {
		--SelfDuration: 600ms;
		--TransitionProperties: opacity;
		--TimingFunction: ease-out;
		--ScrollDelay: 0ms;
		--LoadingDelay: 0ms; }
	:where(main>section).is-visible {
		--LoadingDelay: 0ms; }

	/* Éléments — Valeurs de base initiales */
	.intervention svg {
		--TransitionProperties: transform;
		--SelfDuration: 120ms; }
	.chain .__icon {
		--TransitionProperties: transform;
		--TimingFunction: var(--ease-out-back);
		--SelfDuration: 180ms; }
	.chain .__icon+* {
		--TransitionProperties: opacity;
		--TimingFunction: var(--ease-out-quad);
		--SelfDuration: 180ms; }
	:where(main>section)>figure {
		--TransitionProperties: opacity;
		--SelfDuration: 200ms;
		--SelfDelay: 160ms; }

	/* Éléments — Valeurs spécifiques à l'apparition */
	.is-visible>.intervention svg {
		--TimingFunction: var(--ease-bounce-light);
		--SelfDelay: calc(400ms + 1ms * var(--needed-time) / 5); }
	.is-visible .chain .__icon+* {
		--SelfDelay: 200ms; }

	/* Éléments — Valeurs transitionnées à la disparition */
	.intervention svg {
		--TransformInvisible: scale(0); }
	.chain .__icon {
		--TransformInvisible: scale(0); }


/* Cascade d'apparition générale ----------------------- */

	:where(main>section)>:nth-child(1) {
		--StructuralDelay: 0ms; }
	:where(main>section)>:nth-child(2) {
		--StructuralDelay: 200ms; }
	:where(main>section)>:nth-child(3) {
		--StructuralDelay: 400ms; }
	:where(main>section)>:nth-child(4) {
		--StructuralDelay: 600ms; }
	:where(main>section)>:nth-child(5) {
		--StructuralDelay: 800ms; }


/* Choix d'animation au chargement de la page ----------------------- */

		:where(main>section)>*,
		.chain .__icon {
			animation-name: var(--Keyframes, scale); }
		:where(main>section),
		:where(main>section)>*,
		.chain .__icon+* {
			animation-name: var(--Keyframes, opacity); }


/* Animations réflétant les transitions ----------------------- */

@keyframes opacity {
	from { opacity: var(--OpacityInvisible, 0); }
	to { opacity: var(--OpacityVisible, 1); }
}

@keyframes scale {
	from { transform: var(--TransformInvisible, 0); }
	to { transform: var(--TransformVisible, 1); }
}
