/* Application générale des transitions et animations.  ----------------------- */
/* (Opt-in. Valeurs complexes par défaut pour
* limiter la prolifération des propriétés héritées) */

	main>section>*,
	main>section .chain .icon,
	main>section .chain .icon+* {
		transition-property: var(--TransitionProperties, opacity, transform);
		transition-duration: var(--TotalDuration, calc(var(--SelfDuration, 120ms) * var(--DurationFactor, 1)));
		transition-timing-function: var(--TimingFunction, ease-out);
		transition-delay: var(--TotalDelay, calc(var(--LoadingDelay, 200ms) + var(--StructuralDelay, 0ms) + var(--ChainLinkDelay, 0ms) + var(--AfterChainDelay, 0ms) + var(--ScrollDelay, 0ms)  + var(--SelfDelay, 0ms)));
		animation-name: var(--Keyframes);
		animation-fill-mode: backwards;
		animation-timing-function: var(--TimingFunction, opacity);
		animation-duration: var(--TotalDuration, calc(var(--SelfDuration, 120ms) * var(--DurationFactor, 1)));
		animation-delay: var(--TotalDelay, calc(var(--LoadingDelay, 200ms) + var(--StructuralDelay, 0ms) + var(--ChainLinkDelay, 0ms) + var(--AfterChainDelay, 0ms) + var(--ScrollDelay, 0ms)  + var(--SelfDelay, 0ms)));  }


/* Application « opt-in »
	des propriétés transitionnées  ----------------------- */

	main>section>aside.intervention,
	main>section .chain .icon {
		transform: var(--TransformVisible, scale(1)); }
	main>section>*
	main>section .chain .icon+* {
		opacity: var(--OpacityVisible, 1); }

	main>section.is-active~section>aside.intervention,
	main>section.is-active~section .chain .icon,
	main>section.is-invisible>aside.intervention,
	main>section.is-invisible .chain .icon {
		transform: var(--TransformInvisible, scale(1)); }
	main>section.is-active~section>*,
	main>section.is-active~section>aside.intervention,
	main>section.is-active~section .chain .icon,
	main>section.is-active~section .chain .icon+*,
	main>section.is-invisible>*,
	main>section.is-invisible>aside.intervention div,
	main>section.is-invisible .chain .icon,
	main>section.is-invisible .chain .icon+* {
		opacity: var(--OpacityInvisible, 0); }

/* Propriétés supplémentaires
	nécessaires au bon fonctionnement  ----------------------- */

	/* Empêche le contenu de passer
		par-dessus dans la transition */
	main>section>aside.intervention svg {
		z-index: 1; }
	/* Origines de transformation particulières */
	main>section>aside.intervention div {
		transform-origin: left center; }
	main>section .chain .arrow {
		transform-origin: right center; }
	main>section .chain .arrow.from {
		transform-origin: left center; }

/* Valeurs de transition spécifiques ----------------------- */

	/* Sections — Valeurs d'apparition & disparition */
	main>section.is-invisible {
		--SelfDuration: 600ms;
		--TransitionProperties: opacity;
		--TimingFunction: ease-out;
		--ScrollDelay: 0ms;
		--LoadingDelay: 0ms; }
	main>section.is-visible {
		--LoadingDelay: 0ms; }

	/* Éléments — Valeurs de base initiales */
	main>section>aside.intervention {
		--TransitionProperties: transform;
		--SelfDuration: 120ms; }
	main>section .chain .icon {
		--TransitionProperties: transform;
		--TimingFunction: var(--ease-out-back);
		--SelfDuration: 180ms; }
	main>section .chain .icon+* {
		--TransitionProperties: opacity;
		--TimingFunction: var(--ease-out-quad);
		--SelfDuration: 180ms; }
	main>section>figure {
		--TransitionProperties: opacity;
		--SelfDuration: 200ms;
		--SelfDelay: 160ms; }

	/* Éléments — Valeurs spécifiques à l'apparition */
	main>section.is-visible>aside.intervention {
		--TimingFunction: var(--ease-bounce-light);
		--SelfDelay: calc(400ms + 1ms * var(--needed-time) / 5); }
	main>section.is-visible .chain .arrow {
		--SelfDelay: 200ms; }
	main>section.is-visible .chain .icon+* {
		--SelfDelay: 100ms; }

	/* Éléments — Valeurs transitionnées à la disparition */
	main>section>aside.intervention {
		--TransformInvisible: scale(0); }
	main>section .chain .icon {
		--TransformInvisible: scale(0); }
	main>section .chain .arrow {
		--TransformInvisible: scale(0, 1); }


/* Cascade d'apparition générale ----------------------- */

	main>section>:nth-child(1) {
		--StructuralDelay: 0ms; }
	main>section>:nth-child(2) {
		--StructuralDelay: 200ms; }
	main>section>:nth-child(3) {
		--StructuralDelay: 400ms; }
	main>section>:nth-child(4) {
		--StructuralDelay: 600ms; }
	main>section>:nth-child(5) {
		--StructuralDelay: 800ms; }


/* Choix d'animation au chargement de la page ----------------------- */

		main>section>*,
		main>section .chain .icon {
			animation-name: var(--Keyframes, scale); }
		main>section,
		main>section>*,
		main>section .chain .icon+* {
			animation-name: var(--Keyframes, opacity); }


/* Animations réflétant les transitions ----------------------- */

@keyframes opacity {
	from { opacity: var(--OpacityInvisible, 0); }
	to { opacity: var(--OpacityVisible, 1); }
}

@keyframes scale {
	from { transform: var(--TransformInvisible, 0); }
	to { transform: var(--TransformVisible, 1); }
}
