@media all {
	body {
		display: flex;
		background-color: var(--ColorBg);
	}

	main>section {
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
	}

	main>h2 {
		position: sticky;
		top: 0;
		left: 0;
		padding-top: var(--Row);
		background-color: var(--ColorBg);
		align-items: baseline;
		text-align: center;
		line-height: calc(var(--Row) * .5);
		z-index: 3;
		display: flex;
		counter-increment: numero-partie;
	}

	main>h2>span {
		background-color: inherit;
		flex-shrink: 0;
		padding-left: calc(var(--Row) * .5);
		padding-right: calc(var(--Row) * .5);
		padding-bottom: .1em;
		margin-top: -.25em;
	}

	main>h2:before,
	main>h2:after	{
		content: '';
		display: block;
		flex-basis: 0px;
		flex-grow: 1;
		border-bottom: 1px solid var(--ColorLines);
	}

	main>h2>span:before {
		content: "Partie " counter(numero-partie) " — ";
	} 

	main>section {
		box-sizing: border-box;
		position: relative;
		margin: 0;
	}

	main>section:not(.is-active)>aside {
		opacity: 0;
		pointer-events: none;
	}

	main {
		flex-grow: 1;
	}
}

@media (orientation: portrait) {
	html {
		--TargetFontSize: 2.8vmin;
	}

	html, body, main { 
		/* Contexte vertical nécessaire
		pour assurer une hauteur de fenêtre
		pour toute « slide ». */
		height: 100%;  
	}

	body {
		/* Previent le glitchy bouncing
		dans Safari */
		overflow: hidden;
		flex-direction: column;
	}

	main { 
		display: inherit;
		overflow-x: auto;
		flex-basis: 0;
		flex-direction: row;
		scroll-snap-type: x mandatory;
	}

	main>h2 {
		display: none;
	}

	main>section {
		height: 100%;
		width: 100vw;
		scroll-behavior: smooth;
		flex-shrink: 0;
		scroll-snap-align: start;
		overflow-x: hidden;
		overflow-y: auto;
		padding-top: var(--Row);
		padding-bottom: var(--Row);
	}

	main>section[id] {
		scroll-snap-stop: always;
	}

	main>section>* {
		padding-left: var(--Row);
		padding-right: var(--Row);
		box-sizing: border-box;
	}
	
	body>nav {
		bottom: 0;
		height: calc(var(--Row) * 1.75);
		top: auto;
		left: 0;
		right: 0;
		order: 1;
		z-index: 4;
		overflow-y: hidden;
		overflow-x: auto;
	}

	body>nav a {
		display: flex;
	}

	body>footer {
		display: none;
	}
}

@media (orientation: landscape) {
	body {
		align-items: flex-start;
		flex-wrap: wrap;
	}

	main {
		display: flex;
		flex-direction: column;
		flex: 1 1 0%;
		padding: calc(var(--Row) * 2);
	}

	main>section {
		min-height: 100vh;
		padding-top: calc(var(--Row) * 4);
		padding-bottom: calc(var(--Row) * 4);
	}
	
	body>nav {
		box-sizing: border-box;
		position: sticky;
		flex-shrink: 0;
		height: 100vh;
		position: sticky;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 4;
	}
	
	body>footer {
		padding: var(--Row);
		padding-left: calc(var(--Row) * 4);
		flex: 0 0 100%;
		box-sizing: border-box;
	}
}
