@media all {
	body {
		display: flex;
		background-color: var(--ColorBg);
	}

	main>section {
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
		row-gap: calc(var(--Row) * 2);
	}

	main>h2 {
		position: sticky;
		top: 0;
		left: 0;
		padding-top: var(--Row);
		background-color: var(--ColorBg);
		align-items: baseline;
		text-align: center;
		line-height: calc(var(--Row) * .5);
		z-index: 3;
		display: flex;
		counter-increment: numero-partie;
	}

	main>h2>span {
		background-color: inherit;
		flex-shrink: 0;
		padding-left: calc(var(--Row) * .5);
		padding-right: calc(var(--Row) * .5);
		padding-bottom: .1em;
		margin-top: -.25em;
	}

	main>h2:before,
	main>h2:after {
		content: '';
		display: block;
		flex-basis: 0px;
		flex-grow: 1;
		border-bottom: 1px solid var(--ColorLines);
	}

	main>h2>span:before {
		content: "Partie " counter(numero-partie) " — ";
	} 

	main>section {
		box-sizing: border-box;
		position: relative;
		margin: 0;
	}

	main {
		flex-grow: 1;
	}

	body>details {
		position: fixed;
		top: calc(var(--Row) * .75);
		right: 0;
		text-align: right;
		z-index: 3;
		margin-top: 0;
	}
}

@media (max-width: 100ch) {
	body>details>summary {
		font-size: 0;
	}
}


/* Modèle de composition avec le défilement horizontal des sections */

@media (orientation: portrait) {
	html {
		--TargetFontSize: 2.8vmin;
	}

	:root {
		--security-spacing: clamp(var(--Row), 7vmin, calc(var(--Row) * 2));
	}

	html, body, main { 
		/* Contexte vertical nécessaire
		pour assurer une hauteur de fenêtre
		pour toute « slide ». */
		height: 100%;  
	}

	body {
		/* Previent le glitchy bouncing
		dans Safari */
		overflow: hidden;
		flex-direction: column;
	}

	main { 
		display: inherit;
		overflow-x: auto;
		flex-basis: 0;
		flex-direction: row;
		scroll-snap-type: x mandatory;
	}

	main>h2 {
		display: none;
	}

	main>section {
		height: 100%;
		width: 100vw;
		flex-shrink: 0;
		scroll-snap-align: start;
		overflow-x: hidden;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		padding-top: var(--security-spacing);
		padding-bottom: var(--security-spacing);
	}

	main>section>a {
		margin-left: var(--security-spacing);
		margin-right: var(--security-spacing);
	}

	main>section>*,
	main>section>figure>figcaption {
		flex-shrink: 0;
		box-sizing: border-box;
		padding-left: var(--security-spacing);
		padding-right: var(--security-spacing);
	}

	main>section[id] {
		scroll-snap-stop: always;
	}

	main>section>figure {
		padding: 0;
	}
	
	/* Version de la navigation au bas de la fenêtre. */
	body>nav {
		bottom: 0;
		height: calc(var(--Row) * 1.75);
		top: auto;
		left: 0;
		right: 0;
		order: 1;
		z-index: 4;
		overflow-y: hidden;
		overflow-x: auto;
	}

	body>nav a {
		display: flex;
	}

	body>.toggle-internal-nav,
	nav header {
		display: none;
	}

	nav {
		order: 1;
	}

	nav * {
		display: flex;
	}

	nav a {
		width: calc(var(--Row) * 1.75);
		height: calc(var(--Row) * 1.75);
		padding: 0;
		font-size: 0;
		align-items: center;
		justify-content: center;
	}

	nav li+li {
		border-left: 1px solid var(--ColorBg);
	}

	body>footer {
		display: none;
	}
}

/* Modèle de composition en pile avec sections comblant la fenêtre. */

@media (orientation: landscape) {
	body {
		align-items: flex-start;
		flex-wrap: wrap;
	}

	main {
		display: flex;
		flex-direction: column;
		flex: 1 1 0%;
		padding: calc(var(--Row) * 2);
		padding: 0;
	}

	main>section {
		display: grid;
		grid-template: repeat(auto-fit, minmax(0,max-content)) / auto;
		min-height: 100vh;
		padding-top: calc(var(--Row) * 4);
		padding-bottom: calc(var(--Row) * 4);
	}

	main>section>* {
		padding-left: clamp(var(--Row), 4vmax, calc(var(--Row) * 4));
		padding-right: clamp(var(--Row), 4vmax, calc(var(--Row) * 4));
	}

	main>section>a:last-child:after {
		transform: rotate(90deg);
	}
	

/* Version de la navigation à la gauche de la fenêtre. */

	body>nav {
		box-sizing: border-box;
		position: sticky;
		flex-shrink: 0;
		height: 100vh;
		position: sticky;
		top: 0;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 4;
	}

	.toggle-internal-nav {
		position: fixed;
	}
	
	.toggle-internal-nav::after {
		visibility: visible;
		padding-right: .5rem;
		padding-left: .5rem;
	}

	.toggle-internal-nav:not(:checked):after {
		background-color: var(--ColorBg);
		content: "Infos & navigation";
	}

	nav {
		width: 30ch;
		flex-direction: column;
	}

	nav>* {
		width: 30ch;
		box-sizing: border-box;
	}

	nav li {
		border-top: 2px solid var(--ColorBg);
	}

	.toggle-internal-nav:checked~nav li {
		border-color: transparent;
	}

	nav li>a:before {
		height: calc(16px + var(--Row) * .75);
		margin-right: .5ch;
	}

	nav li>a:before,
	.toggle-internal-nav:not(:checked)~nav {
		width: calc(16px + var(--Row) * .75);
	}
	
	body>footer {
		padding: var(--Row);
		padding-left: calc(var(--Row) * 4);
		flex: 0 0 100%;
		box-sizing: border-box;
		text-align: center;
	}

	body>details>summary {
		background-color: var(--ColorBg);
	}
	
}
