@media all {
	main>section {
		display: grid;
		grid-template: repeat(auto-fit, minmax(0,max-content)) / auto;
		row-gap: calc(var(--Row) * 2);
	}

	main>section>header>h3 {
		max-width: 30ch;
	}

	main>section>header>p,
	main>section>p {
		max-width: 40ch;
	}

	main > section>aside {
		max-width: 50ch;
	}


}

@media (orientation: portrait) {
	main>section {
		display: flex;
		flex-direction: column;
	}

	main>section>* {
		flex-shrink: 0;
	}
}


@media (max-height: 40em) and (max-width: 50em) {
	main>section>aside>details {
		margin: 0;
		width: 100%;
		margin-top: var(--Row);
	}

	main>section>aside>details>summary~* {
		position: initial;
		top: initial;
	}
}

@media (min-width: 80em) {

	main>section>*,
	main>section>header>* {
		margin-left: auto;
		margin-right: auto;
	}

	main>section>header,
	main>section form p,
	main>section>p {

		text-align: center;
	}

	main>section>header,
	main>section>form,
	main>section>p {
		justify-self: center;
	}

}

@media (min-height: 50em) {
	main>section {
		align-content: center;
	}
}

aside>details>* {
	padding: calc(var(--Row) * .25) calc(var(--Row) * .5);
	line-height: 1;
	position: relative;
}

aside details summary+* {
	position: absolute;
	top: 100%;
	right: 0;
	padding: var(--Row);
	margin-top: -5px; /* Masque le radius */
	max-width: 100%;
	min-width: 25ch;
}

details summary::marker {
	font-size: .5em;
	margin-right: 1em;
}
aside details[open] summary:after {
	content: "";
	right: -1px;
	z-index: 1;
	position: absolute;
	top: 100%;
	margin-top: -5px;
	height: 10px;
	background-color: inherit;
	left: -1px;
}

main>h2 {
	--ScaleLevel: var(--Short);
	color: inherit;
	line-height: calc(var(--Row) * .5);
}

main>section>section div div {
	flex-grow: 1;
}

main>section>section div>form {
	flex-grow: 2;
}

aside details {
	max-width: 100%;
	margin-top: calc(-1 * var(--Row) * 2.325);
}

aside details[open] {
	filter: drop-shadow(0px 1px 3px rgba(0,0,0,.1));
}

main>section>p:only-of-type {
	margin-top: auto;
	margin-bottom: auto;
}

main>section aside {
	max-width: 50ch;
}
