@media all {
	main>section {
		display: grid;
		grid-template: repeat(auto-fit, minmax(0,max-content)) / auto;
		row-gap: calc(var(--Row) * 2);
	}


	main>section>header>h3,
  	main>section fieldset p {
		max-width: 30ch;
	}

	main>section>header>p,
	main>section>p {
		max-width: 45ch;
	}

	main > section>aside {
		max-width: 70ch;
	}


}

@media (orientation: portrait) {
	main>section {
		display: flex;
		flex-direction: column;
	}

	main>section>* {
		flex-shrink: 0;
@media (max-height: 70ch) and (max-width: 80ch) {
	main>section>aside {
		background-color: var(--ColorLtBg);
		padding: calc(var(--Row) * .5);
		top: calc(var(--Row) * .75);
	}

	main>section>aside>div {
		margin-left: 0;
		padding: 15px;
		padding-left: 15px;
	}
}

@media (min-height: 70ch) and (min-width: 80ch) {
	main>section>aside {
		position: sticky;
		bottom: 0;
		margin-right: auto;
		order: 1;
		z-index: 4;
		margin-left: 0;
		justify-self: start;
	}

	main>section>aside {
		pointer-events: none;
	}

	main>section>aside>* {
		pointer-events: all;
	}

	main>section>aside>svg {
		margin: var(--Row);
		margin-top: calc(var(--Row) * 1.5);
		margin-left: calc(-1 * var(--Row) * .5);
		background-color: var(--ColorLtBg);
		border-radius: 50%;
		box-shadow: 0px 2px 2px var(--ltst-primary);
	}

	main>section>aside:hover>svg {
		border-right-color: transparent;
		box-shadow: -1px 2px 1px var(--ltst-primary);
	}

	main>section>aside>div {
		display: block;
		background-color: var(--ColorLtBg);
		padding: calc(var(--Row) * .5);
		margin-left: 80px;
		padding-left: 40px;
		border-radius: 8px;
		border-top-left-radius: 30px;
		box-shadow: 0px 2px 3px var(--ltst-primary);
	}

	main>section>* aside:not(:only-of-type):first-of-type {
		--MasterAlignment: right;
	}

	main>section>aside:not(:hover)>svg+* {
		opacity: 0;
		pointer-events: none;
	}

	main>section>aside:hover>svg+* {
		transition-delay: 0ms;
	}

	main>section>aside:not(:hover)>svg+* {
		transition-delay: 100ms;
	}
}
	}
}

@media (min-width: 70ch) {

	main>section>header>*,
	main>section form p {
		margin-left: auto;
		margin-right: auto;
	}

	main>section>header,
	main>section fieldset,
	main>section>p {

		text-align: center;
	}

	main>section>div,
	main>section>header,
	main>section>form,
	main>section>p {
		justify-self: center;
	}
}

@media (min-height: 30em) {
	main>section {
		align-content: center;
	}
}

aside>details>* {
	padding: calc(var(--Row) * .25) calc(var(--Row) * .5);
	line-height: 1;
	position: relative;
}

aside details summary+* {
	position: absolute;
	top: 100%;
	right: 0;
	padding: var(--Row);
	margin-top: -5px; /* Masque le radius */
	max-width: 100%;
	min-width: 25ch;
}

details summary::marker {
	font-size: .5em;
	margin-right: 1em;
}
aside details[open] summary:after {
	content: "";
	right: -1px;
	z-index: 1;
	position: absolute;
	top: 100%;
	margin-top: -5px;
	height: 10px;
	background-color: inherit;
	left: -1px;
}

main>section>section div div {
	flex-grow: 1;
}

main>section>section div>form {
	flex-grow: 2;
}

aside details {
	max-width: 100%;
	margin-top: calc(-1 * var(--Row) * 2.325);
}

aside details[open] {
	filter: drop-shadow(0px 1px 3px rgba(0,0,0,.1));
}

main>section>p:only-of-type {
	margin-top: auto;
	margin-bottom: auto;
}

