nav a,
.trigger-internal-nav::before,
.trigger-goods-list:before,
fieldset span,
fieldset input,
aside>details>*,
[data-wiki]:after,
[id="wikiViewer"] [id="wikiViewerClose"]:after,
fieldset input[type=radio]+span {
	background-color: var(--ColorBgControls);
}

nav li.is-incomplete>a,
.is-read fieldset:invalid,
.is-read [data-wiki]:not(.is-read) {
	--ColorBgControls: var(--lt-red);
}

nav a,
nav li.has-active~* a,
nav li.is-active~* a {
	--ColorBgControls: var(--ltst-primary);
}

.trigger-internal-nav::before {
	--ColorBgControls: var(--ltr-primary);
}

nav li.has-active li.is-complete:not(.is-active) a {
	--ColorBgControls: var(--lt-yellow);
}


nav li.is-complete>a,
fieldset:valid,
.trigger-goods-list.is-read,
[data-wiki].is-read {
	--ColorBgControls: var(--lt-green);
}

nav li.is-active>a {
	--ColorBgControls: var(--lt-purple);
}

.chain .goods-list>input::before,
[id="wikiViewer"] [id="wikiViewerClose"]:after,
[data-wiki]:after {
	font-weight: 700;
	width: 1ch;
	height: 1ch;
	line-height: 1ch;
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	padding: .5ch;
	vertical-align: text-top;
}

[id="wikiViewer"] [id="wikiViewerClose"]:after {
	content: "x";
}

[data-wiki]:after,
.trigger-goods-list::before {
	content: '?';
}

.trigger-goods-list.is-read:before,
[data-wiki].is-read:after {
	content: "✓";
}


aside>details>*,
[data-wiki]:after,
[id="wikiViewer"] [id="wikiViewerClose"]:after,
fieldset input[type=radio]+span,
.trigger-goods-list:before,
.trigger-internal-nav::before {
	border-radius: .25em;
	border: 1px solid var(--dk-yellow);
	border-top-width: 1px;
	border-bottom-width: 2px;
	box-shadow: 0 1px 2px  var(--purple);
}

[data-wiki]:hover:after,
.trigger-goods-list:hover:before,
[id="wikiViewer"] [id="wikiViewerClose"]:hover:after,
fieldset input[type=radio]:not(:checked)~span:hover {

	--ColorBgControls: var(--lt-purple);
	border-color: var(--lt-yellow);
}

fieldset input[type=radio]:checked~span,
[data-wiki].is-read:after {
	box-shadow: inset 0 1px 2px  var(--purple);
	top: 2px;
	border-top-width: 2px;
	border-bottom-width: 1px;
}

