:root {
	--Color: white;
	--ColorDk: white;
	--ColorLt: white;

	--ColorBg: black;
	--ColorLtBg: black;
	--ColorBgAlt: black;
	
	--ColorLines: white;
	
	--ColorLtSupport: grey;
	--ColorAccent: white;
	--ColorSupport: white;
	--ColorForeign: var(--lt-red);
	--ColorLocal: var(--lt-blue);
	--ColorControls: white;
	--ColorComplete: black;
	--ColorIncomplete: var(--dk-red);
	--ColorActive: var(--dk-yellow);

	--ColorBgControls: black;
	--ColorBgComplete: grey;
	--ColorBgIncomplete: black;
	--ColorBgActive: black;
}
