/* Styles génériques de base ----------------------- */

/* Enlever toutes marges */
* { padding: 0; margin: 0; }

/* Forcer tous les éléments, dont les contrôles
 * à respecter les polices de caractères par défaut. */
* { font-family: inherit; }

/* Rythme des contenus ----------------------- */

:not(html, body, label, ul, ol)>*:not(link)+* { 
margin-top: calc(var(--Row)); }


/* Restreindre les images aux dimensions
de leur parent. Éviter l'espace de 
la hauteur de ligne (inline vs. block) */
img {
	max-width: 100%;
	display: block;
	object-fit: cover; 
}

/* Garder la puce à l'intérieur 
de la colonne de texte */
ul, ol { padding-left: 1.1em; }

/* Meilleur affichage typographique */	
html { text-rendering: geometricPrecision; }

/* Empêcher le spring qui fuck le chien */
body { overscroll-behavior-y: none; }

/* Style graphique préférable à celui du navigateur */
hr {
	line-height: 0;
	height: 0; max-height: 0;
	border: none; border-top: 2px solid currentColor;
}

/* Préparer les <symbol> à être manipulés */
use, svg, path { fill: inherit; }

/* Icônes intégrés dans le texte */
i>svg {
	height: 1ch;
	margin-left: .5em; margin-right: .5em;
	display: inline-block;
}

p { max-width: 65ch; }
