/* Librairie de valeurs et unités de conception ----------------------- */
/* Pour assurer un poids minimal dans le navigateur,
 * seulement les valeurs utilisées sont déclarées. 
 * Se référer au bas de ce fichier pour la liste complète. */

	:root {
		--Row: calc(var(--RowFactor, 1.6125) * var(--RowUnit, 1rem));

		--MajorSecond: 1.125;
		--MajorThird: 1.250;
		--PerfectFourth: 1.333;
		--AugmentedFourth: 1.414;

		--Shortest: calc(var(--Short) / var(--Scale, 1));
		--Short: calc(var(--Base, 1) / var(--Scale, 1));
		--Base: 1;
		--Tall: calc(var(--Base, 1) * var(--Scale, 1));
		--Taller: calc(var(--Tall) * var(--Scale, 1));
		--Tallest: calc(var(--Taller) * var(--Scale, 1));
		--Huge: calc(var(--Tallest) * var(--Scale, 1));

		--ease-out-quad:     cubic-bezier(0.25, 0.46, 0.45, 0.94);
		--ease-out-back:     cubic-bezier(0.175, 0.885, 0.32, 1.275);
		--ease-bounce-light: cubic-bezier(0, 1.1, 1, 1.1);
	}

	:root {
		--base64-mark: url("data:image/svg+xml,%0A%3Csvg height='100px' width='100px' fill='%23000000' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' viewBox='0 0 100 100' version='1.1' x='0px' y='0px'%3E%3Ctitle%3Eeye-fill 167%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cpath d='M65.76375,48.15375 L65.76375,33.61875 L73.2375,48.15375 L65.76375,48.15375 Z M62.01375,50.02875 L62.01375,70.78125 L44.535,57.14625 C44.19375,56.88375 43.78875,56.74875 43.38,56.74875 C42.975,56.74875 42.56625,56.88375 42.22875,57.14625 L24.75,70.78125 L24.75,27.75 L62.01375,27.75 L62.01375,50.02875 Z M77.9775,49.17 L65.55375,25.01625 C65.51625,24.94125 65.44875,24.8925 65.4,24.825 C65.32125,24.70875 65.2425,24.58875 65.14125,24.49875 C65.05875,24.42375 64.96125,24.375 64.87125,24.315 C64.75875,24.2475 64.65,24.1725 64.52625,24.1275 C64.42125,24.09 64.305,24.07875 64.1925,24.06 C64.09125,24.04125 63.9975,24 63.88875,24 L22.875,24 C21.84,24 21,24.83625 21,25.875 L21,74.62125 C21,75.3375 21.4125,75.99375 22.05375,76.305 C22.69875,76.62375 23.46,76.54125 24.03,76.09875 L43.38,61.005 L62.73375,76.09875 C63.07125,76.36125 63.48,76.49625 63.88875,76.49625 C64.16625,76.49625 64.4475,76.43625 64.71375,76.305 C65.355,75.99 65.76375,75.3375 65.76375,74.62125 L65.76375,51.90375 L76.3125,51.90375 C76.96125,51.90375 77.56875,51.5625 77.91,51.00375 C78.25125,50.44875 78.2775,49.75125 77.9775,49.17 L77.9775,49.17 Z' fill='%23555555' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
			--base64-checkmark: url("data:image/svg+xml,%3Csvg viewBox='0 0 68 65' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M24.451 45.62L54.465 3.087c2.302-3.29 6.877-4.074 10.153-1.757 3.276 2.321 4.072 6.873 1.77 10.163L30.973 61.698a7.294 7.294 0 01-5.637 3.082 7.267 7.267 0 01-5.873-2.552L1.756 41.483c-2.627-3.062-2.243-7.665.826-10.28 3.04-2.611 7.644-2.247 10.27.812l11.599 13.604z' fill='%23eeeeee'/%3E%3C/svg%3E");
	--base64-book: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='100px' width='100px' fill='%23555555' version='1.1' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M7.5,14c-0.085,0-0.17-0.021-0.247-0.064C7.097,13.847,7,13.68,7,13.5v-9c0-0.176,0.092-0.338,0.243-0.429l5-3 c0.154-0.093,0.348-0.095,0.503-0.006C12.903,1.154,13,1.32,13,1.5v9c0,0.176-0.092,0.339-0.243,0.429l-5,3 C7.678,13.977,7.589,14,7.5,14z M8,4.783v7.834l4-2.4V2.383L8,4.783z M12.5,10.5h0.01H12.5z'/%3E%3Cpath d='M1.5,14c-0.076,0-0.153-0.018-0.224-0.053C1.107,13.862,1,13.689,1,13.5v-9c0-0.157,0.074-0.306,0.2-0.4 c1.918-1.439,4.682-1.439,6.6,0c0.221,0.166,0.266,0.479,0.1,0.7C7.734,5.022,7.42,5.065,7.2,4.9C5.696,3.772,3.551,3.719,2,4.758 V12.6c1.717-0.881,3.896-0.77,5.524,0.306c1.966-1.099,4.442-1.187,6.476-0.243V4.785c-0.52-0.292-1.059-0.499-1.604-0.616 c-0.271-0.058-0.442-0.323-0.385-0.593c0.059-0.27,0.319-0.444,0.594-0.384c0.742,0.159,1.469,0.456,2.159,0.883 C14.91,4.166,15,4.327,15,4.5v9c0,0.182-0.099,0.349-0.257,0.438c-0.159,0.088-0.353,0.083-0.508-0.013 c-1.94-1.21-4.525-1.212-6.471,0c-0.175,0.107-0.399,0.1-0.564-0.024c-1.57-1.178-3.83-1.178-5.4,0C1.712,13.966,1.606,14,1.5,14z'/%3E%3C/g%3E%3C/svg%3E");

--base64-book-green: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='100px' width='100px' fill='%230ee000' version='1.1' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M7.5,14c-0.085,0-0.17-0.021-0.247-0.064C7.097,13.847,7,13.68,7,13.5v-9c0-0.176,0.092-0.338,0.243-0.429l5-3 c0.154-0.093,0.348-0.095,0.503-0.006C12.903,1.154,13,1.32,13,1.5v9c0,0.176-0.092,0.339-0.243,0.429l-5,3 C7.678,13.977,7.589,14,7.5,14z M8,4.783v7.834l4-2.4V2.383L8,4.783z M12.5,10.5h0.01H12.5z'/%3E%3Cpath d='M1.5,14c-0.076,0-0.153-0.018-0.224-0.053C1.107,13.862,1,13.689,1,13.5v-9c0-0.157,0.074-0.306,0.2-0.4 c1.918-1.439,4.682-1.439,6.6,0c0.221,0.166,0.266,0.479,0.1,0.7C7.734,5.022,7.42,5.065,7.2,4.9C5.696,3.772,3.551,3.719,2,4.758 V12.6c1.717-0.881,3.896-0.77,5.524,0.306c1.966-1.099,4.442-1.187,6.476-0.243V4.785c-0.52-0.292-1.059-0.499-1.604-0.616 c-0.271-0.058-0.442-0.323-0.385-0.593c0.059-0.27,0.319-0.444,0.594-0.384c0.742,0.159,1.469,0.456,2.159,0.883 C14.91,4.166,15,4.327,15,4.5v9c0,0.182-0.099,0.349-0.257,0.438c-0.159,0.088-0.353,0.083-0.508-0.013 c-1.94-1.21-4.525-1.212-6.471,0c-0.175,0.107-0.399,0.1-0.564-0.024c-1.57-1.178-3.83-1.178-5.4,0C1.712,13.966,1.606,14,1.5,14z'/%3E%3C/g%3E%3C/svg%3E");

	}



/* Échelles typographiques (harmonies musicales) ----------------------- */
	/* --MajorSecond: 1.125; */
	/* --MajorThird: 1.250; */
	/* --PerfectFourth: 1.333; */
	/* --AugmentedFourth: 1.414; */
	/* --MinorThird: 1.200; */
	/* --MinorSecond: 1.067; */
	/* --PerfectFifth: 1.500; */
	/* --GoldenRatio: 1.618; */

/* Niveaux de l'échelle typographique ----------------------- */
	/* --Miniature: calc(var(--Shortest) / var(--Scale, 1)); */
	/* --Huger: calc(var(--Huge) * var(--Scale, 1)); */
	/* --Hugest: calc(var(--Huger) * var(--Scale, 1)); */
	/* --Shortest: calc(var(--Short) / var(--Scale, 1)); */
	/* --Short: calc(var(--Base, 1) / var(--Scale, 1)); */
	/* --Base: 1; */
	/* --Tall: calc(var(--Base, 1) * var(--Scale, 1)); */
	/* --Taller: calc(var(--Tall) * var(--Scale, 1)); */
	/* --Tallest: calc(var(--Taller) * var(--Scale, 1)); */
	/* --Huge: calc(var(--Tallest) * var(--Scale, 1)); */

/* Fonctions d'assouplissement ----------------------- */ 
	/* --ease-out-quad:     cubic-bezier(0.25, 0.46, 0.45, 0.94); */
	/* --ease-out-back:     cubic-bezier(0.175, 0.885, 0.32, 1.275); */
	/* --ease-bounce-light: cubic-bezier(0, 1.1, 1, 1.1); */
	/* --ease-in-out-back:  cubic-bezier(0.68, -0.25, 0.265, 1.25); */
	/* --ease-linear:       cubic-bezier(0, 0, 1, 1); */
	/* --ease-in:           cubic-bezier(0.42, 0, 1, 1); */
	/* --ease-out:          cubic-bezier(0, 0, 0.58, 1); */
	/* --ease-in-out:       cubic-bezier(0.42, 0, 0.58, 1); */
	/* --ease-in-sine:      cubic-bezier(0.47, 0, 0.745, 0.715); */
	/* --ease-out-sine:     cubic-bezier(0.39, 0.575, 0.565, 1); */
	/* --ease-in-out-sine:  cubic-bezier(0.445, 0.05, 0.55, 0.95); */
	/* --ease-in-quad:      cubic-bezier(0.55, 0.085, 0.68, 0.53); */
	/* --ease-back-in:      cubic-bezier(0.6, -0.28, 0.735, 0.045); */
	/* --ease-in-out-quad:  cubic-bezier(0.455, 0.03, 0.515, 0.955); */
	/* --ease-in-cubic:     cubic-bezier(0.55, 0.055, 0.675, 0.19); */
	/* --ease-out-cubic:    cubic-bezier(0.215, 0.61, 0.355, 1); */
	/* --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1); */
	/* --ease-in-quart:     cubic-bezier(0.895, 0.03, 0.685, 0.22); */
	/* --ease-out-quart:    cubic-bezier(0.165, 0.84, 0.44, 1); */
	/* --ease-in-out-quart:  cubic-bezier(0.77, 0, 0.175, 1); */
	/* --ease-in-quint:     cubic-bezier(0.755, 0.05, 0.855, 0.06); */
	/* --ease-out-quint:    cubic-bezier(0.23, 1, 0.32, 1); */
	/* --ease-in-expo:      cubic-bezier(0.95, 0.05, 0.795, 0.035); */
	/* --ease-out-expo:     cubic-bezier(0.19, 1, 0.22, 1); */
	/* --ease-in-out-expo:  cubic-bezier(1, 0, 0, 1); */
	/* --ease-in-circ:      cubic-bezier(0.6, 0.04, 0.98, 0.335); */
	/* --ease-out-circ:     cubic-bezier(0.075, 0.82, 0.165, 1); */
	/* --ease-in-out-circ:  cubic-bezier(0.785, 0.135, 0.15, 0.86); */
	/* --ease-in-back:      cubic-bezier(0.6, -0.28, 0.735, 0.045); */
