/* Règles initiales du système ----------------------- */

/* Appliquer les styles typographiques de base */
	html { 
		line-height: var(--RowFactor, 1.67125);
		font-size: var(--FontSize, clamp(var(--MinFontSize, 15px), var(--TargetFontSize, 1.2vw), var(--MaxFontSize, 20px)));
		color: var(--Color, initial); }

/* Contexte du corps de la page */
	body {
		max-width: var(--MaxBodyWidth, initial); }

/* Tailles typographiques et interlignage de base */
	*::before, *::after,
	select, input, textarea, button, legend, figcaption,
	p, ul, ol, a, q, cite, span, small, th, td,
	h1, h2, h3, h4, h5, h6 {
		--FontSize: calc(var(--ScaleLevel, 1) * 1em); }

	select, input, textarea, button, legend, figcaption,
	p, ul, ol, a, q, cite, span, small, th, td,
	h1, h2, h3, h4, h5, h6 {
		line-height: var(--LineHeight, inherit);
		font-size: var(--FontSize, inherit);
		font-style: var(--FontStyle, inherit);
		font-weight: var(--FontWeight, inherit);
		max-width: var(--MaxWidth, initial);
		color: var(--Color, inherit); }


/* Héritage en place pour les éléments « en-ligne » intérieurs */
	legend *, figcaption *, button *, p *, ul *, ol *, a *, q *, cite *, span *, small *, th *, td *,
	h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
		line-height: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit; }

/* Intégrer les balises de graisse dans le système typographique */
	strong, b {
		font-weight: var(--FontWeight, 600);
	}

/* Permettre aux icônes de recevoir la couleur contextuelle */
	i {
		fill: currentColor; }
