
/* Adaptation de la typographie ----------------------- */

	@media (max-width: 80em) { :root { --Scale: var(--MajorThird); } }
	@media (min-width: 80em) and (max-width: 100em) { :root { --Scale: var(--PerfectFourth); } }
	@media (min-width: 100em) { :root { --Scale: var(--AugmentedFourth); } }


/* Typographie basée sur les polices système ----------------------- */

	:root { font-family: var(--BaseFontStack, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"); }
	h1, h1+* { font-family: var(--TitleFontStack, "Avenir Next", "Helevetica Neue", "Helvetica", "Segoe UI"); }


/* Distribution aux titres de l'échelle typographique ----------------------- */

	h1 { --ScaleLevel: var(--Huge); --FontWeight: 700; }
	h2 { --ScaleLevel: var(--Tallest); }
	h3 { --ScaleLevel: var(--Tallest); }
	h4 { --ScaleLevel: var(--Base); --FontWeight: 600; --LineHeightFactor: .75; }
	h5 { --ScaleLevel: var(--Base); --LineHeightFactor: .75; }
	h6 { --ScaleLevel: var(--Short); --LineHeightFactor: .75; }


/* Styles typograhpiques particuliers -----------------------  */


	main>section>form p:only-of-type {
		--FontWeight: 600;
		--ScaleLevel: var(--Tall);
	}

	main>section header,
	main>section>p {
		--FontWeight: 600;
		--ScaleLevel: var(--Taller); }

	main>section aside {
		--ScaleLevel: var(--Short);
		--LineHeightFactor: .75; }

	body>aside h1,
	body>aside h2,
	body>aside h3 {
		--ScaleLevel: var(--Base); }
