/* Tout élément permettant de contrôler l'interface. */


/* Établir la gestion des couleurs par propriétés personnalisées. */

main>section>a:last-child,
label input,
label span {
	background-color: var(--ColorBgControls);
	color: var(--ColorControls);
}


/* Assigner les couleurs des différents états depuis la librairie */

nav li:not(.is-active) a:hover,
fieldset:valid input[type=radio]:not(:hover):not(:checked)~span {
	--ColorBgControls: var(--ColorLtBg);
	--ColorControls: var(--Color);
}

input:checked~span,
nav li.is-complete>a,
fieldset input:not(:placeholder-shown),
menu input[type=checkbox]:checked,
[data-wiki].is-read {
	--ColorBgControls: var(--ColorBgComplete);
	--ColorControls: var(--ColorComplete);
}

nav li.is-incomplete>a,
.is-read fieldset:invalid [type=radio]:not(:checked),
.is-read fieldset:invalid [type=text]:placeholder-shown,
.is-read [data-wiki]:not(.is-read) {
	--ColorBgControls: var(--ColorBgIncomplete);
	--ColorControls: var(--ColorIncomplete);
}

label input[type="checkbox"]:not(:checked) {
	--ColorBgControls: var(--ColorLt);
}

label input[type="checkbox"]:checked {
	--ColorBgControls: var(--Color);
}

nav li.is-active>a {
	--ColorBgControls: var(--ColorBgActive);
	--ColorControls: var(--ColorActive);
	cursor: unset;
}



/* Styles de base pour les champs de formulaire et leurs libellés */

label {
	position: relative;
	display: inline-flex;
	align-items: baseline;
	box-sizing: border-box;
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: auto;
}

input[class*="toggle-"],
input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
}

input[type=radio] {
	all: initial;
	appearance: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

label input[type=checkbox] {
	display: inline-block;
	width: 2ch;
	height: 2ch;
}

span+input[type="checkbox"] {
	align-self: center;
	margin-left: var(--Row);
}


/* Styles de focus */

input[type="checkbox"]:focus,
details>summary:focus {
	outline: none;
	box-shadow: none;
}

input[type="checkbox"]:focus::before,
details>summary:focus>:last-child::after {
	box-shadow: 0px 0px 2px 1px var(--ColorSupport);
}


/* Générer des pseudo-boutons */

details>summary>:last-child::after,
[class^="toggle-"]::before,
[id="wikiViewer"] [id="wikiViewerClose"]:after,
[data-wiki]:after {
	content: "";
	font-weight: 700;
	width: 1ch;
	height: 1ch;
	line-height: 1ch;

}


/* Styles de bouton de contrôle et de leur libellés. */

main>section>a:last-child,
details>summary>:last-child::after,
[data-wiki]:after,
[id="wikiViewer"] [id="wikiViewerClose"]:after,
input[type=radio]+span,
input[type="number"],
[class*="toggle-"]:before,
label input[type="checkbox"],
.toggle-internal-nav::before {
	text-decoration: none;
	display: inline-flex;
	background-color: var(--ColorBgControls);
	border-radius: 3px;
	border: 1px solid var(--ColorLt);
	border-top-width: 1px;
	border-bottom-width: 2px;
	box-shadow: 0 1px 2px  var(--dk-primary);
	color: var(--ColorControls);
	fill: var(--ColorControls);
	line-height: 1.1;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	padding: .65ch;
	vertical-align: bottom;
}


/* Ajustements spécifiques au contrôles de details */

details summary>:last-child:after {
	margin-left: .5em;
	font-weight: 800;
	width: .5em;
	font-size: .75em;
	margin-left: .5rem;
}


/* Styles de survol des contrôles */

main>section>a:last-child:hover,
[data-wiki]:hover:after,
[class*="toggle-"]:hover:before,
[id="wikiViewer"] [id="wikiViewerClose"]:hover:after,
details>summary:hover>:last-child::after,
input[type=radio]:not(:checked)~span:hover,
input[type=number] {
	background-color: var(--ColorAccent);
}


/* Contrôles radio cochés */

input[type=radio]:checked~span {
	position: relative;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
	border-color: var(--ColorControls);
	top: 2px;
	border-bottom-width: 1px;
	border-color: rgba(0,0,0,0.2);
}


/* Icônes et caractères particuliers aux différents états et variantes de contrôles. */

main>section>a:last-child:after {
	content: "▶";
	font-size: .875em;
	margin-left: 1.5ch;
	vertical-align: text-top;
}

[id="wikiViewer"] [id="wikiViewerClose"]:after {
	content: "x";
}

[data-wiki]:after {
	content: '?';
}

details summary>:last-child:after,
.toggle-subunits::before,
.toggle-units::before {
	content: "+";
}

details[open] summary>:last-child:after,
.toggle-subunits:checked::before {
	content: "-";
}

.toggle-internal-nav:not(:checked)~nav li.is-complete:not(:hover)>a::before,
.toggle-units.is-read:before,
[data-wiki].is-read:not(:hover):after {
	content: "✓";
	font-weight: 700;
}

[data-wiki].easter.is-read:not(:hover):after {
	content: "🎉";
	background-color: transparent;
	box-shadow: initial;
	border-color: transparent;
}


