fieldset span,
fieldset input,
aside>details>*,
fieldset input[type=radio]+span {
	background-color: var(--ColorBgControls);
	--Color: var(--ColorControls);
}


fieldset:valid,
.toggle-units.is-read,
[data-wiki].is-read {
	--ColorBgControls: var(--ColorBgComplete);
	--ColorControls: var(--ColorComplete);
}

.is-read fieldset:invalid,
.is-read [data-wiki]:not(.is-read) {
	--ColorBgControls: var(--ColorBgIncomplete);
}

input[class*="toggle-"] {
	-webkit-appearance: none;
	appearance: none;
}

[class^="toggle-"]::before,
[id="wikiViewer"] [id="wikiViewerClose"]:after,
[data-wiki]:after {
	content: "";
	font-weight: 700;
	width: 1ch;
	height: 1ch;
	line-height: 1ch;
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	padding: .5ch;
}

[id="wikiViewer"] [id="wikiViewerClose"]:after {
	content: "x";
}

[data-wiki]:after,
.toggle-units::before {
	content: '?';
}

.toggle-subunits::before {
	content: "+";
}

.toggle-subunits:checked::before {
	content: "-";
}

.toggle-units.is-read:before,
[data-wiki].is-read:not(:hover):after {
	content: "✓";
}


aside>details>*,
[data-wiki]:after,
[id="wikiViewer"] [id="wikiViewerClose"]:after,
fieldset input[type=radio]+span,
[class*="toggle-"]:before,
.toggle-internal-nav::before {
	background-color: var(--ColorBgControls);
	border-radius: 3px;
	border: 1px solid var(--ColorActive);
	border-top-width: 1px;
	border-bottom-width: 2px;
	box-shadow: 0 1px 2px  var(--ColorBgAlt);
	color: var(--ColorControls);
	fill: var(--ColorControls);
}

[data-wiki]:hover:after,
[class*="toggle-"]:hover:before,
[id="wikiViewer"] [id="wikiViewerClose"]:hover:after,
fieldset input[type=radio]:not(:checked)~span:hover {

	background-color: var(--ColorAccent);
	/* border-color: var(--lt-yellow); */
}

fieldset input[type=radio]:checked~span {
	box-shadow: inset 0 1px 2px  var(--purple);
	top: 2px;
	border-top-width: 2px;
	border-bottom-width: 1px;
}
