:root {
	--Color: var(--ltr-purple);
	--ColorDk: var(--lt-purple);
	--ColorLtBg: var(--dk-primary);
	--ColorBgAlt: var(--dk-primary);
	--ColorLtBgAlt: var(--brown);
	--ColorLines: var(--tr-purple);
	--ColorSupport: var(--dk-beige);
	--ColorLtSupport: var(--beige);
	--ColorDkAccent: var(--dk-yellow);
	/* --ColorBgControls: var(--ColorAccent); */
	--ColorBg: var(--primary);
	--ColorSupport: var(--lt-purple);
	--ColorForeign: var(--lt-red);
	--ColorLocal: var(--lt-blue);
	--ColorBgControls: var(--dk-primary);
	--ColorControls: var(--ltr-purple);
	--ColorBgComplete: var(--dk-green);
	--ColorBgIncomplete: var(--dk-red);
	--ColorBgActive: var(--dk-yellow);
	--ColorComplete: var(--lt-green);
	--ColorIncomplete: var(--lt-red);
	--ColorActive: var(--lt-yellow);
}
