/* Librairie de valeurs et unités de conception ----------------------- */
/* Pour assurer un poids minimal dans le navigateur,
 * seulement les valeurs utilisées sont déclarées. 
 * Se référer au bas de ce fichier pour la liste complète. */

	:root {
		--Row: calc(var(--RowFactor, 1.67125) * var(--RowUnit, 1rem));
		--Size: 1;
		--MajorSecond: 1.125;
		--MinorThird: 1.200;
		--MajorThird: 1.250;
		--PerfectFourth: 1.333;
		--AugmentedFourth: 1.414;

		--Shortest: calc(var(--Short) / var(--Scale, 1));
		--Short: calc(var(--Base, 1) / var(--Scale, 1));
		--Base: 1;
		--Tall: calc(var(--Base, 1) * var(--Scale, 1));
		--Taller: calc(var(--Tall) * var(--Scale, 1));
		--Tallest: calc(var(--Taller) * var(--Scale, 1));
		--Huge: calc(var(--Tallest) * var(--Scale, 1));
		--Huger: calc(var(--Huge) * var(--Scale, 1));

		--ease-out-quad:     cubic-bezier(0.25, 0.46, 0.45, 0.94);
		--ease-out-back:     cubic-bezier(0.175, 0.885, 0.32, 1.275);
		--ease-bounce-light: cubic-bezier(0, 1.1, 1, 1.1);
	}

	:root {
			--base64-checkmark: url("data:image/svg+xml,%3Csvg viewBox='0 0 68 65' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M24.451 45.62L54.465 3.087c2.302-3.29 6.877-4.074 10.153-1.757 3.276 2.321 4.072 6.873 1.77 10.163L30.973 61.698a7.294 7.294 0 01-5.637 3.082 7.267 7.267 0 01-5.873-2.552L1.756 41.483c-2.627-3.062-2.243-7.665.826-10.28 3.04-2.611 7.644-2.247 10.27.812l11.599 13.604z' fill='%23eeeeee'/%3E%3C/svg%3E");
--base64-thumb: url("data:image/svg+xml,%0A%3Csvg height='100px' width='100px' fill='%23000000' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Cpath d='M68.8,41H58.2v-7.5c0-3.6-1.1-6.3-3.2-7.8c-3.4-2.5-8-1.1-8.1-1c-0.8,0.3-1.3,1-1.3,1.8v9.1c0,6.6-7.7,8.9-8.2,9.1 c-0.7-0.8-1.6-1.3-2.7-1.3h-7.6c-2,0-3.6,1.6-3.6,3.6v23.7c0,2,1.6,3.6,3.6,3.6h7.6c0.9,0,1.6-0.3,2.2-0.8c1.4,1.3,3.3,2.1,5.4,2.1 h22.2c5.2,0,8.6-2.8,9.2-7.6l3-18.8c0-0.1,0-0.2,0-0.3v-0.2C76.7,44.5,73.2,41,68.8,41z M34.4,70.6h-7.2V47.3h7.2V70.6z M72.8,48.9 l-3,18.6c0,0,0,0,0,0.1c-0.1,1.1-0.5,4.3-5.4,4.3H42.2c-2.2,0-4-1.8-4-4V48.4c0,0,0.1,0,0.1,0c0.4-0.1,11-3.2,11-12.8v-7.5 c1-0.1,2.4,0,3.4,0.7c1.1,0.8,1.7,2.4,1.7,4.7v9.4c0,1.1,0.9,1.9,1.9,1.9h12.5C71,44.9,72.8,46.7,72.8,48.9L72.8,48.9z'%3E%3C/path%3E%3C/svg%3E");
	}



/* Échelles typographiques (harmonies musicales) ----------------------- */
	/* --MajorSecond: 1.125; */
	/* --MajorThird: 1.250; */
	/* --PerfectFourth: 1.333; */
	/* --AugmentedFourth: 1.414; */
	/* --MinorThird: 1.200; */
	/* --MinorSecond: 1.067; */
	/* --PerfectFifth: 1.500; */
	/* --GoldenRatio: 1.618; */

/* Niveaux de l'échelle typographique ----------------------- */
	/* --Miniature: calc(var(--Shortest) / var(--Scale, 1)); */
	/* --Huger: calc(var(--Huge) * var(--Scale, 1)); */
	/* --Hugest: calc(var(--Huger) * var(--Scale, 1)); */
	/* --Shortest: calc(var(--Short) / var(--Scale, 1)); */
	/* --Short: calc(var(--Base, 1) / var(--Scale, 1)); */
	/* --Base: 1; */
	/* --Tall: calc(var(--Base, 1) * var(--Scale, 1)); */
	/* --Taller: calc(var(--Tall) * var(--Scale, 1)); */
	/* --Tallest: calc(var(--Taller) * var(--Scale, 1)); */
	/* --Huge: calc(var(--Tallest) * var(--Scale, 1)); */

/* Fonctions d'assouplissement ----------------------- */ 
	/* --ease-out-quad:     cubic-bezier(0.25, 0.46, 0.45, 0.94); */
	/* --ease-out-back:     cubic-bezier(0.175, 0.885, 0.32, 1.275); */
	/* --ease-bounce-light: cubic-bezier(0, 1.1, 1, 1.1); */
	/* --ease-in-out-back:  cubic-bezier(0.68, -0.25, 0.265, 1.25); */
	/* --ease-linear:       cubic-bezier(0, 0, 1, 1); */
	/* --ease-in:           cubic-bezier(0.42, 0, 1, 1); */
	/* --ease-out:          cubic-bezier(0, 0, 0.58, 1); */
	/* --ease-in-out:       cubic-bezier(0.42, 0, 0.58, 1); */
	/* --ease-in-sine:      cubic-bezier(0.47, 0, 0.745, 0.715); */
	/* --ease-out-sine:     cubic-bezier(0.39, 0.575, 0.565, 1); */
	/* --ease-in-out-sine:  cubic-bezier(0.445, 0.05, 0.55, 0.95); */
	/* --ease-in-quad:      cubic-bezier(0.55, 0.085, 0.68, 0.53); */
	/* --ease-back-in:      cubic-bezier(0.6, -0.28, 0.735, 0.045); */
	/* --ease-in-out-quad:  cubic-bezier(0.455, 0.03, 0.515, 0.955); */
	/* --ease-in-cubic:     cubic-bezier(0.55, 0.055, 0.675, 0.19); */
	/* --ease-out-cubic:    cubic-bezier(0.215, 0.61, 0.355, 1); */
	/* --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1); */
	/* --ease-in-quart:     cubic-bezier(0.895, 0.03, 0.685, 0.22); */
	/* --ease-out-quart:    cubic-bezier(0.165, 0.84, 0.44, 1); */
	/* --ease-in-out-quart:  cubic-bezier(0.77, 0, 0.175, 1); */
	/* --ease-in-quint:     cubic-bezier(0.755, 0.05, 0.855, 0.06); */
	/* --ease-out-quint:    cubic-bezier(0.23, 1, 0.32, 1); */
	/* --ease-in-expo:      cubic-bezier(0.95, 0.05, 0.795, 0.035); */
	/* --ease-out-expo:     cubic-bezier(0.19, 1, 0.22, 1); */
	/* --ease-in-out-expo:  cubic-bezier(1, 0, 0, 1); */
	/* --ease-in-circ:      cubic-bezier(0.6, 0.04, 0.98, 0.335); */
	/* --ease-out-circ:     cubic-bezier(0.075, 0.82, 0.165, 1); */
	/* --ease-in-out-circ:  cubic-bezier(0.785, 0.135, 0.15, 0.86); */
	/* --ease-in-back:      cubic-bezier(0.6, -0.28, 0.735, 0.045); */
