/* Règles initiales du système ----------------------- */

/* Appliquer les styles typographiques de base */
	html { 
		line-height: var(--RowFactor, 1.67125);
		font-size: var(--FontSize, clamp(13px, 1.1vmax, 18px));
		color: var(--Color, var(--ColorText)); }

/* Contexte du corps de la page */
	body {
		width: var(--BodyWidth, auto);
		max-width: var(--MaxBodyWidth, initial); }

/* Tailles typographiques et interlignage de base */
	*::before, *::before,
	select, input, textarea,
	p, ul, ol, a, q, cite, span, small, th, td,
	h1, h2, h3, h4, h5, h6 {
		--FontSize: calc(var(--Size, 1) * var(--ScaleLevel, 1) * var(--FontFactor, 1) * var(--FontUnit, 1em));
	}

	select, input, textarea,
	p, ul, ol, a, q, cite, span, small, th, td,
	h1, h2, h3, h4, h5, h6 {
		line-height: var(--LineHeight, inherit);
		font-size: var(--FontSize, inherit);
		font-style: var(--FontStyle, inherit);
		font-weight: var(--FontWeight, inherit);
		max-width: var(--MaxWidth, initial);
		color: var(--Color, inherit); }


/* Héritage en place pour les éléments « en-ligne » intérieurs */
	p *, ul *, ol *, a *, q *, cite *, span *, small *, th *, td *,
	h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
		line-height: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit; }

	strong, b {
		font-weight: 500;
	}


/* Permettre aux icônes de recevoir la couleur contextuelle */
	i {
		fill: var(--Color, inherit);
	}
