[href=""] {
	cursor: not-allowed;
	pointer-events: none;
}

p strong {
	background-color: var(--ColorBgAlt);
	box-shadow: 0 1px 0 2px var(--ColorBgAlt);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
 }

.username {
	white-space: nowrap;
}

.sitename {
	font-weight: 900;
	text-transform: uppercase;
	font-size: .78125em;
	display: inline-block;
	margin-left: .125em;
}
