
/* Adaptation de la typographie ----------------------- */

	@media (max-width: 60em) { :root { --Scale: var(--MinorThird); } }
	@media (min-width: 60em) { :root { --Scale: var(--PerfectFourth); } }


/* Typographie basée sur les polices système ----------------------- */

	:root { font-family: var(--BaseFontStack, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"); }
	h1, header>small:first-child { font-family: var(--TitleFontStack, "Avenir Next", "Helvetica Neue", "Helvetica", "Segoe UI"); }


/* Distribution aux titres de l'échelle typographique ----------------------- */

	h1 { --ScaleLevel: var(--Huger); --FontWeight: 700; }
	h2 { --ScaleLevel: var(--Huge); }
	h3 { --ScaleLevel: var(--Huge); --FontWeight: 600; }
	h4 { --ScaleLevel: var(--Base); --FontWeight: 600; --LineHeightFactor: .75; }
	h5 { --ScaleLevel: var(--Base); --LineHeightFactor: .75; }
	h6 { --ScaleLevel: var(--Short); --LineHeightFactor: .75; }


/* Styles typographiques particuliers -----------------------  */

  	main>section form p	{
		--ScaleLevel: var(--Tall);
	}

	main>section>p {
		--ScaleLevel: var(--Taller);
	}

	main>section header {
		--FontWeight: 500;	
		--ScaleLevel: var(--Taller); }

	nav details,
	main>section aside {
		--ScaleLevel: var(--Short);
		--LineHeightFactor: .75;
	}

	body>aside h1,
	body>aside h2,
	body>aside h3 {
		--ScaleLevel: var(--Base); }
	
	body>aside>div>header>*,
	body>aside>div>footer>* {
		--ScaleLevel: var(--Short);
		--LineHeightFactor: .75; }
	
	main>h2 {
		--ScaleLevel: var(--Short);
		--FontWeight: 700;
	}

	strong, b {
		font-weight: 500;
	}

	.prose>* {
		font-weight: 300;
	}

