.chain div:not([class])+.unknown-link hr {
	display: none; /* SALE — Faudrait l'enlever dans le XSLT */
}

main>section {
/* Cause un bug au défilement si fenêtre plus petite que contenu*/
	/* content-visibility: auto; */
	/* contain: content; */
}

main>section>:not(header)+div:last-child,
main>section>article>div {
	/* contain: strict; */
}

.has-js [data-parallax],
.has-js body>nav {
	animation: opacity 1200ms 400ms;
	animation-fill-mode: both;
}

@keyframes opacity {
	from { opacity: var(--OpacityInvisible, 0); }
	to { opacity: var(--OpacityVisible, 1); }
}

.chain .variable.arrow {
	--ArrowLine: 2px dotted currentColor;
}

.chain .variable.arrow:only-of-type {
	--ArrowLine: 2px solid currentColor;
}

.diagram .variable.arrow {
	transform: rotate(40deg);
	transform-origin: center !important;
	display: none !important;
}

.diagram .variable.arrow {
	margin: var(--Row) 0 !important;
}

.diagram>div>div:last-of-type hr.arrow::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='28px' height='16px' viewBox='0 0 56 33' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:butt;stroke-miterlimit:1.5;'%3E%3Cpath d='M3.756,26.664l22.908,-22.908l24.9,24.899' style='fill:none;stroke:%23D5D5D2;stroke-width:8px;'/%3E%3C/svg%3E");	
	content: initial;
	top: -3px !important;
	left: 30% !important;
	position: relative;
}

.chain .arrow:after {
    width: initial !important;
}

.product h4 {
	display: none;
}

:root {
	--purple: #ac00b1;
	--purple: #641677;
	--purple: #7a0098;
}

main>section>section div header>* {
	margin-top: 0;
}

main>section>section section header {
	align-self: flex-end;
}

.sitename {
	font-weight: 900;
	text-transform: uppercase;
	font-size: .73125em;
	display: inline-block;
}

h1+p {
	font-weight: 700;
	margin-top: calc(var(--Row) * .25);
}

h1 .local {
	white-space: nowrap;
}

body {
}

/* main { */
/* 	align-items: flex-start; */
/* 	overflow-y: hidden; */
/* } */

nav a {
	/* outline: 1px solid red; */
}

nav>ul>li:not(.is-complete)>a {
	background-color: var(--ltr-primary);
}


.chain .product .icon {
	--IconHeight: calc(var(--Row) * 1.25 * var(--Size));
	background-color: var(--lt-primary);
}
.chain .good.arrow {
	flex-grow: 0;
}

.chain .good.arrow,
.chain .link .amount {
	margin: 0;
}



.chain article:not(:first-child):not(:last-child) svg {
	fill: url('#gradient-local-foreign');
}
