details summary,
details summary>* {
	display: block;
}

details summary *>* {
	display: inline;
}

*+details {
	margin-top: calc(var(--Row) * .5);
}

details summary::-webkit-details-marker,
details summary::marker {
	display: none;
	content: "";
}
