details summary  {
	display: block;
}

details summary>:last-child:after {
	content: "+";
	margin-left: .5em;
	font-weight: 800;
	width: .5em;
}
details[open] summary>:last-child:after {
	content: "-";
}

details summary *>* {
	display: inline;
}

details * {
	--ScaleLevel: var(--Short);
	--LineHeightFactor: .75;
}

*+details {
	margin-top: calc(var(--Row) * .5);
}

details summary::-webkit-details-marker,
details summary::marker {
	display: none;
	content: "";
}


