.chain .goods-list>.product {
	display: contents;
}

.chain .goods-list>.product>section {
	width: max-content;
	/* display: grid; */
	/* gap: 7px; */
	/* grid-template-columns: repeat(auto-fill, 25px); */
	justify-content: flex-start;
	width: 100%;
	position: relative;
	flex-wrap: wrap-reverse;
}

.goods-list>.product p {
	display: contents;
	--ScaleLevel: var(--Short);
	--LineHeightFactor: .75;
}

.goods-list>.product p em {
	font-style: normal;
	/*width: 0;*/
	display: inline-flex;
	width: max-content;
	max-width: 100%;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: -3px;
	padding: 3px;
	background-color: white;
	pointer-events: none;
	/* font-size: 14px; */
	font-weight: 500;
	/*color: white;*/
	/*box-shadow: 0 0 2px hsl(266, 8%, 35%)*/
	/*height: 0;*/

}

.goods-list>.product p:not(:hover) em {
	opacity: 0
}

/*
[id="goods-list"] p:last-of-type span {
	background-color: mauve;
}*/

.goods-list>.product p:hover {
	filter: drop-shadow(0px 0px 20px hsl(266, 8%, 40%));
}

.goods-list>.product p:hover span {
	/* background-color: hsla(var(--hue), calc(100% * var(--hue)), 76%, 1); */
	/*background-color: rgba(0,0,0,.2);*/
	/*background-color: hsl(266, 8%, 10%);*/
	/* border-radius: 1px; */
	/*box-shadow: 0 0 0 5px hsl(266, 8%, 10%);*/
	/* box-shadow: 0 0 0 5px hsla(var(--hue), calc(100% * var(--hue)), 76%, 1), 0 10px 0 0 hsl(266, 8%, 10%); */
	/* padding: 4px; */
	z-index: 1;
}

.goods-list>.product:hover p:not(:hover) span {
	/* fill: hsl(266, 8%, 35%); */
}

.goods-list>.product p:hover span {
	/*mix-blend-mode: multiply;*/
	/* fill: hsl(266, 8%, 35%); */
	/*fill: hsla(var(--hue), calc(100% * var(--hue)), 76%, 1);*/
}

.goods-list>.product p:not(:hover) {
	transition-delay: 20ms;
}

.goods-list>.product p * {
	transition-delay: inherit;
}


.goods-list>.product span {
	/*display: flex;*/
	align-items: center;
	width: 25px;
	height: 25px;
	flex-shrink: 0;
	/* font-size: 25px; */
	/* color: hsl(var(--hue), 100%, 70%); */
	color: var(--blue);
	/* background-color: var(--yellow); */
	position: static;
	/* border-radius: 2px; */
	/* box-sizing: border-box; */
	padding: 3px;
	/* box-shadow: 0 0 0 0 rgba(0,0,0,.2); */
	/* fill: hsl(266, 8%, 35%); */
	/* fill: hsla(var(--hue), calc(100% * var(--hue)), 76%, 1); */
	margin: 0;

}

.chain .goods-list>input {
	-webkit-appearance: none;
	appearance: none;
	display: flex;
	z-index: 1;
	align-items: center;
	justify-content: flex-start;
	visibility: hidden;
	position: absolute;
	top: 100%;
}

.chain .agent:not(:hover) .goods-list>input {
	/* opacity: 0; */
}

.chain .goods-list>input:not(:checked)~div {
	pointer-events: none;
	opacity: 0;
	transform-origin: bottom center;
}



.chain .goods-list>input::before {
	visibility: visible;
	margin-top: calc(1px - var(--Row) * .5);
}

.chain .goods-list>input:checked::before {
	content: "x";
	background-color: var(--lt-red);
}

.goods-list>.product span:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.goods-list>.product span:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.chain .goods-list {
	flex-direction: column;
	display: contents;
/* 	position: absolute; */
/* 	right: 100%; */
/* 	margin: var(--Row); */
}

.chain #goods-list>section:first-child {
	order: -1;
}
