figure {
	color: var(--Color);
	max-width: 100%;
	box-sizing: border-box;
	overflow: auto;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

figure figcaption {
	text-align: center;
	position: sticky;
	transition-delay: 90ms;
	margin-top: var(--Row);
	box-sizing: border-box;
	max-width: 98vw;
	left: 0;
	right: 0;
}

figure figcaption>* {
	text-align: left;
}

figure figcaption>p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

figure figcaption>div {
	max-width: max-content;

	align-items: flex-start;
	--DivDisplay: inline-flex;
	--DivItemGutter: var(--Row);
}

figure figcaption *+p {
	margin-top: calc(var(--Row) * .25);
}

figure figcaption>div>* {
	flex-basis: 40ch;
	flex-grow: 1;
	max-width: 60ch;
}
