/* Styles génériques de base ----------------------- */

	/* Assurer que les balises racines occupent
		au minimum la hauteur complète de la fenêtre */
	html { height: 100%; }
	body { min-height: 100%; }
	
	/* Établir le document entier comme
		contexte de positionnement absolu */
	html { position: relative; }
	
	/* Enlever toutes marges */
	* { padding: 0; margin: 0; }

	/* Laisser les graisses être héritées */
	* { font-weight: inherit; }
	
	/* Restreindre les images aux dimensions
		de leur parent. Éviter l'espace de 
		la hauteur de ligne (inline vs. block) */
	img {
		max-width: 100%;
		display: block;
		object-fit: cover; }
	
	/* Garder la puce à l'intérieur 
		de la colonne de texte */
	ul { padding-left: 1.1em; }
