/* Styles génériques de base ----------------------- */
	
	/* Enlever toutes marges */
	* { padding: 0; margin: 0; }

	/* Rythme des contenus */
	*+* {
		margin-top: calc(var(--Row));
	}

	html>*,
	body>*,
	label>*,
	ul>* {
		margin-top: 0;
	}

	/* Laisser les graisses être héritées */
	* { font-weight: inherit; }
	
	/* Restreindre les images aux dimensions
		de leur parent. Éviter l'espace de 
		la hauteur de ligne (inline vs. block) */
	img {
		max-width: 100%;
		display: block;
		object-fit: cover; }
	
	/* Garder la puce à l'intérieur 
		de la colonne de texte */
	ul { padding-left: 1.1em; }

	/* Meilleur affichage typographique */	
	html { text-rendering: geometricPrecision; }

	/* Empêcher le spring qui fuck le chien */
	body { overscroll-behavior-y: none; }
