/* Composante de navigation. 
	Toute propriété relevant de la composition
	se retrouve dans « l-master_composition.css » */


nav {
	background-color: var(--ltr-brown);
}

nav a {
	text-decoration: none;
	width: calc(var(--Row) * 1.5);
	height: calc(var(--Row) * 1.5);
	background-color: var(--ColorAccent);
	border-radius: 50%;
	position: relative;
	margin-top: calc(var(--Row) * .75 / 2);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

nav a:before {
	content: "";
	width: var(--Row);
	height: calc(var(--Row) * 1.5);
	display: block;
	position: absolute;
	bottom: calc(100% - var(--Row) / 2);
	background-color: var(--ColorAccent);
	/*margin-top: calc(-1 * var(--Row) * .75);*/
}

nav a:after {
	flex-shrink: 0;
	z-index: 1;
	display: block;
	width: calc(var(--Row) * .4125);
	position: relative;
	left: calc(var(--Row) * .125);
	content: url("data:image/svg+xml,%3Csvg viewBox='0 0 68 65' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M24.451 45.62L54.465 3.087c2.302-3.29 6.877-4.074 10.153-1.757 3.276 2.321 4.072 6.873 1.77 10.163L30.973 61.698a7.294 7.294 0 01-5.637 3.082 7.267 7.267 0 01-5.873-2.552L1.756 41.483c-2.627-3.062-2.243-7.665.826-10.28 3.04-2.611 7.644-2.247 10.27.812l11.599 13.604z' fill='%237c0fc0'/%3E%3C/svg%3E");
}

nav a.is-active:after {
	content: "";
	border-radius: 50%;
	/*opacity: .5;*/
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*box-shadow: 0px 0px 0px 4px var(--ColorDkAccent);*/
	/*background-color: var(--ltst-primary);*/
}

nav a.is-active~a:after {
	content: "";
}

nav a.is-active~a:before {
	content: none;
}

nav a.is-active {
	border: 4px solid var(--ColorDkAccent);
	/*box-shadow: 0px calc(var(--Row) * .25) var(--ColorDkAccent);*/
}

nav a.is-active~* {
	height: var(--Row);
	width: var(--Row);
	background-color: var(--ltr-brown);
}

@media (orientation: portrait) {
	nav a {
		flex-shrink: 0;
	}
}
