/* NOTES -----------------------
	- Dans Chrome, du moins, la valeur de row n'est pas toujours constante.
	  Une base précise semble être nécessaire. La seule testée présentement est :
	  (multiple de 4) * 1.5625 = 6.25px, 12.5px, 18.75px, 25px, 31.25px, etc.
	  La raison de cette inconstance est présentement inconnue.
*/

/* Configuration maîtresse ----------------------- */
	
	:root {
		--BodyWidth: auto;
		--MaxBodyWidth: initial;
		
		--RowFactor: 1.6125;
		--RowUnit: 1rem;

		--MinFontSize: 13px;
		--BaseFontSize: 1.1vw;
		--MaxFontSize: 20px;
		--FontUnit: 1em;

		--BaseFontStack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		--TitleFontStack: "Avenir Next", "Helevetica Neue", "Helvetica", "Segoe UI";
		--SubtitleFontStack: "Helvetica Neue", "Helvetica", "Segoe UI", -apple-system;
		--Color: var(--ColorText);
	}


/* Adaptation de la typographie ----------------------- */
	
	@media (max-width: 40em) { :root { --Scale: var(--MajorSecond); } }
	@media (min-width: 40em) and (max-width: 80em) { :root { --Scale: var(--MajorThird); } }
	@media (min-width: 80em) and (max-width: 100em) { :root { --Scale: var(--PerfectFourth); } }
	@media (min-width: 100em) { :root { --Scale: var(--AugmentedFourth); } }


/* Adaptation de la grille ----------------------- */
	
	@media (max-width: 40em) { :root { --Grid: 3; } }
	@media (min-width: 40em) and (max-width: 60em) { :root { --Grid: 6; } }
	@media (min-width: 60em) and (max-width: 80em) { :root { --Grid: 10; } }
	@media (min-width: 80em) and (max-width: 100em) { :root { --Grid: 11; } }
	@media (min-width: 100em) { :root { --Grid: 12; } }


/* Typographie basée sur les polices système ----------------------- */

	:root { font-family: var(--BaseFontStack); }
	h1 { font-family: var(--TitleFontStack); }
	header { font-family: var(--SubtitleFontStack); }


/* Distribution aux titres de l'échelle typographique ----------------------- */

	h1 { --ScaleLevel: var(--Huge); }
	h2 { --ScaleLevel: var(--Tallest); }
	h3 { --ScaleLevel: var(--Taller); }
	h4 { --ScaleLevel: var(--Tall); }
	h5 { --ScaleLevel: var(--Base); }
	h6 { --ScaleLevel: var(--Short); }


/* Styles typograhpiques particuliers -----------------------  */



	main>section header {
		--FontWeight: 600;
		--Color: var(--ColorSupport);
		--MaxWidth: calc(var(--Row) * 45);
		--ScaleLevel: var(--Taller); }

	fieldset p {
		--ScaleLevel: var(--Taller);
		--MaxWidth: calc(var(--Row) * 22);
		--FontWeight: 300; }

	main>section aside {
		--ScaleLevel: var(--Short);
		--LineHeightFactor: .75; }

	body>aside h1,
	body>aside h2,
	body>aside h3 {
		--ScaleLevel: var(--Base); }
