
main>section [data-parallax] {
	transform: translate3d(0, calc( var(--scrollParallax) * 1px ), 0);
	transition: none;
	position: absolute;
	top: 0;
	right: 0;
}

main>section>div:last-child {
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
}

main>section>div:last-child>svg {
	color: var(--Color);
	height: var(--Height);
	width: var(--Width);
}

.basket {
	--Height: clamp(500px, 200vh, 1400px); 
	--Width: clamp(200px, 50vw, 800px);
}

.consumer {
	--Height: clamp(500px, 100vh, 900px); 
	--Width: clamp(200px, 50vw, 800px);
}

main>section [data-parallax] {
	/* mix-blend-mode: multiply; /1* ATTENTION ! performance : utiliser avec conteneur parent « isolation » *1/ */
}

main>section>div:last-child {
	isolation: isolate;
}

