
main>section [data-parallax] {
	transform: translate3d(0, calc( var(--scrollParallax) * 1px ), 0);
	transition: none;
	position: absolute;
	top: 0;
	right: 0;
}

main>section>:not(header)+div:last-child {
	z-index: -1;
	position: absolute;
	top: calc(var(--Row) * 1.625);
	right: 0;
	bottom: calc(-1 * var(--Row) * 3);
	left: 0;
	margin: 0;
	overflow: hidden;
}

main>section>:not(header)+div:last-child>svg {
	color: var(--Color);
	height: var(--Height);
	width: var(--Width);
}

.basket {
	--Height: clamp(500px, 200vh, 1400px); 
	--Width: clamp(200px, 50vw, 800px);
}

.consumer {
	--Height: clamp(500px, 200vh, 1200px); 
	--Width: clamp(600px, 250vw, 1200px);
}

.retailer {
	--Height: clamp(500px, 200vh, 1200px); 
	--Width: clamp(600px, 300vw, 2200px);
}

.beer {
	--Height: clamp(500px, 160vh, 1200px);
	--Width: clamp(600px, 80vh, 700px);
}
.beer[data-parallax] {
	top: auto;
	bottom: 0;
	left: 70vw;
}

.retailer[data-parallax] {
	top: auto;
	bottom: calc(-1 * var(--Row) * 3);
	left: 75vw;
}

.consumer[data-parallax] {
	top: auto;
	bottom: calc(-1 * var(--Row) * 2);
	left: 70vw;
	transform: rotate(265deg) scale(1);
}
main>section [data-parallax] {
	/* mix-blend-mode: multiply; /1* ATTENTION ! performance : utiliser avec conteneur parent « isolation » *1/ */
}

main>section>:not(header)+div:last-child {
	isolation: isolate;
}

