:root {
	--grid-paper-lines: -1px 0px var(--ltst-primary), 0px -1px var(--ltst-primary), -1px 0px var(--ltst-primary) inset, 0px -1px var(--ltst-primary) inset;
}

main {
	background-image:
	 	linear-gradient(to right, transparent calc(100% - 1px), rgba(0,0,0,.1) 0),
	/* grille de ligne de base typographique */
		linear-gradient(to bottom, transparent calc(100% - 1px), rgba(0,0,0,.1) 0);
	background-size: 
	/* dimensions de la grille de ligne de base typographique */
		var(--GridUnit) 100%, 100% var(--GridUnit);
}

main>section>section {
	position: relative;
	padding: var(--Row);
	box-shadow: var(--grid-paper-lines);
	background-color: var(--ColorBg);
}


main>section>*+* {
	margin-top: calc(var(--Row));
}

@media (orientation: portrait) and (min-width: 40em) {
	main {
		border-right: calc(var(--H_GridUnitRest) / 2) solid grey;
		border-left: calc(var(--H_GridUnitRest) / 2) solid grey;
	}
}

@media (orientation: landscape) {
	main {
		border-right: var(--H_GridUnitRest) solid grey;
	}
}