main {
	background-image:
	 	linear-gradient(to right, transparent calc(100% - 1px), rgba(0,0,0,.1) 0),
	/* grille de ligne de base typographique */
		linear-gradient(to bottom, transparent calc(100% - 1px), rgba(0,0,0,.1) 0);
	background-size: 
	/* dimensions de la grille de ligne de base typographique */
		var(--Row) 100%, 100% var(--Row);
		/*background-position: center center;*/
}

main>section>* {
	position: relative;
	padding: var(--Row);
	padding-bottom: calc(var(--Row) - 1px);
	padding-right: calc(var(--Row) - 1px);
	background-color: var(--ColorBg);
	max-width: max-content;
}


main>section>*+* {
	margin-top: calc(var(--Row) + 1px);
}

@media (orientation: portrait) and (min-width: 40em) {
	main {
		border-right: calc(var(--H_RowRest) / 2) solid grey;
		border-left: calc(var(--H_RowRest) / 2) solid grey;
	}
}

@media (orientation: landscape) {
	main {
		border-right: var(--H_RowRest) solid grey;
	}
}