html, body {
	scroll-behavior: smooth;
}


main {
	height: 100%;
	display: flex;
	width: 100vw;
	overflow: auto;
}

main>section {
	height: 100%;
	width: 100%;
	flex-shrink: 0;
	scroll-snap-align: start;
	box-sizing: border-box;
	position: sticky;
	padding: var(--Gutter);
	background-color: white;

	overflow: auto;
}

@media (hover: none) {
	main>section {
		overflow-x: hidden;
	}
}

@media (orientation: portrait) {
	main {
		flex-direction: row;
		scroll-snap-type: x mandatory;
	}

	main>section {
		box-shadow: 0px -10px 14px rgba(0,0,0,.2);
		left: 0;
	}
}

@media (orientation: landscape) {
	main {
		flex-direction: column;
		scroll-snap-type: y proximity;
	}

	main>section {
		box-shadow: -10px 0px 14px rgba(0,0,0,.2);
		top: 0;
	}
}