/* Définition de variables de système ----------------------- */

	:root {
		--Size: 1; /* Facteur de modification de la typographie pouvant être appliqué à même les composants */
		--FontFactor: 1; /* Facteur de modification en fonction de la taille relative d'une police choisie */
		--ScaleLevel: 1; /* Niveau d'échelle typographique par défaut */
		/* DÉPRÉCIÉ ! (en utilisant La hauteur de ligne automatique) */ 
			--Amplitude: 1; /* Envergure générale de l'échelle typographique choisie. Influence le calcul de la hauteur de ligne. */
			--RowSpan: 1; /* Quantité de rangée occupées par la hauteur de ligne d'un élément donné. */
	}

/* Échelles typographiques (harmonies musicales) ----------------------- */
	
	:root {
		--MinorSecond: 1.067;
		--MajorSecond: 1.125;
		--MinorThird: 1.200;
		--MajorThird: 1.250;
		--PerfectFourth: 1.333;
		--AugmentedFourth: 1.414;
		--PerfectFifth: 1.500;
		--GoldenRatio: 1.618;
	}


/* Niveaux de l'échelle typographique ----------------------- */
	
	:root {
		--Miniature: calc(var(--Base, 1) / var(--Scale, 1) / var(--Scale, 1));
		--Shortest: calc(var(--Base, 1) / var(--Scale, 1) / var(--Scale, 1));
		--Short: calc(var(--Base, 1) / var(--Scale, 1));
		--Base: 1;
		--Tall: calc(var(--Base, 1) * var(--Scale, 1));
		--Taller: calc(var(--Base, 1) * var(--Scale, 1) * var(--Scale, 1));
		--Tallest: calc(var(--Base, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1));
		--Huge: calc(var(--Base, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1));
		--Huger: calc(var(--Base, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1));
		--Hugest: calc(var(--Base, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1) * var(--Scale, 1));
	}

/* Calculs typographiques ----------------------- */

/* Variables statiques (Config seulement) */
	:root {
		--FluidFontSize: clamp(var(--MinFontSize), var(--BaseFontSize), var(--MaxFontSize));
		--Row: calc(var(--RowFactor, 1.5625) * var(--RowUnit, 1rem));
		--RootFontSize: calc(var(--FluidFontSize, var(--BaseFontSize)) * var(--RootFontSizeFactor, 1)); }
	
/* Variables dynamiques (Modifiables sur une base d'éléments) */
	p, ul, ol, a, span, small, th, td,
	h1, h2, h3, h4, h5, h6 {
		/* DÉPRÉCIÉ ! (en utilisant La hauteur de ligne automatique) */
		--LineHeight: calc(var(--RowFactor) * max(1, calc(var(--RowSpan) * var(--Amplitude))) * var(--Size) * var(--FontUnit));
		--FontSize: calc(var(--Size) * var(--ScaleLevel) * var(--FontFactor) * var(--FontUnit)); }


/* Règles initiales du système ----------------------- */

/* Appliquer les styles typographiques de base */
	html { 
		line-height: var(--RowFactor, 1.5625);
		font-size: var(--RootFontSize, 16px);
		color: var(--Color, black); }

/* Contexte du corps de la page */
	body {
		width: var(--BodyWidth, auto);
		max-width: var(--MaxBodyWidth, initial); }

/* Tailles typographiques et interlignage de base */
	p, ul, ol, a, span, small, th, td,
	h1, h2, h3, h4, h5, h6 {
		line-height: var(--LineHeight, 1.5625);
		font-size: var(--FontSize, 1em);
		font-style: var(--FontStyle, inherit);
		font-weight: var(--FontWeight, inherit);
		max-width: var(--MaxWidth, inherit);
		color: var(--Color, inherit); }


/* Héritage en place pour les éléments « en-ligne » intérieurs */
	p *, ul *, ol *, td *,
	h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
		line-height: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit; }

	strong, b {
		font-weight: 700;
	}

/* Rythme des contenus */
	*+p, *+img, *+hr, *+ul, *+ol,
	*+h1, *+h2, *+h3, *+h4, *+h5, *+h6 { margin-top: var(--Row); }
