/* Échelles typographiques (harmonies musicales) ----------------------- */
		/* --MinorThird: 1.200; */
		/* --MinorSecond: 1.067; */
		/* --PerfectFifth: 1.500; */
		/* --GoldenRatio: 1.618; */
	
	:root {
		--MajorSecond: 1.125;
		--MajorThird: 1.250;
		--PerfectFourth: 1.333;
		--AugmentedFourth: 1.414;
	}


/* Niveaux de l'échelle typographique ----------------------- */
		/* --Miniature: calc(var(--Shortest) / var(--Scale, 1)); */
		/* --Huger: calc(var(--Huge) * var(--Scale, 1)); */
		/* --Hugest: calc(var(--Huger) * var(--Scale, 1)); */
	
	:root {
		--Shortest: calc(var(--Short) / var(--Scale, 1));
		--Short: calc(var(--Base, 1) / var(--Scale, 1));
		--Base: 1;
		--Tall: calc(var(--Base, 1) * var(--Scale, 1));
		--Taller: calc(var(--Tall) * var(--Scale, 1));
		--Tallest: calc(var(--Taller) * var(--Scale, 1));
		--Huge: calc(var(--Tallest) * var(--Scale, 1));
	}

/* Calculs typographiques ----------------------- */

/* Variables statiques (Config seulement) */
	:root {
		--Row: calc(var(--RowFactor, 1.6125) * var(--RowUnit, 1rem));
	}


/* Règles initiales du système ----------------------- */

/* Appliquer les styles typographiques de base */
	html { 
		line-height: var(--RowFactor, 1.6125);
		font-size: var(--FontSize, clamp(13px, 1.1vw, 20px));
		color: var(--Color, var(--ColorText)); }

/* Contexte du corps de la page */
	body {
		width: var(--BodyWidth, auto);
		max-width: var(--MaxBodyWidth, initial); }

/* Tailles typographiques et interlignage de base */
	select, input, textarea,
	p, ul, ol, a, span, small, th, td,
	h1, h2, h3, h4, h5, h6 {
		line-height: var(--LineHeight, inherit);
		font-size: var(--FontSize, calc(var(--Size, 1) * var(--ScaleLevel, 1) * var(--FontFactor, 1) * var(--FontUnit, 1em)));
		font-style: var(--FontStyle, inherit);
		font-weight: var(--FontWeight, inherit);
		max-width: var(--MaxWidth, inherit);
		color: var(--Color, inherit); }


/* Héritage en place pour les éléments « en-ligne » intérieurs */
	p *, ul *, ol *, td *,
	h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
		line-height: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit; }

	strong, b {
		font-weight: 700;
	}

/* Rythme des contenus */
	*+* {
		margin-top: calc(var(--Row));
	}

	html>*,
	body>*,
	label>*,
	ul>* {
		margin-top: 0;
	}
