@charset "utf-8";

/* Utilitaire dedivs (fluides) ----------------------- */
	/* NB — Limitations :
	- Ne peut recevoir d'arrière plan.
	- Ne peut contenir de marge interne (padding).

	Appliquer plutôt sur un parent si nécessaire */
		/* Types de grilles */
		div.grille {
			--AlbatrossItemBasis: 66ch;
			--Albatross: calc((var(--AlbatrossItemBasis, 66ch) - 100%) * 999);
			--DivItemBasis: var(--Albatross);
			--DivItemGrow: 1;
			--DivItemGutter: var(--Row);
		}

		div *>* {
		--DivItemBasis: auto;
		}

	/* 1. Affichage & occupation de l'espace ---- */
		/* Contexte flex avec
			bris de rangée pour la fluidité */
		div {
			display: var(--DivDisplay, flex);
			flex-wrap: wrap;
		}

		/* Permettre l'héritage des règles d'alignement.
			Facilite l'extension par les parents */
		div {
			justify-content: inherit;
			align-items: inherit;
		}

		/* Dimensions initiales
			(peuvent être ajustées !) */
		/* Holy Albatross. Voir Heydon Pickering :
			(https://heydonworks.com/article/the-flexbox-holy-albatross/) */
		div>* {
			flex-basis: var(--DivItemBasis, auto);
		}

		/* Distribuer également l'espace
			vacant parmis les enfants */
		div>* {
			flex-grow: var(--DivItemGrow, 0);
		}

	/* 2. Rythme interne et gouttières ---- */
		/* Marges universelles permettant
		l'adaptation fluide */
		div>* {
			margin-left:  var(--DivItemGutter, 0);
			margin-top:  var(--DivItemGutter, 0);
		}

		/* Compenser pour les marges universelles
		(et ainsi le dédoublement) */
		*:not(div)>div {
			margin-top: var(--DivGutter, calc(-1 * var(--DivItemGutter, 0)));
			margin-left: var(--DivGutter, calc(-1 * var(--DivItemGutter, 0)));
		}

	/* 3. Rythme externe ---- */
		/* Annuler la compensation des marges
			(voir 2. ci-haut) lorsque précédé */
		*:not(div)>*+div {
			margin-top: 0;
		}

	/* 4. Dimensions des enfants & contenus ---- */
		/* Dimension minimale de tout enfant.
			Permet l'adaptation. Peut être ajusté */
		div>* {
			min-width: var(--DivItemMinWidth, initial);
		}

		/* Largeur minimale de tout contenu texte.
			Force l'adaptation. Peut être ajusté */
		div h1,
		div h2,
		div h3,
		div h4,
		div h5,
		div h6,
		div p {
			min-width: 10ch;
		}

		/* Largeur minimale des images en tout genre
			Force l'adaptation. Peut être ajusté */
		div img,
		div picture {
			min-width: 8ch;
		}

