.has-js body>nav {
	animation: opacity 1200ms 400ms;
	animation-fill-mode: both;
}

@keyframes opacity {
	from { opacity: var(--OpacityInvisible, 0); }
	to { opacity: var(--OpacityVisible, 1); }
}

.product h4 {
	display: none;
}

:root {
	--purple: #ac00b1;
	--purple: #641677;
	--purple: #7a0098;
}

.sitename {
	font-weight: 900;
	text-transform: uppercase;
	font-size: .78125em;
	display: inline-block;
	margin-left: .125em;
}

h1 span {
	white-space: nowrap;
}

strong {
	background-color: var(--ColorBgAlt);
	font-weight: 500;
}

mark {
	background-color: var(--yellow);
}

.prose>* {
	font-weight: 300;
}

.chain>div {
	justify-content: space-evenly;
	display: flex;
	max-width: initial;
}


nav>ul>li>a {
	display: none;
}

div.prose {
	/* max-width: 100ch; */
}

div.prose {
	--DivDisplay: block;
	max-width: 70ch;
	/* column-width: initial; */
	column-count: 2;
	column-gap: calc(var(--Row) * 1);
}

main>h2 {
	align-self: stretch;
	margin: initial;
	text-align: center;
	/* display: initial; */
	text-shadow: -2px -2px 0 var(--ColorBg), 2px 2px 0 var(--ColorBg),
					 -4px -4px 0 var(--ColorBg), 4px 4px 0 var(--ColorBg);
}

main>h2:after {
	/* margin: initial; */
	margin-top: -.25em;
	/* position: relative; */
	/* z-index: -1; */
}

/* .intervention { */
/* 	position: fixed; */
/* 	bottom: var(--Row); */
/* 	right: var(--Row); */
/* } */

/* body > main > * { */
/* 	max-width: initial; */
/* } */


[type="observation"]>header>h3:before {
	content: "💡";
	/* display: block; */
	font-size: 1em;
	line-height: 1;
	margin-right: var(--Row);
}

h1 {
	/* --LineHeightFactor: 1.5; */
}
/* Pour superdiv */


.grille>article>p {
	/* --ScaleLevel: var(--Short); */
	/* --LineHeightFactor: .75; */
}

main>section>aside {
	position: sticky;
	bottom: calc(var(--Row) * 1);
	/* margin-left: auto; */
	order: 1;
	z-index: 4;
	justify-self: start;
}

main>section>aside>div {
	background-color: var(--ColorBg);
}

.intervention > svg[class*="cartoon"] {
	height: calc(var(--Row) * 3.5);	
	shape-outside: circle(62.49% at 41.44% 51.66%) padding-box;
	position: relative;
}

.intervention:not(:hover)>svg+* {
	opacity: 0;
	pointer-events: none;
}

.intervention:hover>svg+* {
	transition-delay: 0ms;
}

.intervention:not(:hover)>svg+* {
	transition-delay: 100ms;
}

:root {
	--Color: var(--primary);
	--ColorActive: var(--primary);
	--ColorBgActive: var(--ltst-primary);
}

.diagram {
	--Color: var(--ltr-brown);
	color: var(--Color);
	max-width: 100%;
	box-sizing: border-box;
	overflow: auto;
	justify-self: center;
}

.diagram.goods-list {
	/* max-width: 80ch; */
	/* align-items: center; */
	justify-self: center;
	pointer-events: none;
	transform: translateZ(1px);
}

.diagram.goods-list>div {
	flex-wrap: nowrap;
	position: relative;
}

.diagram.goods-list>div>section {
	display: inline-flex;
	flex-wrap: wrap;
	pointer-events: all;

}
.diagram.goods-list>div>section,
.diagram.goods-list>div>section>div>div {
	display: contents;
}

.diagram.goods-list h4 {
	/* position: absolute; */
	/* bottom: 100%; */
	/* left: 0; */
	/* right: 0; */
	text-align: center;
    grid-column: 1 / 99; /* Nombre ridicule pour toujours aller jusqu'au bout. ne peut pas utiliser de GAP ! */
	 grid-row: 2;
	 color: var(--dk-primary);
	 pointer-events: none;
	 margin-top: calc(var(--Row) * .5);
	 margin-bottom: calc(var(--Row) * .5);
    /* margin: calc(var(--Row) * .5); */
}

.diagram.goods-list section:not(:hover)>h4 {
	color: transparent;
}

/* .goods-list p>span { */
/* 	display: block; */
/* } */

.diagram.goods-list>div {
	/* Ne peut pas utiliser de gap à cause du placement du h4 */
	display: grid;
	/* grid-template-columns: repeat(auto-fill, var(--Row)); */
	/* grid-auto-flow: column dense; */
	/* grid-auto-rows: auto; */
	/* align-content: center; */
	/* grid-column-gap: calc(var(--Row)); */
	/* grid-auto-columns: var(--Row); */
}

.diagram.goods-list .product {
	order: -1;
	grid-row-start: 1;
	align-self: end;
	flex-wrap: wrap-reverse;
	grid-column: span var(--column-counter);
}
.diagram.goods-list .worker {
	order: 1;
	grid-row-start: 3;
	grid-column: span var(--column-counter);
}

.diagram.goods-list .available {
	grid-row-start: 3;
	order: 2;
	grid-column: span var(--column-counter);
}

.diagram.goods-list .worker svg {
	align-items: flex-end;
	width: calc(var(--Row) / 2);
	height: auto;
	flex-shrink: 0;
	position: static;
	padding: 2px;
	margin: 0;
}

.diagram.goods-list section>div {
	justify-content: space-around;
}

.diagram.goods-list:hover section:not(:hover) svg {
	color: var(--ltr-primary);
}

.diagram.goods-list section:hover svg {
	/* transform: scale(1.1); */
}
