.chain div:not([class])+.unknown-link hr {
	display: none; /* SALE — Faudrait l'enlever dans le XSLT */
}

.chain .goods-list input {
	display: none;
}

main>section {
/* Cause un bug au défilement si fenêtre plus petite que contenu*/
	/* content-visibility: auto; */
	/* contain: content; */
}

main>section>:not(header)+div:last-child,
main>section>article>div {
	/* contain: strict; */
}

.has-js [data-parallax],
.has-js body>nav {
	animation: opacity 1200ms 400ms;
	animation-fill-mode: both;
}

@keyframes opacity {
	from { opacity: var(--OpacityInvisible, 0); }
	to { opacity: var(--OpacityVisible, 1); }
}

.product h4 {
	display: none;
}

:root {
	--purple: #ac00b1;
	--purple: #641677;
	--purple: #7a0098;
}

main>section>section div header>* {
	margin-top: 0;
}

main>section>section section header {
	align-self: flex-end;
}

.sitename {
	font-weight: 900;
	text-transform: uppercase;
	font-size: .73125em;
	display: inline-block;
}

h1+p {
	font-weight: 700;
	margin-top: calc(var(--Row) * .25);
}

h1 .local {
	white-space: nowrap;
}

nav>ul>li:not(.is-complete)>a {
	background-color: var(--ltr-primary);
}

.chain .foreign:not(.placeholder)~article svg {
	fill: url('#gradient-local-foreign');
}

@media (orientation: landscape) {
	body {
		flex-wrap: wrap;
	}

}

body>footer {
	padding: var(--Row);
	padding-left: calc(var(--Row) * 4);
	flex: 0 0 100%;
	box-sizing: border-box;
}

@media (orientation: portrait) {
	body>footer {
		display: none;
	}
}

main {
	flex: 1 1 0%;
}

main>section>article~section aside {
	position: fixed;
	top: auto;
	bottom: calc(var(--Row) * 3);
	left: max(calc(100% - 120vh), calc(100% - 52vw));
	/* --Size: 1.25; */
	max-width: 30ch;
	z-index: 3;
}

main>section:not(.is-visible)>article~section aside {
	opacity: 0;
	pointer-events: none;
}

main>section>article~section>*,
main>section>section:only-of-type:not(:last-child) {
	max-width: 80ch;
}

main>section>figure {
	position: fixed;
	right: var(--Row);
	top: 50%;
	height: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	--Size: .5;
}

main>section>figure>img {
	max-width: 40vw;
	max-height: 50vh;
	display: block;
}

main>section:not(.is-active)>figure {
	opacity: 0;
}

strong {
	background-color: var(--tr-purple);
	font-weight: 500;
}

mark {
	background-color: var(--yellow);
}

main>h2 {
	padding-bottom: 0;
}

main > section p > b:only-child {
	font-size: 1.3125em;
}

html {
	-moz-osx-font-smoothing: grayscale;
}

main > section aside > svg[class*="cartoon"] {
	height: calc(var(--Row) * 4);
	float: left;
	shape-outside: circle(55% at 50% 50%) padding-box;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-top: -20px;
	margin-left: -60px;
	padding: 15px;
}
main > section aside > div {
	max-width: 30ch;
}

main > section aside {
	display: block;
}
