.has-js body>nav {
	animation: opacity 1200ms 400ms;
	animation-fill-mode: both;
}

@keyframes opacity {
	from { opacity: var(--OpacityInvisible, 0); }
	to { opacity: var(--OpacityVisible, 1); }
}

.product h4 {
	display: none;
}

:root {
	--purple: #ac00b1;
	--purple: #641677;
	--purple: #7a0098;
}

.sitename {
	font-weight: 900;
	text-transform: uppercase;
	font-size: .73125em;
	display: inline-block;
}

h1 span {
	white-space: nowrap;
}

strong {
	background-color: var(--ColorBgAlt);
	font-weight: 500;
}

mark {
	background-color: var(--yellow);
}

main > section p > b:only-child {
	font-size: 1.3125em;
}

@media (orientation: landscape) {

.chain {
	justify-self: center;
}


.chain {
	margin-left: calc(-1 * var(--Row));
	margin-right: calc(-1 * var(--Row));
	overflow: auto;
	max-width: 90vw;
}
	.chain {
		margin-left: calc(-1 * var(--Row) * 2);
		margin-right: calc(-1 * var(--Row) * 4);
	}
	.chain>div {
		margin-left: calc(var(--Row) * 2);
		margin-right: calc(var(--Row) * 4);
	}

.chain * {
	display: inline-flex;
}

.chain>div {
	margin-left: calc(var(--Row));
	margin-right: calc(var(--Row));
}
}

@media (max-width: 50ch) {
	.chain {
		/* --Size: .6; */
	}
}

main>section div p:only-of-type,
main>section .prose:not(:only-child) {
	margin-right: auto;
}

main>section .prose:last-child {
	margin-left: auto;
}

main>section>section>p:first-child:only-of-type,
main>section>section>div>p:first-child:only-of-type,
main>section>div>p:first-child:only-of-type,
main>section>header h3+p,
main>section>header p:only-of-type {
	max-width: 42ch;
}

fieldset + fieldset {
	margin-top: calc(var(--Row) * 2);
}
fieldset p~div {
	max-width: max-content;
}

fieldset p {
	flex-basis: 0;
	flex-shrink: 1;
	margin-right: auto;
}

main>section>article+aside {
	margin-left: auto;
}

main>section>form>fieldset~fieldset>*:first-child {
	margin-top: calc(var(--Row) * 2.5);
}

@media (orientation: portrait) {
	main {
		overflow-y: hidden;
	}

	main>section {
		padding: var(--Row) 0;
	}
	main>section>* {
		padding-left: var(--Row);
		padding-right: var(--Row);
		box-sizing: border-box;
	}
	nav a {
		display: flex;
	}
	main>section>:first-child {
		margin-top: auto;
	}

	main>section>:last-child {
		margin-bottom: auto;
	}

	main>section>*+* {
		/* margin-top: calc(var(--Row)); */
	}

	section[id] {
		scroll-snap-stop: always;
	}
}

@media (orientation: landscape) {
main>section {
	display: grid;
	grid-template: repeat(auto-fit, minmax(0,max-content)) / auto;
	grid-auto-flow: row;
	grid-auto-columns: auto;
	align-content: center;
	column-gap: var(--Row);
	row-gap: calc(var(--Row) * 2);
}

main>section+section {
	border-top: 1px solid var(--ltr-primary);
	margin-top: -1px;
}

main>section~section {
	margin-top: calc(var(--Row) * 4);
}

main {
	flex: 1 1 0%;
	padding: calc(var(--Row) * 2);
}

main>section {
	align-items: baseline;
}




}

main>section>* {
	/* align-self: baseline; */
	align-items: baseline;
	align-content: baseline;
}

form {
	align-items: baseline;
}

form {
	--DivItemGutter: calc(var(--Row));
}
main>section:not(.is-visible) .intervention {
	display: none;
}

nav>ul>li>a {
	display: none;
}
