.chain div:not([class])+.unknown-link hr {
	display: none; /* SALE — Faudrait l'enlever dans le XSLT */
}

main>section {
  content-visibility: auto;
}

.has-js [data-parallax],
.has-js body>nav {
	animation: opacity 1200ms 400ms;
	animation-fill-mode: both;
}

@keyframes opacity {
	from { opacity: var(--OpacityInvisible, 0); }
	to { opacity: var(--OpacityVisible, 1); }
}

