/* ------ DIAGRAMME VERTICAL ---- */
@media (max-width: 100ch) {
	.chain>div {
		row-gap: var(--Row);
		flex-direction: column;
		justify-content: center;
		margin: auto;
	}
	.chain .goods-list {
		align-items: flex-end;
	}

	.chain .goods-list .product>section {
		margin-bottom: calc(-1 * var(--Row) * 1.5);
		padding-bottom: calc(var(--Row) * 1);
		border-bottom: 1px solid currentColor;
	}

	.chain .goods-list .product>section:first-of-type {
		border-left: 1px solid currentColor;
		border-bottom-left-radius: 5px;
	}

	.chain .goods-list .product>section:last-of-type {
		border-right: 1px solid currentColor;
		border-bottom-right-radius: 5px;
	}
}

/* ------ DIAGRAMME SILOS ---- */
.chain {
	overflow-x: auto;
}

.chain>div {
	display: grid;
	grid-auto-flow: column;
	grid-gap: var(--Row);
	align-content: center;
	align-items: start;
}

.chain .agent article {
	justify-self: center;
	text-align: right;
	align-items: end;
}

.chain .goods-list {
}

.chain .agent>aside {
	grid-row-start: 2;
	grid-column-end: span 2;
	width: calc(100% + var(--Row) * 1.75);
	justify-self: end;
}

.chain .agent .value {
	flex-direction: column;
}

.chain>div>div>.product {
	grid-row-end: span 2; 
}

.chain .agent .value>section {
	border-left: 1px solid currentColor;
	padding-right: 0;
}

.chain .agent .value>section:nth-of-type(2) {
	margin-top: -7em;
	padding-top: 7em;
}

.chain .agent .value>section:first-of-type {
	order: 1;
	border-bottom: 1px solid currentColor;
	border-bottom-left-radius: 5px;
}



