@media all {
	body {
		display: flex;
		background-color: var(--ColorBg);
	}

	main>h2 {
		position: sticky;
		top: 0;
		left: 0;
		padding-top: var(--Row);
		margin-bottom: calc(var(--Row) * 2);
		background-color: var(--ColorBg);
		display: flex;
		align-items: baseline;
		--ScaleLevel: var(--Short);
		font-weight: 700;
		z-index: 3;
		counter-increment: numero-partie;
	}

	main>h2:after {
		content: '';
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		border-bottom: 1px solid var(--ltr-brown);
		margin-left: .25em;
	}

	main>h2:before {
		content: "Partie " counter(numero-partie) " — ";
	} 

	main>section {
		box-sizing: border-box;
		position: relative;
		padding-top: calc(var(--Row) * 4);
		padding-bottom: calc(var(--Row) * 4);
		margin: 0;
	}

	main>section:not(.is-active)>aside {
		opacity: 0;
		pointer-events: none;
	}

	main {
		flex-grow: 1;
	}
}

@media (orientation: portrait) {
	html, body, main { 
		/* Contexte vertical nécessaire
		pour assurer une hauteur de fenêtre
		pour toute « slide ». */
		height: 100%;  
	}

	body {
		/* Previent le glitchy bouncing
		dans Safari */
		overflow: hidden;
		flex-direction: column;
	}

	main { 
		display: inherit;
		overflow-x: auto;
		flex-basis: 0;
		flex-direction: row;
		scroll-snap-type: x mandatory;
	}

	main>h2 {
		display: none;
	}

	main>section {
		height: 100%;
		width: 100vw;
		scroll-behavior: smooth;
		flex-shrink: 0;
		scroll-snap-align: start;
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	nav {
		bottom: 0;
		height: calc(var(--Row) * 1.75);
		top: auto;
		left: 0;
		right: 0;
		order: 1;
		z-index: 4;
	}
}

@media (orientation: landscape) {
	body {
		align-items: flex-start;
	}

	main>section {
		min-height: calc(100vh - var(--V_GridUnitRest, 0vh));
	}
	
	body>nav {
		box-sizing: border-box;
		position: sticky;
		flex-shrink: 0;
		height: 100vh;
		position: sticky;
		top: 0;
	}
}
