@media (orientation: portrait) {
	main>section {
		display: flex;
		flex-direction: column;
	}

	main>section>* {
		flex-shrink: 0;
	}
}


@media (max-height: 40em) and (max-width: 50em) {
	main>section>aside {
		position: relative;
		align-self: stretch;
		margin: 0;
		margin-bottom: var(--Row);
		top: 0;
		max-width: initial;
		flex-shrink: 0;
	}

	main>section>:not(header):not(article):not(aside) {
		order: 2;
	}


	main>section>aside>details {
		margin: 0;
		width: 100%;
		margin-top: var(--Row);
	}

	main>section>aside>details>summary~* {
		position: initial;
		top: initial;
	}
}

main>section [data-parallax] {
	transform: translate3d(0, calc( var(--scrollParallax) * 1px ), 0);
	transition: none;
}

main>section>:not(header)+div:last-child>svg {
	color: var(--Color);
	fill: var(--Color);
	height: var(--Height);
	width: var(--Width);
	mix-blend-mode: multiply; /* ATTENTION ! performance : utiliser avec conteneur parent « isolation » */
	position: absolute;
	top: var(--Top, 0);
	right: var(--Right, 0);
}

.basket {
	--Height: clamp(500px, 200vh, 1400px);
	--Width: clamp(200px, 50vw, 800px);
}


main>section>aside {
	margin: 0;
	font-weight: 500;
}

main>section aside {
	display: flex;
}

main>section aside div>*+* {
	margin-top: calc(var(--Row) * .5);
}

main>section>aside q::first-line {
	font-weight: 700;
}

main>section>aside q+cite {
	margin-top: calc(var(--Row) * .25);
}

main>section>aside>div>cite {
	font-weight: 400;
	--ScaleLevel: var(--Base);
}
main>section aside>div {
	margin: 0;
}

main>section aside>div {
	padding-left: calc(var(--Row) * 1.25);
	margin: 0;
	color: var(--ColorSupport);
	--DivDisplay: block;
}

main>section aside>div>* {
	display: block;
}

main>section aside>svg[class*="cartoon"] {
	position: relative;
	z-index: 1;
	height: calc(var(--Row) * 3);
	margin-right: calc(-1 * var(--Row) * .75);
	flex-shrink: 0;
	align-self: center;
}

main>section>section>h2 {
	display: block;
	column-span: all;
	--ScaleLevel: var(--Base);
}
main>section p>b:only-child {
	font-size: 1.4125em;
	display: block;
}

aside>details>* {
	padding: calc(var(--Row) * .25) calc(var(--Row) * .5);
	line-height: 1;
	position: relative;
}

aside details summary+* {
	position: absolute;
	top: 100%;
	right: 0;
	padding: var(--Row);
	margin-top: -5px; /* Masque le radius */
	max-width: 100%;
	min-width: 25ch;
}

details summary::marker {
	font-size: .5em;
	margin-right: 1em;
}
aside details[open] summary:after {
	content: "";
	right: -1px;
	z-index: 1;
	position: absolute;
	top: 100%;
	margin-top: -5px;
	height: 10px;
	background-color: inherit;
	left: -1px;
}

main>section>section aside>div {
	--Color: var(--ColorSupport);
}

main>section>section *:not(header)+*~aside {
	flex-grow: 2;
}

main>section>section>.grille {
	--DivItemGutter: calc(var(--Row) * 2);
}

main>h2,
main>section>section header>h2,
main>section>section header>h3 {
	--ScaleLevel: var(--Short);
	color: inherit;
	line-height: calc(var(--Row) * .5);
}

main>section>section div header {
	min-width: calc(var(--Row) * 5);
	flex-shrink: 0;
	flex-grow: 0;
}
main>section>section div header>*:last-child,
main>section>header>small:first-child {
	display: flex;
	align-items: baseline;
}

main>section>section div div {
	flex-grow: 4;
}

main>section>section div div~section,
main>section>section div div~* {
	flex-grow: 4;
}

main>section h1 {
	max-width: 26ch;
}
aside details {
	max-width: 100%;
	margin-top: calc(-1 * var(--Row) * 2.325);
}

aside details[open] {
	filter: drop-shadow(0px 1px 3px rgba(0,0,0,.1));
}

main>section>p:only-of-type {
	margin-top: auto;
	margin-bottom: auto;
}

main>section>section div>form {
	flex-grow: 6;
}
