[class*="cartoon"] * {
  transition: all 0.1s ease-in; }

[class*="cartoon"].animated [id*='oeil_ouvert'] {
  animation-name: clignement;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

[class*="cartoon"].animated [id*='pupille'],
[class*="cartoon"].animated [id*='reflection'],
[class*="cartoon"].animated [id*='iris'] {
  animation-name: regarde_gauche, clignement;
  animation-duration: 13s, 5s;
  animation-iteration-count: infinite, infinite;
  animation-timing-function: ease-out, linear; }

[class*="cartoon"].animated [id*="moustache"] {
  transform-origin: center center;
  animation-name: moustache;
  animation-duration: 6s;
  animation-iteration-count: infinite; }

[class*="cartoon"].animated [id*="sourcils"] {
  transform-origin: center center;
  animation-name: hausse_sourcils;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }


[id=svg-emma] [id=background] {
  display: none;
}


@keyframes clignement {
 0% {
   opacity: 1; }
 2% {
   opacity: 1; }
 2.2% {
   opacity: 0; }
 7.8% {
   opacity: 0; }
 8% {
   opacity: 1; }
 100% {
   opacity: 1; } }

@keyframes hausse_sourcils {
 29% {
   transform: translateY(0em); }
 30% {
   transform: translateY(-0.62em); }
 47% {
   transform: translateY(-0.62em); }
 48% {
   transform: translateY(0em); }
 100% {
   transform: translateY(0em); } }

@keyframes moustache {
 94% {
   transform: rotate(0deg); }
 96% {
   transform: rotate(3deg); }
 98% {
   transform: rotate(-3deg); }
 100% {
   transform: rotate(0deg); } }

@keyframes regarde_gauche {
 38% {
   transform: translate(0em, 0em); }
 38.5% {
   transform: translate(-0.48em, -0.28em); }
 49.5% {
   transform: translate(-0.48em, -0.28em); }
 50% {
   transform: translate(0em); }
 88% {
   transform: translateX(0em); }
 88.5% {
   transform: translateX(0.68em); }
 99.5% {
   transform: translateX(0.68em); }
 100% {
   transform: translateX(0em); } }
