.chain {
	color: var(--brown);
	--Size: 1;
	font-weight: 500;
	font-family: 'Helvetica Neue';
	display: inline-flex;
	z-index: 2;
}

@media (orientation: portrait) {
	
	.chain {
		--Size: .6;
		width: 100%;
		flex-shrink: 0;
	}

	.chain>div {
		grid-template: repeat(var(--ColumnCount), minmax(0, 1fr));
		grid-auto-flow: column;
		max-width: 100%;
		justify-content: space-between;
	}
}

@media (max-width: 40em)  {
	.chain>div>*:not(.active) h4 {
		opacity: 0;
	}
}

@media (orientation: landscape) {
	
	.chain>div {
		--SecurityColCount: 4;
		--SecurityRowCount: 2;
		--TotalElements: calc(var(--total-chain-links) * 2 - 1);
		--ColumnCount: calc(var(--TotalElements) + var(--SecurityColCount));
		--RowCount: calc(var(--TotalElements) + var(--SecurityRowCount));
		display: grid;
		top: 0;
		bottom: 0;
		right: 0;
		grid-template: repeat(var(--ColumnCount), minmax(0, 1fr)) / repeat(var(--RowCount), minmax(0, 1fr));
	}

	.chain>div>* {
		grid-row-end: span 3;
		grid-row-start: calc(var(--link-position) + 1);
		grid-column-start: calc(var(--link-position) + 1);
	}
}

.chain .arrow.from {
	justify-content: flex-end;
}

.chain .arrow.to {
	justify-content: flex-start;
}

.chain .variable.arrow {
	align-self: stretch;
	position: relative;
}

.chain .product,
.chain .agent {
	align-self: stretch;
}


.chain .good.arrow {
	flex-grow: 1;
	margin: calc(var(--Row) / 2);
	flex-basis: 0;
}

.chain .partial.product .icon+* {
	opacity: 0;
}

.chain * {
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

.chain article {
	flex-direction: column;
	flex-grow: 1;
}

.chain>div>div,
.chain>div>section+section {
	flex-grow: 1;
}

.chain .local {
	color: var(--ColorLocal);
}

.chain .total {
	margin: auto;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.chain .foreign {
	color: var(--ColorForeign);
}

.chain .amount {
	font-weight: 700;
	--ScaleLevel: var(--Taller);
}

.chain section>div *+* {
	margin-top: calc(var(--Row) / 2 * var(--Size));
}

.chain .product .icon {
	--TotalAddedValue: calc(var(--LocalAddedValue, 0%) + var(--ForeignAddedValue, 0%));
	width: calc(var(--IconHeight) * .75);
	background-color: var(--ltst-primary);
	background-image:
		linear-gradient(to top,
			var(--ColorForeign) 0,
			var(--ColorForeign) var(--ForeignAddedValue, 0%),
			var(--ColorLocal)  var(--ForeignAddedValue, 0%),
			var(--ColorLocal) var(--TotalAddedValue, 0%),
			transparent var(--TotalAddedValue, 0%), transparent 100%),
		linear-gradient(to top,
			var(--ltr-brown) 0,
			var(--ltr-brown) var(--NeutralAddedValue, 0%),
			var(--ltr-brown)  var(--NeutralAddedValue, 0%),
			transparent var(--NeutralAddedValue, 0%), transparent 100%);
	clip-path: url(#beer-clip-path);
}

.chain .icon {
	--IconHeight: calc(var(--Row) * 2.5 * var(--Size));
	height: var(--IconHeight);
	fill: currentColor;
}

.chain .product .icon {
	--IconHeight: calc(var(--Row) * 2 * var(--Size));
}

.chain .icon.consumer {
	--IconHeight: calc(var(--Row) * 2.5 * var(--Size));
}

.chain .agent.active {
	color: var(--ColorSupport);
}

.chain .unknown-link {
	display: flex;
	justify-content: center;
	flex-grow: .5625;
}

.chain .unknown-link span {
	--ScaleLevel: var(--Tallest);
	border-radius: 50%;
	--Color: white;
	height: calc(var(--Row) * 2 * var(--Size));
	width: calc(var(--Row) * 2 * var(--Size));
	padding: 2.5vw;
	box-sizing: border-box;
	flex-shrink: 0;
	background-color: var(--ltr-primary);
}

.chain div:not([class])+.unknown-link {
	flex-grow: 0;
}

/* Diagramme Horizontal */
/* @media (orientation: landscape) { */
	.chain {
		flex-direction: column;
	}

	.chain>hr {
		margin-left: calc(100% / (var(--Grid) / 3));
		margin-bottom: -2px;
		margin-top: -1px;
	}

	.chain>div {
		flex-direction: row;
	}

	.chain>div:not(:only-child) {
		margin-top: calc(var(--Row) * 1.5);
		margin-bottom: calc(var(--Row) * 1.5);
	}

	.chain .unknown-link+.unknown-link {
		margin-left: auto;
	}

	.chain section>div,
	.chain div>div {
		flex-direction: column;
		align-self: stretch;
	}

	.chain>div>div[class] {
		flex-direction: row;
	}

	.chain .total {
		left: calc(100% / (var(--Grid) / 3) / 2);
	}

	.chain .total:first-child {
		flex-direction: column-reverse;
		margin-bottom: calc(-1 * var(--Row) * .5);
	}

	.chain .total:first-child .amount {
		margin-bottom: calc(var(--Row) / 2);
	}

	.chain .total:last-child {
		margin-top: calc(-1 * var(--Row) * .5);
	}

	.chain .total:last-child .amount {
		margin-top: calc(var(--Row) / 2);
	}

	.chain .total>:first-child {
		color: white;
		padding: calc(var(--Row) / 4) calc(var(--Row) / 2) calc(var(--Row) / 4);
		border-radius: 8px;
	}

	.chain .total.local>:first-child {
		background-color: var(--ColorLocal);
	}

	.chain .total.foreign>:first-child {
		background-color: var(--ColorForeign);
	}

	.chain .link .amount {
		margin-left: var(--Row);
		margin-right: var(--Row);
	}

	.chain .arrow {
		border-top:  var(--ArrowLine);
		margin-bottom: calc(-1 * var(--ArrowLine));
		margin-top: calc(-1 * var(--ArrowLine));
	}

	.chain .arrow:after {
		top: -1px;
		width: 20px;
	}

	.chain .arrow.to::after {
		transform: rotate(-90deg);
		/* left: calc(50% - 10px); */
		left: -6px;
	}

	.chain .arrow.from::after {
		transform: rotate(90deg);
		/* right: calc(50% - 10px); */
		left: 6px;
	}

	.chain .good.arrow {
		/* flex-basis: calc(100% / 3 - var(--Row)); */
	}

	.chain .variable.arrow:first-of-type {
		margin-top: calc(var(--Row) / 2);
	}

	.chain .variable.arrow:last-of-type {
		margin-bottom: calc(var(--Row) / 2);
		top: calc(var(--Row) / 6);
	}

	.chain .product {
		flex-grow: 1;
	}

	.chain .icon.beer+* {
		position: relative;
		left: 15%;
	}

	.chain .icon+* {
		margin-left: calc(-1 * var(--Row) * var(--Size));
		margin-right: calc(-1 * var(--Row) * var(--Size));
	}
/* } */
