.chain {
	color: var(--brown);
	--Size: 1;
	font-weight: 500;
	z-index: 2;
}

.chain>div {
	display: grid;
	grid-auto-flow: dense;
	gap: var(--Row);
	max-width: max-content;
}

/* Placeholder en absence de liste de produits */
.chain .agent:not(:first-of-type)>div:last-child::after {
	content: "";
}

.chain>div * {
	margin: 0;
	display: flex;
	color: var(--Color);
}

.chain>div>*,
.chain>div>*>div {
	display: contents;
}

.chain article {
	flex-direction: column;
}

.chain .amount {
	font-weight: 700;
	--ScaleLevel: var(--Taller);
}

.chain .amount {
	align-items: flex-end;
	text-align: right;
	justify-content: flex-end;
}

.chain .amount {
	flex-direction: column;
	z-index: 1;
	margin-left: calc(var(--Row) / 4);
	line-height: 1;
}

.chain .amounts {
	display: grid;
	grid-template: 1fr / 1fr;
	order: -1;
	pointer-events: none;
}

.chain .amounts>* {
	grid-column-start: 1;
	grid-row-start: 1;
}

.chain .amount small {
	font-size: calc(var(--Row) / 2);
	background-color: var(--ColorBg);
	padding-left: calc(var(--Row) / 2);
	font-weight: 600;
	white-space: nowrap;
	z-index: 1;
	position: relative;
	width: 0;
	text-align: right;
	align-items: flex-end;
	justify-content: flex-end;
	margin-top: calc(var(--Row) / 5);
}

.chain .amount:not(:first-child) {
	opacity:0;
}
.chain .goods-list p:hover>* {
	transform: scale(1.3);
}
.chain .goods-list p:hover~.amounts>:first-child {
	opacity: 0;
}

.chain .goods-list>.product>section:hover>p:not(:hover)>* {
	filter: grayscale(1);
}

.chain .good.arrow {
	border-top-style: dotted;
	flex: calc(100% - var(--Row)) 1 1;
	margin-inline-start: var(--Row);
	margin-inline-end: calc(-1 * var(--Row));
.chain .goods-list p:nth-of-type(1):hover~.amounts>:nth-of-type(2),
.chain .goods-list p:nth-of-type(2):hover~.amounts>:nth-of-type(3),
.chain .goods-list p:nth-of-type(3):hover~.amounts>:nth-of-type(4),
.chain .goods-list p:nth-of-type(4):hover~.amounts>:nth-of-type(5),
.chain .goods-list p:nth-of-type(5):hover~.amounts>:nth-of-type(6),
.chain .goods-list p:nth-of-type(6):hover~.amounts>:nth-of-type(7),
.chain .goods-list p:nth-of-type(7):hover~.amounts>:nth-of-type(8),
.chain .goods-list p:nth-of-type(8):hover~.amounts>:nth-of-type(9),
.chain .goods-list p:nth-of-type(9):hover~.amounts>:nth-of-type(10),
.chain .goods-list p:nth-of-type(10):hover~.amounts>:nth-of-type(11),
.chain .goods-list p:nth-of-type(11):hover~.amounts>:nth-of-type(12),
.chain .goods-list p:nth-of-type(12):hover~.amounts>:nth-of-type(13),
.chain .goods-list p:nth-of-type(13):hover~.amounts>:nth-of-type(14),
.chain .goods-list p:nth-of-type(14):hover~.amounts>:nth-of-type(15),
.chain .goods-list p:nth-of-type(15):hover~.amounts>:nth-of-type(16),
.chain .goods-list p:nth-of-type(16):hover~.amounts>:nth-of-type(17),
.chain .goods-list p:nth-of-type(17):hover~.amounts>:nth-of-type(18),
.chain .goods-list p:nth-of-type(18):hover~.amounts>:nth-of-type(19),
.chain .goods-list p:nth-of-type(19):hover~.amounts>:nth-of-type(20),
.chain .goods-list p:nth-of-type(20):hover~.amounts>:nth-of-type(21),
.chain .goods-list p:nth-of-type(21):hover~.amounts>:nth-of-type(22),
.chain .goods-list p:nth-of-type(22):hover~.amounts>:nth-of-type(23)
{
	opacity: 1;
}

.chain h4>span {
	background-color: var(--ColorBg);
}

.chain section>div>article>svg+h4 {
	margin-top: calc(var(--Row) / 2);
}

.chain section[class]:empty {
	border: none;
}


.chain .product .icon {
	--TotalAddedValue: calc(var(--NeutralAddedValue, 0%) + var(--LocalAddedValue, 0%) + var(--ForeignAddedValue, 0%));
	width: calc(var(--IconHeight) * .75);
	background-color: var(--ltst-primary);
	background-image:
		linear-gradient(to top,
			var(--purple) 0,
			var(--purple) var(--NeutralAddedValue, 0%),
			var(--ColorLocal) var(--NeutralAddedValue, 0%),
			var(--ColorLocal) calc(var(--LocalAddedValue, 0%) + var(--NeutralAddedValue, 0%)),
			var(--ColorForeign)  calc(var(--LocalAddedValue, 0%) + var(--NeutralAddedValue, 0%)),
			var(--ColorForeign) var(--TotalAddedValue, 0%),
			transparent var(--TotalAddedValue, 0%), transparent 100%);
	clip-path: url(#beer-clip-path);
}

.chain .icon {
	--IconHeight: calc(var(--Row) * 2.5 * var(--Size));
	height: var(--IconHeight);
	fill: currentColor;
}

/* ------ DIAGRAMME HORIZONTAL ---- */
.chain .link .amount.foreign {
	padding-bottom: 0;
}

.chain article {
	text-align: right;
}

.chain h4 span {
	width: 0;
	justify-content: flex-end;
}

.chain .username {
	width: auto;
}

.chain article h4 {
	height: calc(var(--Row) * .75);
}

.chain .agent:first-child article {
	align-items: flex-start;
}


.chain .agent:first-child .amount {
	justify-content: flex-start;
}

.chain .goods-list section {
	margin-right: calc(-1 * var(--Row) / 2);
	padding-right: var(--Row);
	border-left: 1px solid currentColor;
}

.chain .goods-list section:not(:empty).local {
	border-bottom: 1px solid currentColor;
}

.chain .goods-list section:not(:empty).foreign {
	border-top: 1px solid currentColor;
	padding-bottom: 0;
}

.chain article, .chain .product {
	align-items: flex-end;
}

.chain .product>section:not(:empty):after {
	left: 0;
	top: 0;
	margin-left: -.28125em;
}

.chain .product>section.foreign:not(:empty):after {
	bottom: 0;
	top: auto;
}

/* Grille du diagramme --- */

.chain article, .chain .amount, .chain .placeholder,
.chain .goods-list section, .chain .product {
	grid-column-start: calc(var(--link-position));
}
.chain .goods-list section {
	grid-column-start: calc(var(--link-position) - 1);
}

/* Ordre des éléments de diagramme --- */

.chain .foreign,
.chain .agent:not(:first-of-type)>div:last-child::after {
	order: 1;
}

.chain article, .chain .product {
	order: 3;
}

.chain .local {
	order: 5;
}
 
.chain .value,
.chain .paid {
	order: 4;
}

/* ------ DIAGRAMME VERTICAL ---- */

/* .chain>div { */
/* 	grid-auto-flow: column dense; */
/* } */

/* .chain article, .chain .amount, .chain .placeholder, */
/* .chain .goods-list section, .chain .product, .chain .unknown-link { */
/* 	grid-column-start: initial; */
/* 	grid-row-start: calc(var(--link-position)); */
/* } */
/* .chain .goods-list section { */
/* 	grid-column-start: initial; */
/* 	grid-row-start: calc(var(--link-position) - 1); */
/* } */


/* /1* Ordre des éléments de diagramme --- *1/ */

/* .chain .foreign, */
/* .chain .agent:not(:first-of-type)>div:last-child::after { */
/* 	order: 4; */
/* } */

/* .chain article, .chain .product, .chain .unknown-link { */
/* 	order: 3; */
/* } */

/* .chain .local { */
/* 	order: 1; */
/* } */
 
/* .chain .value, */
/* .chain .paid { */
/* 	order: 2; */
/* } */

/* .chain .goods-list section { */
/* 	border-top: 1px solid currentColor; */
/* 	border-left: 1px solid currentColor; */
/* } */

/* .chain .goods-list section.local { */
/* 	border-bottom: none; */
/* } */

/* .chain article, .chain .product { */
/* 	align-items: center; */
/* } */

/* .chain .product>section:not(:empty):after { */
/* 	left: auto; */
/* 	right: 0; */
/* 	margin-top: -.125em; */
/* } */

/* .chain h4 span { */
/* 	width: auto; */
/* } */

/* .chain .product { */
/* 	flex-direction: column; */
/* } */

/* .chain .good.arrow { */
/* 	border-left: var(--ArrowLine); */
/* 	border-left-style: dotted; */
/* } */

/* .chain .goods-list section.foreign:not(:empty) { */
/* 	border-right: 1px solid currentColor; */
/* 	border-left: none; */
/* } */

/* .chain .product > section.foreign:not(:empty)::after { */
/* 	top: 0; */
/* 	right: auto; */
/* 	left: 0; */
/* 	bottom: auto; */
/* } */

/* .chain .product .icon.beer { */
/* 	position: relative; */
/* 	left: -4%; */
/* } */

/* .chain .goods-list section { */
/* 	padding-bottom: 0; */
/* } */

/* .chain .agent:not(:first-child)>div:only-child::before { */
/* 	content:""; */
/* 	order: 1; */
/* 	grid-column-end: span 2; */
/* } */

/* .chain .agent>div:only-child::after { */
/* 	content: ""; */
/* 	order: 5; */
/* } */

/* .chain .agent:first-child article { */
/* 	align-items: center; */
/* } */
