.chain {
	color: var(--brown);
	--Size: 1;
	font-weight: 500;
	z-index: 2;
}

.chain>div * {
	margin: 0;
	display: flex;
}

.chain article {
	flex-direction: column;
}

.chain .amount {
	font-weight: 700;
	--ScaleLevel: var(--Taller);
}

.chain section>div>article>svg+h4 {
	margin-top: calc(var(--Row) / 2);
}


.chain .product .icon {
	--TotalAddedValue: calc(var(--NeutralAddedValue, 0%) + var(--LocalAddedValue, 0%) + var(--ForeignAddedValue, 0%));
	width: calc(var(--IconHeight) * .75);
	background-color: var(--ltst-primary);
	background-image:
		linear-gradient(to top,
			var(--purple) 0,
			var(--purple) var(--NeutralAddedValue, 0%),
			var(--ColorLocal) var(--NeutralAddedValue, 0%),
			var(--ColorLocal) calc(var(--LocalAddedValue, 0%) + var(--NeutralAddedValue, 0%)),
			var(--ColorForeign)  calc(var(--LocalAddedValue, 0%) + var(--NeutralAddedValue, 0%)),
			var(--ColorForeign) var(--TotalAddedValue, 0%),
			transparent var(--TotalAddedValue, 0%), transparent 100%);
	clip-path: url(#beer-clip-path);
}

.chain .icon {
	--IconHeight: calc(var(--Row) * 2.5 * var(--Size));
	height: var(--IconHeight);
	fill: currentColor;
}

}
