fieldset {
	border: none;
	display: contents;
}

fieldset>*+*,
fieldset~fieldset>* {
	margin-top: calc(var(--Row) / 2);
}

fieldset label {
	position: relative;
	display: inline-flex;
	align-items: baseline;
	box-sizing: border-box;
	color: var(--brown);
	flex-shrink: 0;
	text-transform: lowercase;
	flex-grow: 0;
	flex-basis: auto;
}

fieldset span,
fieldset input {
	border: 0;
	border-bottom: 1px solid var(--lt-purple);
	padding: calc(var(--Row) / 8) calc(var(--Row) / 4);
	display: inline-block;
	position: relative;
	font-weight: 600;
}

fieldset input:-webkit-autofill {
	background-color: var(--ColorBgControls) !important;
	box-shadow: inset 0 0 0 100px var(--ColorBgControls);
}

fieldset span {
	border-radius: 5px 0 0 0;
}

fieldset span~span {
	border: initial;
	box-shadow: initial;
}

fieldset input[type=radio]+span {
	padding: calc(var(--Row) / 4) calc(var(--Row) / 2);
}

fieldset input[type=radio] {
	all: initial;
	appearance: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

fieldset div {
	align-items: baseline;
	/* SuperDiv */
	--DivItemGutter: var(--Row);
}

fieldset p {
	font-weight: 700;
	flex-grow: 1;
	flex-basis: 0;
}

fieldset:valid input[type=radio]:not(:hover):not(:checked)~span {
	background-color: var(--ltst-primary);
}

fieldset input[type=radio]:checked~span[class] {
	background-color: currentColor;
	background-image: linear-gradient(#ffffffe0 0, #ffffffe0 100%);
	background-blend-mode: hard-light;
}

