figure {
	color: var(--Color);
	max-width: 100%;
	box-sizing: border-box;
	overflow: auto;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

figure figcaption {
	text-align: center;
	position: sticky;
	transition-delay: 90ms;
	margin-top: var(--Row);
	max-width: 98vw;
	left: 0;
	right: 0;
}

figure figcaption>* {
	text-align: left;
}

figure figcaption>p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

figure figcaption>div {
	margin-left: auto;
	margin-right: auto;
	max-width: max-content;
	align-items: flex-start;
}

figure figcaption *+p {
	margin-top: calc(var(--Row) * .25);
}

figure figcaption>div>* {
	max-width: 40ch;
}

figure figcaption>div>:first-child {
	max-width: 25ch;
}

figure figcaption>div>:nth-child(2):last-child {
	max-width: 75ch;
}



