.goods-list section {
	flex-direction: row-reverse;
	align-content: flex-start;
	align-items: baseline;
	flex-wrap: wrap-reverse;
}

.goods-list div[data-code] {
	display: contents;
	color: var(--Color);
	fill: currentColor;
}

.goods-list div:not(:hover)>svg {
	transition-delay: 20ms;
}

.goods-list svg {
	align-items: flex-end;
	width: var(--Row);
	height: var(--Row);
	display: block;
	flex-shrink: 0;
	position: static;
	padding: 2px;
	margin: 0;
	box-sizing: border-box;
	fill: currentColor;
}

.goods-list .toggle-units:not(:checked)~div,
.goods-list .toggle-units:not(:checked)~.toggle-subunits {
	pointer-events: none;
	opacity: 0;
	transform-origin: bottom center;
}

.goods-list .toggle-subunits {
	order: 1;
}

.goods-list .subunit>svg {
	order: 2;
}

.goods-list .subunit>svg {
	transition: 220ms var(--ease-out);
	transition-property: height, width, padding, opacity;
}

.goods-list .toggle-subunits:not(:checked)~.subunit>svg,
.goods-list .toggle-units:not(:checked)~div>svg,
.goods-list .toggle-units:not(:checked)~.toggle-subunits {
	height: 0;
	width: 0;
	padding: 0;
	opacity: 0;
	pointer-events: none;
}

.goods-list [class*="toggle-"] {
	font-size: .75em;
}
.goods-list section:not(:hover)>[class*="toggle-"]:before {
	box-shadow: none;
	border-color: transparent;
	background-color: transparent;
}

.goods-list .toggle-subunits {
	margin-left: .5em;
	margin-right: .5em;
	position: relative;
	top: -.5em;
}

.goods-list .toggle-units {
	position: absolute;
	left: 100%;
	bottom: 3em;
	margin-left: -.75em;
	z-index: 2;
	box-shadow: 0px 0px 0px 4px var(--ColorBg);
	border-radius: 3px;
}

.goods-list .product>section {
	position: relative;
}
