.goods-list>.product>section {
	fill: currentColor;
	padding-bottom: calc(var(--Row) / 2);
	flex-direction: row-reverse;
	align-content: flex-start;
	align-items: baseline;
	flex-wrap: wrap-reverse;
}

.goods-list>.product p {
	display: contents;
}

.goods-list>.product p:not(:hover) * {
	transition-delay: 20ms;
}

.goods-list>.product p>span {
	align-items: flex-end;
	width: var(--Row);
	height: var(--Row);
	flex-shrink: 0;
	position: static;
	padding: 1px;
	margin: 0;
}

.goods-list>.product p>span svg {
	height: 100%;
	width: 100%;
}


.goods-list .toggle-units:not(:checked)~p,
.goods-list .toggle-units:not(:checked)~.toggle-subunits {
	pointer-events: none;
	opacity: 0;
	transform-origin: bottom center;
}

.goods-list .toggle-subunits {
	order: 1;
}

.goods-list .subunit>span {
	order: 2;
}

.goods-list .subunit>span {
	transition: 220ms var(--ease-out-back);	
	transition-property: height, width, padding, opacity;
}

.goods-list .toggle-subunits:not(:checked)~.subunit>span,
.goods-list .toggle-units:not(:checked)~p>span,
.goods-list .toggle-units:not(:checked)~.toggle-subunits {
	height: 0;
	width: 0;
	padding: 0;
	opacity: 0;
	pointer-events: none;
}

.goods-list [class*="toggle-"] {
	font-size: .75em;
}
.goods-list section:not(:hover)>[class*="toggle-"] {
	opacity: 0;
}

.goods-list .toggle-subunits {
	margin-left: .5em;
	margin-right: .5em;
	position: relative;
	top: -.5em;
}

.goods-list .toggle-units {
	position: absolute;
	left: 100%;
	bottom: 3em;
	margin-left: -.75em;
	z-index: 2;
	box-shadow: 0px 0px 0px 4px var(--ColorBg);
	border-radius: 3px;
}

.goods-list .product>section {
	position: relative;
}
