/* Composante de navigation. 
	Toute propriété relevant de la composition
	se retrouve dans « l-master_composition.css » */

nav {
	background-color: var(--ltst-primary);
	display: flex;
	overflow: auto;
	scrollbar-width: none;
}

nav::-webkit-scrollbar {
	display: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	--LineHeightFactor: .75;
}

nav a,
nav header {
	padding: calc(var(--Row) * .25) var(--Row);
}

nav header>*+* {
	margin-top: calc(var(--Row) * .25);
}

nav a {
	text-decoration: none;
	position: relative;
	margin: 0;
	display: flex;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
}

nav header {
	padding-top: calc(var(--Row) * 2.3);
	padding-bottom: calc(var(--Row) * .8);
	background-color: var(--dk-beige);
}

nav header span {
	font-size: .7125em;
	font-weight: 600;
}

nav header strong {
	padding: .1825em .325em;
	text-transform: uppercase;
	border-radius: 3px;
	font-weight:800;
	background-color: var(--dk-brown);
	color: var(--beige);
	margin-right: .25em;
	text-shadow: 0px 2px 0px var(--brown);
}

nav ul li li>a:before {
	font-weight: 700;
	color: var(--dk-brown);
	line-height: 1;
	vertical-align: top;
	text-align: center;
	text-indent: -.25em;
}

nav li.is-complete>a:before {
	background-image: none;
	content: "✓";
	font-size: clamp(16px, 1rem, .8em);
	line-height: 120%;
}

nav a::before {
	content: "";
	display: inline-block;
	flex-shrink: 0;
	z-index: 1;
	position: relative;
	align-self: center;
	background-repeat: no-repeat;
	background-size: 90%;
	background-image: var(--base64-book);
}

nav [data-type=question]>a:before {
	background-image: var(--base64-question);
}

nav [data-type=chaine]>a:before {
	background-image: var(--base64-chain-link);
}

nav>ul>li>a:before {
	background-image: var(--base64-mark);
	background-size: 125%;
	background-position: -.125rem -.125rem;
}

nav>ul>li.is-complete>a:before {
	background-image: var(--base64-thumb);
	background-position: 70% center;
	background-size: 140%;
}

.toggle-internal-nav {
	position: absolute;
	-webkit-appearance: none;
	appearance: none;
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	visibility: hidden;
	top: calc(var(--Row) * .9875);
	left: var(--Row);
}

@media (min-height: 40em) and (min-width: 80em) {
	.toggle-internal-nav {
		position: fixed;
	}
	
	.toggle-internal-nav::before {
		margin-left: -.5rem;
	} 
}

@media (min-height: 40em) and (min-width: 100em) {
	.toggle-internal-nav::after {
		content: "Menu";
		font-weight: 900;
		text-transform: uppercase;
		font-size: 12px;
		color: var(--lt-primary);
		visibility: visible;
	}
}

.toggle-internal-nav::before {
	color: var(--brown);
	align-items: center;
	justify-content: center;
	content: "▶";
	text-align: center;
	font-size: 9px;
	line-height: 1.75em;
	position: relative;
	display: block;
	width: 1.25em;
	height: 1.75em;
	margin-right: .5rem;
	visibility: visible;
}

.toggle-internal-nav:checked::before {
	content: "◀";
}

.toggle-internal-nav:checked::after {
	color: var(--dk-brown);
}

.toggle-internal-nav:not(:checked)~nav ul * {
	color: transparent;
}

.toggle-internal-nav:not(:checked)~nav header * {
	opacity: 0;
}

nav details {
	--ScaleLevel: var(--Short);
	--LineHeightFactor: .75;
}

@media (orientation: landscape) {
	nav {
		width: 30ch;
		flex-direction: column;
	}

	nav>* {
		width: 30ch;
		box-sizing: border-box;
	}
	
	nav a {
		padding-left: calc(var(--Row) * .25);
	}

	nav a::before {
		width: 1.25rem;
		height: 1.125rem;
		margin-right: .5rem;
	}

	.toggle-internal-nav:not(:checked)~nav {
		width: calc(var(--Row) * 1.125);
	}
}

@media (orientation: portrait) {
	body>.toggle-internal-nav,
	nav header {
		display: none;
	}

	nav {
		order: 1;
	}

	nav * {
		display: flex;
	}

	nav a {
		width: calc(var(--Row) * 1.75);
		height: calc(var(--Row) * 1.75);
		padding: 0;
		font-size: 0;
		align-items: center;
		justify-content: center;
	}

	nav a::before {
		width: 1.75rem;
		height: 1.75rem;
	}
}
