
.intervention div>*+* {
	margin-top: calc(var(--Row) * .5);
}

.intervention q::first-line {
	font-weight: 700;
}

.intervention q+cite {
	margin-top: calc(var(--Row) * .25);
}

.intervention>div {
	/* padding-left: calc(var(--Row) * 1.25); */
	/* margin: 0; */
	/* --Color: var(--ColorSupport); */
	--DivDisplay: block;
}


