/* Composante de navigation. 
	Toute propriété relevant de la composition
	se retrouve dans « l-master_composition.css » */

nav {
	background-color: var(--ColorAccent);
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 30ch;
}

nav::-webkit-scrollbar {
	display: none;
}

nav>* {
	width: 30ch;
	box-sizing: border-box;
}

body>nav a {
	margin: 0;
	display: block;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	--LineHeightFactor: .75;
}

nav a,
nav header {
	padding: calc(var(--Row) * .25) var(--Row);
}

nav header>*+* {
	margin-top: calc(var(--Row) * .25);
}

nav a {
	text-decoration: none;
	position: relative;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

nav a {
	background-color: var(--ltst-primary);
}

nav li.is-complete>a {
	background-color: var(--lt-green);
}

nav li.is-incomplete>a {
	background-color: var(--lt-red);
}

nav ul ul li.is-complete>a:before {
	content: "•";
	background-image: none;
	font-weight: 700;
	color: var(--dk-brown);
	line-height: 1;
	vertical-align: top;
	text-align: center;
	text-indent: -.25em;
}

nav li.has-active li.is-complete>a:before {
	content: "✓";
	font-size: .8em;
}

nav a {
	padding-left: calc(var(--Row) * .25);
}

nav a::before {
	content: "";
	display: inline-block;
	width: 1.25rem;
	height: 1.125rem;
	top: .1425rem;
	margin-right: .5rem;
}


nav a:before {
	flex-shrink: 0;
	z-index: 1;
	position: relative;
	background-repeat: no-repeat;
	background-size: 1.125rem;
	background-image: var(--base64-book);
}
nav li:not(.is-active)>a:before {
	opacity: 0.5;
}

nav [data-type=question]>a:before {
	background-image: var(--base64-question);
}

nav [data-type=chaine]>a:before {
	background-image: var(--base64-chain-link);
}

nav>ul>li>a:before {
	background-image: var(--base64-mark);
	background-size: 125%;
	background-position: -.125rem -.125rem;
}

nav>ul>li.is-complete>a:before {
	background-image: var(--base64-thumb);
	background-position: 70% center;
	background-size: 140%;
}

nav li.is-active>a:before {
	content: "";
}

nav li.is-active~* a,
nav li.is-active li a,
nav li.has-active~* a,
nav li.has-active li.is-active~li a {
	background-color: var(--ltst-primary);
	color: var(--brown);
}

nav li li.is-active~* a,
nav li.has-active~li li a {
}

nav li.has-active li.is-complete a {
	background-color: var(--dk-yellow);
}

nav li.has-active>a {
	background-color: var(--dk-yellow);
}

nav li.is-active>a {
	background-color: var(--ColorAccent);
}

@media (orientation: portrait) {
	nav a {
		flex-shrink: 0;
	}
}

.trigger-internal-nav {
	appearance: none;
	position: fixed;
	top: calc(var(--Row) * .9875);
	left: var(--Row);
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.trigger-internal-nav::before {
	color: var(--brown);
	display: flex;
	align-items: center;
	justify-content: center;
	content: "▶";
	text-align: center;
	font-size: 9px;
	line-height: 1.75em;
	margin-left: -.5rem;
	background-color: var(--ltr-primary);
	border: 1px solid var(--ltst-primary);
	border-top-width: 1px;
	border-bottom-width: 2px;
	box-shadow: 0 1px 2px  var(--purple);
	position: relative;
	display: block;
	width: 1.25rem;
	height: 1.75em;
	margin-right: .5rem;
}

.trigger-internal-nav:checked::before {
	content: "◀";
}

.trigger-internal-nav:checked~main>* {
	padding-left: calc(var(--Row) * .5);
} 

.trigger-internal-nav::after {
	content: "Menu";
	font-weight: 900;
	text-transform: uppercase;
	font-size: 12px;
	color: var(--lt-primary);
}
.trigger-internal-nav:checked::after {
	color: var(--dk-brown);
}

.trigger-internal-nav:not(:checked)~nav {
	width: calc(var(--Row) * 1.125);
}

.trigger-internal-nav:not(:checked)~nav ul * {
	color: transparent;
}

.trigger-internal-nav:not(:checked)~nav header * {
	opacity: 0;
}

nav header {
	padding-top: calc(var(--Row) * 2.3);
	padding-bottom: calc(var(--Row) * .8);
	background-color: var(--dk-beige);
}

nav header span {
	font-size: .7125em;
	font-weight: 600;
}

nav header strong {
	padding: .1825em .325em;
	text-transform: uppercase;
	border-radius: 3px;
	font-weight:800;
	background-color: var(--dk-brown);
	color: var(--beige);
	margin-right: .25em;
	text-shadow: 0px 2px 0px var(--brown);
}

nav details {
	--ScaleLevel: var(--Short);
	--LineHeightFactor: .75;
}
