.intervention div>*+* {
	margin-top: calc(var(--Row) * .5);
}

.intervention q::first-line {
	font-weight: 700;
}

.intervention q+cite {
	margin-top: calc(var(--Row) * .25);
}

.intervention>div {
	display: block;
	text-align: var(--MasterAlignment, left);
}

.intervention>svg[class*="cartoon"] {
	height: calc(var(--Row) * 3);
	width: calc(var(--Row) * 3);
	float: var(--MasterAlignment, left);
	shape-outside:circle(70.96% at 45.44% 45.54%) padding-box;
	padding: calc(var(--Row) * .5);
	position: relative;
}
